In [1]:
import numpy as np
import pandas as pd
import re
from functools import reduce

# NOW WE LOAD ALL THE DATASETS REGARDING THE FNIH SQxx RESEARCH

# FIRST THE FEATURES THAT REMAINED ZERO

In [2]:
fnih_sq_bml_zero_0001 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_BML_zero0001.csv')
fnih_sq_bml_zero_000103 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_03_BML_zero000103.csv')
fnih_sq_osteo_zero_0001 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_Osteo_zero0001.csv')
fnih_sq_osteo_zero_000103 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_03_Osteo_zero000103.csv')
fnih_sq_anytcl_zero_0001 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_AnyTCL_zero0001.csv')
fnih_sq_anytcl_zero_000103 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_03_AnyTCL_zero000103.csv')
fnih_sq_partialtcl_zero_0001 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_PartialTCL_zero0001.csv')
fnih_sq_partialtcl_zero_000103 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_03_PartialTCL_zero000103.csv')
fnih_sq_fulltcl_zero_0001 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_FullTCL_zero0001.csv')
fnih_sq_fulltcl_zero_000103 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_03_FullTCL_zero000103.csv')
fnih_sq_men_zero_0001 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_Meniscus_zero0001.csv')
fnih_sq_men_zero_000103 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_03_Meniscus_zero000103.csv')

# AND THE MOAKS CRITERIA THAT REMAINED ZERO

In [3]:
fnih_sq_moaks_zero_0001 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/moaks_fnih_sq00_01_that_remain_zero.csv')
fnih_sq_moaks_zero_000103 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/moaks_fnih_sq00_01_03_that_remain_zero.csv')

# NOW WE EXAMINE SOME METRICS REGARDING THE PATIENTS THAT DID NOT PROGRESSED

In [4]:
print('Number of patients with ZERO BML in fnih_sq_00 and fnih_sq_01 is {} and in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is {}'
.format(fnih_sq_bml_zero_0001.shape[0],fnih_sq_bml_zero_000103.shape[0]))
print(pd.merge(fnih_sq_bml_zero_0001,fnih_sq_bml_zero_000103,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with ZERO OSTEOPHYTES in fnih_sq_00 and fnih_sq_01 is {} and in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is {}'
.format(fnih_sq_osteo_zero_0001.shape[0],fnih_sq_osteo_zero_000103.shape[0]))
print(pd.merge(fnih_sq_osteo_zero_0001,fnih_sq_osteo_zero_000103,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with ZERO ANY TCL in fnih_sq_00 and fnih_sq_01 is {} and in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is {}'
.format(fnih_sq_anytcl_zero_0001.shape[0],fnih_sq_anytcl_zero_000103.shape[0]))
print(pd.merge(fnih_sq_anytcl_zero_0001,fnih_sq_anytcl_zero_000103,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with ZERO PARTIAL TCL in fnih_sq_00 and fnih_sq_01 is {} and in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is {}'
.format(fnih_sq_partialtcl_zero_0001.shape[0],fnih_sq_partialtcl_zero_000103.shape[0]))
print(pd.merge(fnih_sq_partialtcl_zero_0001,fnih_sq_partialtcl_zero_000103,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with ZERO FULL TCL in fnih_sq_00 and fnih_sq_01 is {} and in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is {}'
.format(fnih_sq_fulltcl_zero_0001.shape[0],fnih_sq_fulltcl_zero_000103.shape[0]))
print(pd.merge(fnih_sq_fulltcl_zero_0001,fnih_sq_fulltcl_zero_000103,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with ZERO MENISCAL DEGRADATION in fnih_sq_00 and fnih_sq_01 is {} and in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is {}'
.format(fnih_sq_men_zero_0001.shape[0],fnih_sq_men_zero_000103.shape[0]))
print(pd.merge(fnih_sq_men_zero_0001,fnih_sq_men_zero_000103,on=['ID','SIDE'],how='inner').shape[0])

Number of patients with ZERO BML in fnih_sq_00 and fnih_sq_01 is 213 and in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is 178
178
Number of patients with ZERO OSTEOPHYTES in fnih_sq_00 and fnih_sq_01 is 46 and in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is 39
39
Number of patients with ZERO ANY TCL in fnih_sq_00 and fnih_sq_01 is 29 and in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is 24
24
Number of patients with ZERO PARTIAL TCL in fnih_sq_00 and fnih_sq_01 is 91 and in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is 86
86
Number of patients with ZERO FULL TCL in fnih_sq_00 and fnih_sq_01 is 504 and in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is 483
483
Number of patients with ZERO MENISCAL DEGRADATION in fnih_sq_00 and fnih_sq_01 is 97 and in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is 89
89

In [5]:
df_fnih_tcl_zero_0001 = [fnih_sq_fulltcl_zero_0001,fnih_sq_partialtcl_zero_0001,fnih_sq_anytcl_zero_0001]
fnih_sq_tcl_zero_0001 = reduce(lambda left,right: pd.merge(left,right, on=['ID','SIDE'],how='outer'),df_fnih_tcl_zero_0001)
fnih_sq_tcl_zero_0001 = fnih_sq_tcl_zero_0001.loc[:,['ID','SIDE','FullTCL_00','FullTCL_01','PartialTCL_00','PartialTCL_01','AnyTCL_00','AnyTCL_01']]
print('Number of duplicate IDs in the merged TCL dfs in fnih_sq_00 and fnih_sq_01 is: {}'.format(fnih_sq_tcl_zero_0001.duplicated(subset=['ID','SIDE']).sum()))
fnih_sq_tcl_zero_0001.drop_duplicates(subset=['ID','SIDE'],inplace=True)
print('Number of unique patients with ZERO PARTIAL,FULL and ANYTCL in fnih_sq_00 and fnih_sq_01 is {}'.format(fnih_sq_tcl_zero_0001.shape[0]))

df_fnih_tcl_zero_000103 = [fnih_sq_fulltcl_zero_000103,fnih_sq_partialtcl_zero_000103,fnih_sq_anytcl_zero_000103]
fnih_sq_tcl_zero_000103 = reduce(lambda left,right: pd.merge(left,right, on=['ID','SIDE'],how='outer'),df_fnih_tcl_zero_000103)
fnih_sq_tcl_zero_000103 = fnih_sq_tcl_zero_000103.loc[:,['ID','SIDE','FullTCL_00','FullTCL_01','PartialTCL_00','PartialTCL_01','AnyTCL_00','AnyTCL_01']]
print('Number of duplicate IDs in the merged TCL dfs in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is: {}'.format(fnih_sq_tcl_zero_000103.duplicated(subset=['ID','SIDE']).sum()))
fnih_sq_tcl_zero_000103.drop_duplicates(subset=['ID','SIDE'],inplace=True)
print('Number of unique patients with ZERO PARTIAL,FULL and ANYTCL in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is {}'.format(fnih_sq_tcl_zero_000103.shape[0]))

Number of duplicate IDs in the merged TCL dfs in fnih_sq_00 and fnih_sq_01 is: 0
Number of unique patients with ZERO PARTIAL,FULL and ANYTCL in fnih_sq_00 and fnih_sq_01 is 566
Number of duplicate IDs in the merged TCL dfs in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is: 0
Number of unique patients with ZERO PARTIAL,FULL and ANYTCL in fnih_sq_00, fnih_sq_01 and fnih_sq_03 is 545

In [6]:
print('Number of subjects with MOAKS GRADE ZERO in FNIH_SQ_00 and fnih_sq_01 is: {}'.format(fnih_sq_moaks_zero_0001.shape[0]))
print('Number of subjects with MOAKS GRADE ZERO in FNIH_SQ_00, fnih_sq_01 and fnih_sq_03 is: {}'.format(fnih_sq_moaks_zero_000103.shape[0]))

Number of subjects with MOAKS GRADE ZERO in FNIH_SQ_00 and fnih_sq_01 is: 101
Number of subjects with MOAKS GRADE ZERO in FNIH_SQ_00, fnih_sq_01 and fnih_sq_03 is: 87

# NOW WE LOAD THE FEATURES THAT PROGRESSED IN THE FNIH STUDY

In [7]:
fnih_sq_bml_zero00_one01= pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_BML_zero00_one01.csv')
fnih_sq_bml_zero0001_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_03_BML_zero0001_one03.csv')
fnih_sq_osteo_zero00_one01= pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_Osteo_zero00_one01.csv')
fnih_sq_osteo_zero0001_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_03_Osteo_zero0001_one03.csv')
fnih_sq_anytcl_zero00_one01= pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_AnyTCL_zero00_one01.csv')
fnih_sq_anytcl_zero0001_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_03_AnyTCL_zero0001_one03.csv')
fnih_sq_partialtcl_zero00_one01= pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_PartialTCL_zero00_one01.csv')
fnih_sq_partialtcl_zero0001_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_03_PartialTCL_zero0001_one03.csv')
fnih_sq_fulltcl_zero00_one01= pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_FullTCL_zero00_one01.csv')
fnih_sq_fulltcl_zero0001_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_03_FullTCL_zero0001_one03.csv')
fnih_sq_men_zero00_one01= pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_Meniscus_zero00_one01.csv')
fnih_sq_men_zero0001_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/MOAKS_features_progression/moaks_fnih_sq00_01_03_Meniscus_zero0001_one03.csv')

In [8]:
fnih_sq_moaks_zero00_one01 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/moaks_fnih_sq00_01_zero_sq00_one_sq01.csv')
fnih_sq_moaks_zero0001_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_FNIH_SQ_Compare/moaks_fnih_sq00_01_03_zero_sq00_01_one_sq03.csv')

# NOW WE EXAMINE SOME METRICS REGARDING THE PATIENTS THAT DID PROGRESSED

In [9]:
print('Number of patients with BML PROGRESSION between fnih_sq_00 and fnih_sq_01 is {} and between fnih_sq_01 and fnih_sq_03 is {}'
.format(fnih_sq_bml_zero00_one01.shape[0],fnih_sq_bml_zero0001_one03.shape[0]))
# print(pd.merge(fnih_sq_bml_zero00_one01,fnih_sq_bml_zero0001_one03,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with OSTEOPHYTES PROGRESSION between fnih_sq_00 and fnih_sq_01 is {} and between fnih_sq_01 and fnih_sq_03 is {}'
.format(fnih_sq_osteo_zero00_one01.shape[0],fnih_sq_osteo_zero0001_one03.shape[0]))
# print(pd.merge(fnih_sq_osteo_zero00_one01,fnih_sq_osteo_zero0001_one03,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with ANY TCL PROGRESSION between fnih_sq_00 and fnih_sq_01 is {} and between fnih_sq_01 and fnih_sq_03 is {}'
.format(fnih_sq_anytcl_zero00_one01.shape[0],fnih_sq_anytcl_zero0001_one03.shape[0]))
# print(pd.merge(fnih_sq_anytcl_zero00_one01,fnih_sq_anytcl_zero0001_one03,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with PARTIAL TCL PROGRESSION between fnih_sq_00 and fnih_sq_01 is {} and between fnih_sq_01 and fnih_sq_03 is {}'
.format(fnih_sq_partialtcl_zero00_one01.shape[0],fnih_sq_partialtcl_zero0001_one03.shape[0]))
# print(pd.merge(fnih_sq_partialtcl_zero00_one01,fnih_sq_partialtcl_zero0001_one03,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with FULL TCL PROGRESSION between fnih_sq_00 and fnih_sq_01 is {} and between fnih_sq_01 and fnih_sq_03 is {}'
.format(fnih_sq_fulltcl_zero00_one01.shape[0],fnih_sq_fulltcl_zero0001_one03.shape[0]))
# print(pd.merge(fnih_sq_fulltcl_zero00_one01,fnih_sq_fulltcl_zero0001_one03,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with MENISCAL DEGRADATION PROGRESSION between fnih_sq_00 and fnih_sq_01 is {} and between fnih_sq_01 and fnih_sq_03 is {}'
.format(fnih_sq_men_zero00_one01.shape[0],fnih_sq_men_zero0001_one03.shape[0]))
# print(pd.merge(fnih_sq_men_zero00_one01,fnih_sq_men_zero0001_one03,on=['ID','SIDE'],how='inner').shape[0])

Number of patients with BML PROGRESSION between fnih_sq_00 and fnih_sq_01 is 32 and between fnih_sq_01 and fnih_sq_03 is 35
Number of patients with OSTEOPHYTES PROGRESSION between fnih_sq_00 and fnih_sq_01 is 7 and between fnih_sq_01 and fnih_sq_03 is 7
Number of patients with ANY TCL PROGRESSION between fnih_sq_00 and fnih_sq_01 is 1 and between fnih_sq_01 and fnih_sq_03 is 5
Number of patients with PARTIAL TCL PROGRESSION between fnih_sq_00 and fnih_sq_01 is 5 and between fnih_sq_01 and fnih_sq_03 is 5
Number of patients with FULL TCL PROGRESSION between fnih_sq_00 and fnih_sq_01 is 4 and between fnih_sq_01 and fnih_sq_03 is 17
Number of patients with MENISCAL DEGRADATION PROGRESSION between fnih_sq_00 and fnih_sq_01 is 8 and between fnih_sq_01 and fnih_sq_03 is 8

In [10]:
df_fnih_tcl_zero00_one01 = [fnih_sq_fulltcl_zero00_one01,fnih_sq_partialtcl_zero00_one01,fnih_sq_anytcl_zero00_one01]
fnih_sq_tcl_zero00_one01 = reduce(lambda left,right: pd.merge(left,right, on=['ID','SIDE'],how='outer'),df_fnih_tcl_zero00_one01)
fnih_sq_tcl_zero00_one01 = fnih_sq_tcl_zero00_one01.loc[:,['ID','SIDE','FullTCL_00','FullTCL_01','PartialTCL_00','PartialTCL_01','AnyTCL_00','AnyTCL_01']]
print('Number of duplicate IDs in the merged TCL dfs in fnih_sq_00 and ONE at fnih_sq_01 is: {}'.format(fnih_sq_tcl_zero00_one01.duplicated(subset=['ID','SIDE']).sum()))
fnih_sq_tcl_zero00_one01.drop_duplicates(subset=['ID','SIDE'],inplace=True)
print('Number of patients with ZERO PARTIAL,FULL and ANYTCL in fnih_sq_00 and ONE at fnih_sq_01 is {}'.format(fnih_sq_tcl_zero00_one01.shape[0]))

df_fnih_tcl_zero0001_one03 = [fnih_sq_fulltcl_zero0001_one03,fnih_sq_partialtcl_zero0001_one03,fnih_sq_anytcl_zero0001_one03]
fnih_sq_tcl_zero0001_one03 = reduce(lambda left,right: pd.merge(left,right, on=['ID','SIDE'],how='outer'),df_fnih_tcl_zero0001_one03)
fnih_sq_tcl_zero0001_one03 = fnih_sq_tcl_zero0001_one03.loc[:,['ID','SIDE','FullTCL_00','FullTCL_01','PartialTCL_00','PartialTCL_01','AnyTCL_00','AnyTCL_01']]
print('Number of duplicate IDs in the merged TCL dfs in fnih_sq_00, fnih_sq_01 and ONE at fnih_sq_03is: {}'.format(fnih_sq_tcl_zero0001_one03.duplicated(subset=['ID','SIDE']).sum()))
fnih_sq_tcl_zero0001_one03.drop_duplicates(subset=['ID','SIDE'],inplace=True)
print('Number of patients with ZERO PARTIAL,FULL and ANYTCL in fnih_sq_00, fnih_sq_01 and ONE at fnih_sq_03 is {}'.format(fnih_sq_tcl_zero0001_one03.shape[0]))

Number of duplicate IDs in the merged TCL dfs in fnih_sq_00 and ONE at fnih_sq_01 is: 0
Number of patients with ZERO PARTIAL,FULL and ANYTCL in fnih_sq_00 and ONE at fnih_sq_01 is 9
Number of duplicate IDs in the merged TCL dfs in fnih_sq_00, fnih_sq_01 and ONE at fnih_sq_03is: 0
Number of patients with ZERO PARTIAL,FULL and ANYTCL in fnih_sq_00, fnih_sq_01 and ONE at fnih_sq_03 is 22

In [11]:
print('Number of subjects with MOAKS GRADE ZERO in FNIH_SQ_00 and ONE fnih_sq_01 is: {}'.format(fnih_sq_moaks_zero00_one01.shape[0]))
print('Number of subjects with MOAKS GRADE ZERO in FNIH_SQ_00, fnih_sq_01 and ONE in fnih_sq_03 is: {}'.format(fnih_sq_moaks_zero0001_one03.shape[0]))

Number of subjects with MOAKS GRADE ZERO in FNIH_SQ_00 and ONE fnih_sq_01 is: 20
Number of subjects with MOAKS GRADE ZERO in FNIH_SQ_00, fnih_sq_01 and ONE in fnih_sq_03 is: 14

# NOW WE LOAD ALL THE DATASETS REGARDING THE SQxx RESEARCH

# FIRST THE FEATURES THAT REMAINED ZERO

In [12]:
sq_bml_zero_0001 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_BML_zero0001.csv')
sq_bml_zero_000103 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_BML_zero000103.csv')
sq_bml_zero_00010305 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_BML_zero00010305.csv')
sq_bml_zero_0001030506 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_06_BML_zero0001030506.csv')

sq_anytcl_zero_0001 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_AnyTCL_zero0001.csv')
sq_anytcl_zero_000103 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_AnyTCL_zero000103.csv')
sq_anytcl_zero_00010305 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_AnyTCL_zero00010305.csv')
sq_anytcl_zero_0001030506 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_06_AnyTCL_zero0001030506.csv')

sq_partialtcl_zero_0001 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_PartialTCL_zero0001.csv')
sq_partialtcl_zero_000103 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_PartialTCL_zero000103.csv')
sq_partialtcl_zero_00010305 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_PartialTCL_zero00010305.csv')
sq_partialtcl_zero_0001030506 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_06_PartialTCL_zero0001030506.csv')

sq_fulltcl_zero_0001 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_FullTCL_zero0001.csv')
sq_fulltcl_zero_000103 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_FullTCL_zero000103.csv')
sq_fulltcl_zero_00010305 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_FullTCL_zero00010305.csv')
sq_fulltcl_zero_0001030506 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_06_FullTCL_zero0001030506.csv')

sq_men_zero_0001 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_Meniscus_zero0001.csv')
sq_men_zero_000103 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_Meniscus_zero000103.csv')
sq_men_zero_00010305 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_Meniscus_zero00010305.csv')
sq_men_zero_0001030506 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_06_Meniscus_zero0001030506.csv')

In [13]:
sq_moaks_zero_0001 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/moaks_sq00_01_that_remain_zero.csv')
sq_moaks_zero_000103 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/moaks_sq00_01_03_that_remain_zero.csv')
sq_moaks_zero_00010305 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/moaks_sq00_01_03_05_that_remain_zero.csv')
sq_moaks_zero_0001030506 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/moaks_sq00_01_03_05_06_that_remain_zero.csv')

# NOW WE EXAMINE SOME METRICS REGARDING THE PATIENTS THAT DID NOT PROGRESSED

In [14]:
print('Number of patients with ZERO BML in sq_00 and sq_01 is {} and in sq_00, sq_01 and sq_03 is {}'
.format(sq_bml_zero_0001.shape[0],sq_bml_zero_000103.shape[0]))
print('Number of patients with ZERO BML in sq_00, sq_01,sq_03 and sq_05 is {} and in sq_00, sq_01, sq_03, sq_05 and sq_06 is {}'
.format(sq_bml_zero_00010305.shape[0],sq_bml_zero_0001030506.shape[0]))
print(pd.merge(sq_bml_zero_0001,sq_bml_zero_0001030506,on=['ID','SIDE'],how='inner').shape[0])


print('Number of patients with ZERO ANY TCL in sq_00 and sq_01 is {} and in sq_00, sq_01 and sq_03 is {}'
.format(sq_anytcl_zero_0001.shape[0],sq_anytcl_zero_000103.shape[0]))
print('Number of patients with ZERO ANY TCL in sq_00, sq_01, sq_03 and sq_05 is {} and in sq_00, sq_01, sq_03, sq_05 and sq_06 is {}'
.format(sq_anytcl_zero_00010305.shape[0],sq_anytcl_zero_0001030506.shape[0]))
print(pd.merge(sq_anytcl_zero_0001,sq_anytcl_zero_0001030506,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with ZERO PARTIAL TCL in sq_00 and sq_01 is {} and in sq_00, sq_01 and sq_03 is {}'
.format(sq_partialtcl_zero_0001.shape[0],sq_partialtcl_zero_000103.shape[0]))
print('Number of patients with ZERO PARTIAL TCL in sq_00, sq_01, sq_03 and sq_05 is {} and in sq_00, sq_01, sq_03, sq_05 and sq_06 is {}'
.format(sq_partialtcl_zero_00010305.shape[0],sq_partialtcl_zero_0001030506.shape[0]))
print(pd.merge(sq_partialtcl_zero_0001,sq_partialtcl_zero_0001030506,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with ZERO FULL TCL in sq_00 and sq_01 is {} and in sq_00, sq_01 and sq_03 is {}'
.format(sq_fulltcl_zero_0001.shape[0],sq_fulltcl_zero_000103.shape[0]))
print('Number of patients with ZERO FULL TCL in sq_00, sq_01, sq_03 and sq_05 is {} and in sq_00, sq_01, sq_03, sq_05 and sq_06 is {}'
.format(sq_fulltcl_zero_00010305.shape[0],sq_fulltcl_zero_0001030506.shape[0]))
print(pd.merge(sq_fulltcl_zero_0001,sq_fulltcl_zero_0001030506,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with ZERO MENISCAL DEGRADATION in sq_00 and sq_01 is {} and in sq_00, sq_01 and sq_03 is {}'
.format(sq_men_zero_0001.shape[0],sq_men_zero_000103.shape[0]))
print('Number of patients with ZERO MENISCAL DEGRADATION in sq_00, sq_01, sq_03 and sq_05 is {} and in sq_00, sq_01, sq_03, sq_05 and sq_06 is {}'
.format(sq_men_zero_00010305.shape[0],sq_men_zero_0001030506.shape[0]))
print(pd.merge(sq_men_zero_0001,sq_men_zero_0001030506,on=['ID','SIDE'],how='inner').shape[0])

Number of patients with ZERO BML in sq_00 and sq_01 is 449 and in sq_00, sq_01 and sq_03 is 299
Number of patients with ZERO BML in sq_00, sq_01,sq_03 and sq_05 is 152 and in sq_00, sq_01, sq_03, sq_05 and sq_06 is 49
49
Number of patients with ZERO ANY TCL in sq_00 and sq_01 is 117 and in sq_00, sq_01 and sq_03 is 67
Number of patients with ZERO ANY TCL in sq_00, sq_01, sq_03 and sq_05 is 35 and in sq_00, sq_01, sq_03, sq_05 and sq_06 is 11
11
Number of patients with ZERO PARTIAL TCL in sq_00 and sq_01 is 309 and in sq_00, sq_01 and sq_03 is 208
Number of patients with ZERO PARTIAL TCL in sq_00, sq_01, sq_03 and sq_05 is 106 and in sq_00, sq_01, sq_03, sq_05 and sq_06 is 31
31
Number of patients with ZERO FULL TCL in sq_00 and sq_01 is 703 and in sq_00, sq_01 and sq_03 is 521
Number of patients with ZERO FULL TCL in sq_00, sq_01, sq_03 and sq_05 is 293 and in sq_00, sq_01, sq_03, sq_05 and sq_06 is 122
122
Number of patients with ZERO MENISCAL DEGRADATION in sq_00 and sq_01 is 290 and in sq_00, sq_01 and sq_03 is 183
Number of patients with ZERO MENISCAL DEGRADATION in sq_00, sq_01, sq_03 and sq_05 is 95 and in sq_00, sq_01, sq_03, sq_05 and sq_06 is 25
25

In [15]:
df_sq_tcl_zero_0001 = [sq_fulltcl_zero_0001,sq_partialtcl_zero_0001,sq_anytcl_zero_0001]
sq_tcl_zero_0001 = reduce(lambda left,right: pd.merge(left,right, on=['ID','SIDE'],how='outer'),df_sq_tcl_zero_0001)
sq_tcl_zero_0001 = sq_tcl_zero_0001.loc[:,['ID','SIDE','FullTCL_00','FullTCL_01','PartialTCL_00','PartialTCL_01','AnyTCL_00','AnyTCL_01']]
print('Number of duplicate IDs in the merged TCL dfs in sq_00 and sq_01 is: {}'.format(sq_tcl_zero_0001.duplicated(subset=['ID','SIDE']).sum()))
sq_tcl_zero_0001.drop_duplicates(subset=['ID','SIDE'],inplace=True)
print('Number of unique patients with ZERO PARTIAL,FULL and ANYTCL in sq_00 and sq_01 is {}'.format(sq_tcl_zero_0001.shape[0]))

df_sq_tcl_zero_000103 = [sq_fulltcl_zero_000103,sq_partialtcl_zero_000103,sq_anytcl_zero_000103]
sq_tcl_zero_000103 = reduce(lambda left,right: pd.merge(left,right, on=['ID','SIDE'],how='outer'),df_sq_tcl_zero_000103)
sq_tcl_zero_000103 = sq_tcl_zero_000103.loc[:,['ID','SIDE','FullTCL_00','FullTCL_01','PartialTCL_00','PartialTCL_01','AnyTCL_00','AnyTCL_01']]
print('Number of duplicate IDs in the merged TCL dfs in sq_00, sq_01 and sq_03 is: {}'.format(sq_tcl_zero_000103.duplicated(subset=['ID','SIDE']).sum()))
sq_tcl_zero_000103.drop_duplicates(subset=['ID','SIDE'],inplace=True)
print('Number of unique patients with ZERO PARTIAL,FULL and ANYTCL in sq_00, sq_01 and sq_03is {}'.format(sq_tcl_zero_000103.shape[0]))

Number of duplicate IDs in the merged TCL dfs in sq_00 and sq_01 is: 0
Number of unique patients with ZERO PARTIAL,FULL and ANYTCL in sq_00 and sq_01 is 895
Number of duplicate IDs in the merged TCL dfs in sq_00, sq_01 and sq_03 is: 0
Number of unique patients with ZERO PARTIAL,FULL and ANYTCL in sq_00, sq_01 and sq_03is 662

In [16]:
print('Number of subjects with ZERO MOAKS at sq_00 and sq_01 is : {}'.format(sq_moaks_zero_0001.shape[0]))
print('Number of subjects with ZERO MOAKS at sq_00, sq_01 and sq_03 is : {}'.format(sq_moaks_zero_000103.shape[0]))

Number of subjects with ZERO MOAKS at sq_00 and sq_01 is : 483
Number of subjects with ZERO MOAKS at sq_00, sq_01 and sq_03 is : 304

In [17]:
ids = sq_tcl_zero_0001.loc[:,['ID','SIDE']]
ids_duplicated = ids[ids.duplicated(subset=['ID'],keep=False)]
ids_duplicated
# duplicated_IDs = sq_tcl_zero_0001[ids.isin(ids[ids.duplicated()])].reset_index()
# print(duplicated_IDs.loc[140:,['ID','SIDE']])
# print(duplicated_IDs.index[duplicated_IDs['ID']==9742871].to_list())
# print(duplicated_IDs.index[duplicated_IDs['ID']=9797352].to_list())

          ID  SIDE
13   9028904     1
14   9028904     2
15   9029791     1
16   9029791     2
18   9030718     2
..       ...   ...
865  9824005     2
879  9928319     2
880  9932333     1
893  9996865     1
894  9996865     2

[148 rows x 2 columns]

# NOW WE LOAD THE FEATURES THAT PROGRESSED IN THE SQxx STUDY

In [18]:
sq_bml_zero00_one01= pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_BML_zero00_one01.csv')
sq_bml_zero0001_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_BML_zero0001_one03.csv')
sq_bml_zero000103_one05 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_BML_zero000103_one05.csv')
sq_bml_zero00010305_one06 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_06_BML_zero00010305_one06.csv')

sq_anytcl_zero00_one01= pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_AnyTCL_zero00_one01.csv')
sq_anytcl_zero0001_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_AnyTCL_zero0001_one03.csv')
sq_anytcl_zero000103_one05 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_AnyTCL_zero000103_one05.csv')
sq_anytcl_zero00010305_one06 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_06_AnyTCL_zero00010305_one06.csv')

sq_partialtcl_zero00_one01= pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_PartialTCL_zero00_one01.csv')
sq_partialtcl_zero0001_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_PartialTCL_zero0001_one03.csv')
sq_partialtcl_zero000103_one05 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_PartialTCL_zero000103_one05.csv')
sq_partialtcl_zero00010305_one06 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_06_PartialTCL_zero00010305_one06.csv')

sq_fulltcl_zero00_one01= pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_FullTCL_zero00_one01.csv')
sq_fulltcl_zero0001_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_FullTCL_zero0001_one03.csv')
sq_fulltcl_zero000103_one05 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_FullTCL_zero000103_one05.csv')
sq_fulltcl_zero00010305_one06 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_06_FullTCL_zero00010305_one06.csv')

sq_men_zero00_one01= pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_Meniscus_zero00_one01.csv')
sq_men_zero0001_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_Meniscus_zero0001_one03.csv')
sq_men_zero000103_one05 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_Meniscus_zero000103_one05.csv')
sq_men_zero00010305_one06 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/MOAKS_features_progression/moaks_sq00_01_03_05_06_Meniscus_zero00010305_one06.csv')

In [19]:
sq_moaks_zero00_one01 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/moaks_sq00_01_zero_sq00_one_sq01.csv')
sq_moaks_zero0001_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare/moaks_sq00_01_03_zero_sq00_01_one_sq03.csv')

# NOW WE EXAMINE SOME METRICS REGARDING THE PATIENTS THAT DID PROGRESSED

In [20]:
print('Number of patients with BML PROGRESSION between sq_00 and sq_01 is {} and between sq_01 and sq_03 is {}'
.format(sq_bml_zero00_one01.shape[0],sq_bml_zero0001_one03.shape[0]))
print('Number of patients with BML PROGRESSION between sq_03 and sq_05 is {} and between sq_05 and sq_06 is {}'
.format(sq_bml_zero000103_one05.shape[0],sq_bml_zero00010305_one06.shape[0]))

print('Number of patients with ANYTCL PROGRESSION between sq_00 and sq_01 is {} and between sq_01 and sq_03 is {}'
.format(sq_anytcl_zero00_one01.shape[0],sq_anytcl_zero0001_one03.shape[0]))
print('Number of patients with ANYTCL PROGRESSION between sq_03 and sq_05 is {} and between sq_05 and sq_06 is {}'
.format(sq_anytcl_zero000103_one05.shape[0],sq_anytcl_zero00010305_one06.shape[0]))


print('Number of patients with PARTIAL TCL PROGRESSION between sq_00 and sq_01 is {} and between sq_01 and sq_03 is {}'
.format(sq_partialtcl_zero00_one01.shape[0],sq_partialtcl_zero0001_one03.shape[0]))
print('Number of patients with PARTIAL TCL PROGRESSION between sq_03 and sq_05 is {} and between sq_05 and sq_06 is {}'
.format(sq_partialtcl_zero000103_one05.shape[0],sq_partialtcl_zero00010305_one06.shape[0]))

print('Number of patients with FULL TCL PROGRESSION between sq_00 and sq_01 is {} and between sq_01 and sq_03 is {}'
.format(sq_fulltcl_zero00_one01.shape[0],sq_fulltcl_zero0001_one03.shape[0]))
print('Number of patients with FULL TCL PROGRESSION between sq_03 and sq_05 is {} and between sq_05 and sq_06 is {}'
.format(sq_fulltcl_zero000103_one05.shape[0],sq_fulltcl_zero00010305_one06.shape[0]))

print('Number of patients with MENISCAL DEGRADATION PROGRESSION between sq_00 and sq_01 is {} and between sq_01 and sq_03 is {}'
.format(sq_men_zero00_one01.shape[0],sq_men_zero0001_one03.shape[0]))
print('Number of patients with MENISCAL DEGRADATION PROGRESSION between sq_03 and sq_05 is {} and between sq_05 and sq_06 is {}'
.format(sq_men_zero000103_one05.shape[0],sq_men_zero00010305_one06.shape[0]))

Number of patients with BML PROGRESSION between sq_00 and sq_01 is 61 and between sq_01 and sq_03 is 43
Number of patients with BML PROGRESSION between sq_03 and sq_05 is 30 and between sq_05 and sq_06 is 14
Number of patients with ANYTCL PROGRESSION between sq_00 and sq_01 is 13 and between sq_01 and sq_03 is 14
Number of patients with ANYTCL PROGRESSION between sq_03 and sq_05 is 10 and between sq_05 and sq_06 is 8
Number of patients with PARTIAL TCL PROGRESSION between sq_00 and sq_01 is 12 and between sq_01 and sq_03 is 14
Number of patients with PARTIAL TCL PROGRESSION between sq_03 and sq_05 is 10 and between sq_05 and sq_06 is 6
Number of patients with FULL TCL PROGRESSION between sq_00 and sq_01 is 15 and between sq_01 and sq_03 is 19
Number of patients with FULL TCL PROGRESSION between sq_03 and sq_05 is 6 and between sq_05 and sq_06 is 3
Number of patients with MENISCAL DEGRADATION PROGRESSION between sq_00 and sq_01 is 20 and between sq_01 and sq_03 is 25
Number of patients with MENISCAL DEGRADATION PROGRESSION between sq_03 and sq_05 is 10 and between sq_05 and sq_06 is 3

In [21]:
df_sq_tcl_zero00_one01 = [sq_fulltcl_zero00_one01,sq_partialtcl_zero00_one01,sq_anytcl_zero00_one01]
sq_tcl_zero00_one01 = reduce(lambda left,right: pd.merge(left,right, on=['ID','SIDE'],how='outer'),df_sq_tcl_zero00_one01)
sq_tcl_zero00_one01 = sq_tcl_zero00_one01.loc[:,['ID','SIDE','FullTCL_00','FullTCL_01','PartialTCL_00','PartialTCL_01','AnyTCL_00','AnyTCL_01']]
print('Number of duplicate IDs in the merged TCL dfs in sq_00 and sq_01 is: {}'.format(sq_tcl_zero00_one01.duplicated(subset=['ID','SIDE']).sum()))
sq_tcl_zero00_one01.drop_duplicates(subset=['ID'],inplace=True)
print('Number of unique patients with ZERO PARTIAL,FULL and ANYTCL in sq_00 and ONE in sq_01 is {}'.format(sq_tcl_zero00_one01.shape[0]))

df_sq_tcl_zero0001_one03 = [sq_fulltcl_zero0001_one03,sq_partialtcl_zero0001_one03,sq_anytcl_zero0001_one03]
sq_tcl_zero0001_one03 = reduce(lambda left,right: pd.merge(left,right, on=['ID','SIDE'],how='outer'),df_sq_tcl_zero0001_one03)
sq_tcl_zero0001_one03 = sq_tcl_zero0001_one03.loc[:,['ID','SIDE','FullTCL_00','FullTCL_01','PartialTCL_00','PartialTCL_01','AnyTCL_00','AnyTCL_01']]
print('Number of duplicate IDs in the merged TCL dfs in sq_00, sq_01 and sq_03 is: {}'.format(sq_tcl_zero0001_one03.duplicated(subset=['ID','SIDE']).sum()))
sq_tcl_zero0001_one03.drop_duplicates(subset=['ID'],inplace=True)
print('Number of unique patients with ZERO PARTIAL,FULL and ANYTCL in sq_00, sq_01 and ONE in sq_03 is {}'.format(sq_tcl_zero0001_one03.shape[0]))

Number of duplicate IDs in the merged TCL dfs in sq_00 and sq_01 is: 0
Number of unique patients with ZERO PARTIAL,FULL and ANYTCL in sq_00 and ONE in sq_01 is 26
Number of duplicate IDs in the merged TCL dfs in sq_00, sq_01 and sq_03 is: 0
Number of unique patients with ZERO PARTIAL,FULL and ANYTCL in sq_00, sq_01 and ONE in sq_03 is 33

In [22]:
print('Number of subjects the MOAKS GRADE ZERO in sq_00 and ONE in sq_01 is :{}'.format(sq_moaks_zero00_one01.shape[0]))
print('Number of subjects the MOAKS GRADE ZERO in sq_00, sq_01 and ONE in sq_03 is :{}'.format(sq_moaks_zero0001_one03.shape[0]))

Number of subjects the MOAKS GRADE ZERO in sq_00 and ONE in sq_01 is :74
Number of subjects the MOAKS GRADE ZERO in sq_00, sq_01 and ONE in sq_03 is :47

# NOW WE LOAD ALL THE DATASETS REGARDING THE WORMS SQ Linkxx RESEARCH WITH THRESHOLD 0

# FIRST THE FEATURES THAT REMAINED ZERO

In [23]:
worms0_sq_bml_zero0003 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan0/worms_sq00_03_BML_that_remain_zero_thres0.csv',index_col=0)
worms0_sq_bml_zero000306 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan0/worms_sq00_03_06_BML_that_remain_zero_thres0.csv',index_col=0)
# print(worms0_sq_bml_zero0003)
worms0_sq_tcl_zero0003 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan0/worms_sq00_03_Cartilage_that_remains_zero_thres0.csv',index_col=0)
worms0_sq_tcl_zero000306 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan0/worms_sq00_03_06_Cartilage_that_remains_zero_thres0.csv',index_col=0)

worms0_sq_men_zero0003 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan0/worms_sq00_03_Meniscus_that_remain_zero_thres0.csv',index_col=0)
worms0_sq_men_zero000306 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan0/worms_sq00_03_06_Meniscus_that_remain_zero_thres0.csv',index_col=0)

In [24]:
worms0_moaks_zero0003 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan0/worms_OA_thres0_zero0003.csv',index_col=0)

# NOW WE EXAMINE SOME METRICS REGARDING THE PATIENTS THAT DID NOT PROGRESSED

In [25]:
print('Number of patients with ZERO BML in worms0_sq_00 and worms0_sq_03 is {} and in worms0_sq_00, worms0_sq_03 and sq_06 is {}'
.format(worms0_sq_bml_zero0003.shape[0],worms0_sq_bml_zero000306.shape[0]))
print(pd.merge(worms0_sq_bml_zero0003,worms0_sq_bml_zero000306,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with ZERO CARTILAGE LOSS in worms0_sq_00 and worms0_sq_03 is {} and in worms0_sq_00, worms0_sq_03 and sq_06 is {}'
.format(worms0_sq_tcl_zero0003.shape[0],worms0_sq_tcl_zero000306.shape[0]))
print(pd.merge(worms0_sq_tcl_zero0003,worms0_sq_tcl_zero000306,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with ZERO MENISCUS DEGRADATION in worms0_sq_00 and worms0_sq_03 is {} and in worms0_sq_00, worms0_sq_03 and sq_06 is {}'
.format(worms0_sq_men_zero0003.shape[0],worms0_sq_men_zero000306.shape[0]))
print(pd.merge(worms0_sq_men_zero0003,worms0_sq_men_zero000306,on=['ID','SIDE'],how='inner').shape[0])

Number of patients with ZERO BML in worms0_sq_00 and worms0_sq_03 is 190 and in worms0_sq_00, worms0_sq_03 and sq_06 is 175
175
Number of patients with ZERO CARTILAGE LOSS in worms0_sq_00 and worms0_sq_03 is 72 and in worms0_sq_00, worms0_sq_03 and sq_06 is 54
54
Number of patients with ZERO MENISCUS DEGRADATION in worms0_sq_00 and worms0_sq_03 is 114 and in worms0_sq_00, worms0_sq_03 and sq_06 is 83
83

In [26]:
print('Number of subjects with ZERO MOAKS grade in worms0_sq_00 and worms0_sq_03 is : {} '.format(worms0_moaks_zero0003.shape[0]))

Number of subjects with ZERO MOAKS grade in worms0_sq_00 and worms0_sq_03 is : 46

# NOW WE LOAD THE FEATURES THAT PROGRESSED IN THE WORMS SQ Linkxx STUDY

In [27]:
worms0_sq_bml_zero00_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan0/worms_sq00_03_BML_progression_thres0.csv',index_col=0)
worms0_sq_bml_zero0003_one06 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan0/worms_sq00_03_06_BML_progression_thres0.csv',index_col=0)

worms0_sq_tcl_zero00_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan0/worms_sq00_03_Cartilage_progression_thres0.csv',index_col=0)
worms0_sq_tcl_zero0003_one06 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan0/worms_sq00_03_06_Cartilage_progression_thres0.csv',index_col=0)

worms0_sq_men_zero00_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan0/worms_sq00_03_Meniscus_progression_thres0.csv',index_col=0)
worms0_sq_men_zero0003_one06 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan0/worms_sq00_03_06_Meniscus_progression_thres0.csv',index_col=0)

In [28]:
worms0_moaks_zero00_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan0/worms_OA_thres0_zero00_one03.csv',index_col=0)
worms0_moaks_zero00_one03

         ID  SIDE  moaks_OA_00  moaks_OA_03
52  9802615     1          0.0          1.0
54  9885588     1          0.0          1.0

# NOW WE EXAMINE SOME METRICS REGARDING THE PATIENTS THAT DID PROGRESSED

In [29]:
print('Number of patients with BML PROGRESSION between worms0_sq_00 and worms0_sq_03 is {} and between worms0_sq_03 and sq_06 is {}'
.format(worms0_sq_bml_zero00_one03.shape[0],worms0_sq_bml_zero0003_one06.shape[0]))

print('Number of patients with CARTILAGE LOSS PROGRESSION between worms0_sq_00 and worms0_sq_03 is {} and between worms0_sq_03 and sq_06 is {}'
.format(worms0_sq_tcl_zero00_one03.shape[0],worms0_sq_tcl_zero0003_one06.shape[0]))

print('Number of patients with MENISCUS DEGRADATION PROGRESSION between worms0_sq_00 and worms0_sq_03 is {} and between worms0_sq_03 and sq_06 is {}'
.format(worms0_sq_men_zero00_one03.shape[0],worms0_sq_men_zero0003_one06.shape[0]))

Number of patients with BML PROGRESSION between worms0_sq_00 and worms0_sq_03 is 6 and between worms0_sq_03 and sq_06 is 15
Number of patients with CARTILAGE LOSS PROGRESSION between worms0_sq_00 and worms0_sq_03 is 0 and between worms0_sq_03 and sq_06 is 18
Number of patients with MENISCUS DEGRADATION PROGRESSION between worms0_sq_00 and worms0_sq_03 is 47 and between worms0_sq_03 and sq_06 is 31

In [30]:
print('Number of subjects with MOAKS grade PROGRESSION between worms0_sq_00 and worms0_sq_03 is : {} '.format(worms0_moaks_zero00_one03.shape[0]))

Number of subjects with MOAKS grade PROGRESSION between worms0_sq_00 and worms0_sq_03 is : 2

# NOW WE NEED TO CREATE THE CONTROL GROUPS FOR EACH FEATURE WITH COMBINATION FROM ALL THREE STUDIES

In [31]:
# FIRST FOR THE CONTROL GROUP OF THE BML FEATURE

control0_bml_zero0003 = pd.merge(fnih_sq_bml_zero_000103,sq_bml_zero_000103,on=['ID','SIDE'],how='outer')
control0_bml_zero0003.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
control0_bml_zero0003.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
control0_bml_zero0003 = pd.merge(control0_bml_zero0003,worms0_sq_bml_zero0003,on=['ID','SIDE'],how='outer',indicator=True)
control0_bml_zero0003.rename(columns={'BML_00':'BML_00_WORMS','BML_03':'BML_03_WORMS'},inplace=True)
control0_bml_zero0003.columns =  control0_bml_zero0003.columns.str.upper()
control0_bml_zero0003
control0_bml_zero0003.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres0/control0_bml_zero003.csv')

In [32]:
# SECOND FOR THE CONTROL GROUP OF THE CARTILAGE LOSS FEATURE

control0_tcl_zero0003 = pd.merge(fnih_sq_tcl_zero_000103,sq_tcl_zero_000103,on=['ID','SIDE'],how='outer')
control0_tcl_zero0003.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
control0_tcl_zero0003.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
control0_tcl_zero0003 = pd.merge(control0_tcl_zero0003,worms0_sq_tcl_zero0003,on=['ID','SIDE'],how='outer',indicator=True)
control0_tcl_zero0003.rename(columns={'Cartilage_Morphology_00':'Cartilage_Morphology_00_WORMS','Cartilage_Morphology_03':'Cartilage_Morphology_03_WORMS'},inplace=True)
control0_tcl_zero0003.columns =  control0_tcl_zero0003.columns.str.upper()
# control0_tcl_zero0003
control0_tcl_zero0003_ids = control0_tcl_zero0003.ID
duplicated_contro0_tcl_ids = control0_tcl_zero0003[control0_tcl_zero0003_ids.isin(control0_tcl_zero0003_ids[control0_tcl_zero0003_ids.duplicated()])].reset_index()
print(duplicated_contro0_tcl_ids.loc[:,['ID','SIDE']])

control0_tcl_zero0003.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres0/control0_tcl_zero003.csv')

          ID  SIDE
0    9009927     1
1    9013798     2
2    9014209     1
3    9016304     1
4    9040944     1
..       ...   ...
223  9766939     1
224  9793845     1
225  9888049     1
226  9901658     1
227  9969009     1

[228 rows x 2 columns]

In [33]:
# THEN FOR THE CONTROL GROUP OF THE MENISCUS DEGRADATION FEATURE

control0_men_zero0003 = pd.merge(fnih_sq_men_zero_000103,sq_men_zero_000103,on=['ID','SIDE'],how='outer')
control0_men_zero0003.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
control0_men_zero0003.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
control0_men_zero0003 = pd.merge(control0_men_zero0003,worms0_sq_men_zero0003,on=['ID','SIDE'],how='outer',indicator=True)
control0_men_zero0003.rename(columns={'Meniscus_Degradation_00_Y':'Meniscus_Degradation_00_WORMS','Meniscus_Degradation_03_Y':'Meniscus_Degradation_03_WORMS'},inplace=True)
control0_men_zero0003.columns =  control0_men_zero0003.columns.str.upper()
control0_men_zero0003.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres0/control0_men_zero003.csv')
control0_men_zero0003

,ID,SIDE,MENISCUS_DEGRADATION_00_FNIH,MOAKS_OA_00_FNIH,V00XRKL_00_FNIH,MENISCUS_DEGRADATION_01_FNIH,MOAKS_OA_01_FNIH,V01XRKL_01_FNIH,MENISCUS_DEGRADATION_03_FNIH,MOAKS_OA_03_FNIH,...,V00XRKL_00_SQ,MENISCUS_DEGRADATION_01_SQ,MOAKS_OA_01_SQ,V01XRKL_01_SQ,MENISCUS_DEGRADATION_03_SQ,MOAKS_OA_03_SQ,V03XRKL_03_SQ,MENISCUS_DEGRADATION_00,MENISCUS_DEGRADATION_03,_MERGE
0,9003316,1,0.0,1.0,2.0,0.0,1.0,2.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,9003380,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,9021102,2,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,9022789,1,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,9025191,1,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,9942867,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
382,9969009,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
383,9973569,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
384,9979306,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
385,9989352,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only

# NOW WE CREATE THE PROGRESSION GROUPS FOR EACH FEATURE FROM EACH STUDY

In [34]:
# FIRST FOR THE PROGRESSION GROUP OF THE BML FEATURE

progres0_bml_zero0001_one03 = pd.merge(fnih_sq_bml_zero0001_one03,sq_bml_zero0001_one03,on=['ID','SIDE'],how='outer')
progres0_bml_zero0001_one03.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
progres0_bml_zero0001_one03.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
progres0_bml_zero0001_one03 = pd.merge(progres0_bml_zero0001_one03,worms0_sq_bml_zero00_one03.loc[:,['ID','SIDE','BML_00','BML_03']],on=['ID','SIDE'],how='outer',indicator=True)
progres0_bml_zero0001_one03.rename(columns={'BML_00':'BML_00_WORMS','BML_03':'BML_03_WORMS'},inplace=True)
progres0_bml_zero0001_one03.columns =  progres0_bml_zero0001_one03.columns.str.upper()
progres0_bml_zero0001_one03.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres0/progres0_bml_zero0001_one03.csv')

progres0_bml_zero0001_one03

,ID,SIDE,BML_00_FNIH,MOAKS_OA_00_FNIH,V00XRKL_00_FNIH,BML_01_FNIH,MOAKS_OA_01_FNIH,V01XRKL_01_FNIH,BML_03_FNIH,MOAKS_OA_03_FNIH,...,V00XRKL_00_SQ,BML_01_SQ,MOAKS_OA_01_SQ,V01XRKL_01_SQ,BML_03_SQ,MOAKS_OA_03_SQ,V03XRKL_03_SQ,BML_00_WORMS,BML_03_WORMS,_MERGE
0,9025191,1,0.0,0.0,2.0,0.0,0.0,2.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,9035449,1,0.0,1.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,9071669,1,0.0,1.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,9082159,1,0.0,1.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,9089119,2,0.0,0.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,9213438,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,right_only
80,9226514,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,right_only
81,9435315,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,right_only
82,9668271,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,right_only
83,9885588,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,right_only

In [35]:
# SECIND FOR THE PROGRESSION GROUP OF THE CARTILAGE LOSS FEATURE

progres0_tcl_zero0001_one03 = pd.merge(fnih_sq_anytcl_zero0001_one03,sq_anytcl_zero0001_one03,on=['ID','SIDE'],how='outer')
progres0_tcl_zero0001_one03.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
progres0_tcl_zero0001_one03.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
progres0_tcl_zero0001_one03 = pd.merge(progres0_tcl_zero0001_one03,worms0_sq_tcl_zero00_one03.loc[:,['ID','SIDE','BML_00','BML_03']],on=['ID','SIDE'],how='outer',indicator=True)
progres0_tcl_zero0001_one03.rename(columns={'BML_00':'BML_00_WORMS','BML_03':'BML_03_WORMS'},inplace=True)
progres0_tcl_zero0001_one03.columns =  progres0_tcl_zero0001_one03.columns.str.upper()
progres0_tcl_zero0001_one03.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres0/progres0_tcl_zero0001_one03.csv')

progres0_tcl_zero0001_one03

,ID,SIDE,ANYTCL_00_FNIH,MOAKS_OA_00_FNIH,V00XRKL_00_FNIH,ANYTCL_01_FNIH,MOAKS_OA_01_FNIH,V01XRKL_01_FNIH,ANYTCL_03_FNIH,MOAKS_OA_03_FNIH,...,V00XRKL_00_SQ,ANYTCL_01_SQ,MOAKS_OA_01_SQ,V01XRKL_01_SQ,ANYTCL_03_SQ,MOAKS_OA_03_SQ,V03XRKL_03_SQ,BML_00_WORMS,BML_03_WORMS,_MERGE
0,9003380,1,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,9510418,1,0.0,0.0,2.0,0.0,0.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,9602668,2,0.0,0.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,9833489,2,0.0,0.0,2.0,0.0,0.0,2.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,9936451,1,0.0,0.0,2.0,0.0,0.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,9031930,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,1.0,1.0,3.0,NaN,NaN,left_only
6,9081858,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,1.0,2.0,NaN,NaN,left_only
7,9088345,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,left_only
8,9223285,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,1.0,1.0,2.0,NaN,NaN,left_only
9,9268724,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,NaN,NaN,left_only
10,9278158,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,3.0,1.0,1.0,3.0,NaN,NaN,left_only
11,9316359,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,0.0,1.0,2.0,1.0,1.0,2.0,NaN,NaN,left_only
12,9446305,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,1.0,1.0,2.0,NaN,NaN,left_only
13,9487864,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,2.0,1.0,1.0,2.0,NaN,NaN,left_only
14,9559476,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,1.0,1.0,2.0,NaN,NaN,left_only
15,9585175,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,NaN,NaN,left_only
16,9883715,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,left_only
17,9902576,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,NaN,NaN,left_only
18,9973722,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,NaN,NaN,left_only

In [36]:
# THEN FOR THE PROGRESSION GROUP OF THE MENISCUS DEGRADATION FEATURE

progres0_men_zero0001_one03 = pd.merge(fnih_sq_men_zero0001_one03,sq_men_zero0001_one03,on=['ID','SIDE'],how='outer')
progres0_men_zero0001_one03.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
progres0_men_zero0001_one03.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
progres0_men_zero0001_one03 = pd.merge(progres0_men_zero0001_one03,worms0_sq_men_zero00_one03.loc[:,['ID','SIDE','BML_00','BML_03']],on=['ID','SIDE'],how='outer',indicator=True)
progres0_men_zero0001_one03.rename(columns={'BML_00':'BML_00_WORMS','BML_03':'BML_03_WORMS'},inplace=True)
progres0_men_zero0001_one03.columns =  progres0_men_zero0001_one03.columns.str.upper()
progres0_men_zero0001_one03.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres0/progres0_men_zero0001_one03.csv')

progres0_men_zero0001_one03

,ID,SIDE,MENISCUS_DEGRADATION_00_FNIH,MOAKS_OA_00_FNIH,V00XRKL_00_FNIH,MENISCUS_DEGRADATION_01_FNIH,MOAKS_OA_01_FNIH,V01XRKL_01_FNIH,MENISCUS_DEGRADATION_03_FNIH,MOAKS_OA_03_FNIH,...,V00XRKL_00_SQ,MENISCUS_DEGRADATION_01_SQ,MOAKS_OA_01_SQ,V01XRKL_01_SQ,MENISCUS_DEGRADATION_03_SQ,MOAKS_OA_03_SQ,V03XRKL_03_SQ,BML_00_WORMS,BML_03_WORMS,_MERGE
0,9126260,2,0.0,1.0,2.0,0.0,0.0,3.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,9388068,2,0.0,1.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,9531454,2,0.0,1.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,9534106,1,0.0,0.0,2.0,0.0,0.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,9598170,2,0.0,1.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,9543679,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
76,9634669,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
77,9666440,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,right_only
78,9862541,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
79,9885588,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,right_only

# NOW WE LOAD ALL THE DATASETS REGARDING THE WORMS SQ Linkxx RESEARCH WITH THRESHOLD 1

# FIRST THE FEATURES THAT REMAINED ZERO

In [37]:
worms1_sq_bml_zero0003 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan1/worms_sq00_03_BML_that_remain_zero_thres1.csv',index_col=0)
worms1_sq_bml_zero000306 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan1/worms_sq00_03_06_BML_that_remain_zero_thres1.csv',index_col=0)
# print(worms1_sq_bml_zero0003)
worms1_sq_tcl_zero0003 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan1/worms_sq00_03_Cartilage_that_remains_zero_thres1.csv',index_col=0)
worms1_sq_tcl_zero000306 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan1/worms_sq00_03_06_Cartilage_that_remains_zero_thres1.csv',index_col=0)

worms1_sq_men_zero0003 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan1/worms_sq00_03_Meniscus_that_remain_zero_thres1.csv',index_col=0)
worms1_sq_men_zero000306 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan1/worms_sq00_03_06_Meniscus_that_remain_zero_thres1.csv',index_col=0)

In [38]:
worms1_moaks_zero0003 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan1/worms_OA_thres1_zero0003.csv',index_col=0)
worms1_moaks_zero0003.shape[0]

43

# NOW WE EXAMINE SOME METRICS REGARDING THE PATIENTS THAT DID NOT PROGRESSED

In [39]:
print('Number of patients with ZERO BML in worms1_sq_00 and worms1_sq_03 is {} and in worms1_sq_00, worms1_sq_03 and sq_06 is {}'
.format(worms1_sq_bml_zero0003.shape[0],worms1_sq_bml_zero000306.shape[0]))
print(pd.merge(worms1_sq_bml_zero0003,worms1_sq_bml_zero000306,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with ZERO CARTILAGE LOSS in worms1_sq_00 and worms1_sq_03 is {} and in worms1_sq_00, worms1_sq_03 and sq_06 is {}'
.format(worms1_sq_tcl_zero0003.shape[0],worms1_sq_tcl_zero000306.shape[0]))
print(pd.merge(worms1_sq_tcl_zero0003,worms1_sq_tcl_zero000306,on=['ID','SIDE'],how='inner').shape[0])

print('Number of patients with ZERO MENISCUS DEGRADATION in worms1_sq_00 and worms1_sq_03 is {} and in worms1_sq_00, worms1_sq_03 and sq_06 is {}'
.format(worms1_sq_men_zero0003.shape[0],worms1_sq_men_zero000306.shape[0]))
print(pd.merge(worms1_sq_men_zero0003,worms1_sq_men_zero000306,on=['ID','SIDE'],how='inner').shape[0])

Number of patients with ZERO BML in worms1_sq_00 and worms1_sq_03 is 185 and in worms1_sq_00, worms1_sq_03 and sq_06 is 175
175
Number of patients with ZERO CARTILAGE LOSS in worms1_sq_00 and worms1_sq_03 is 129 and in worms1_sq_00, worms1_sq_03 and sq_06 is 81
81
Number of patients with ZERO MENISCUS DEGRADATION in worms1_sq_00 and worms1_sq_03 is 114 and in worms1_sq_00, worms1_sq_03 and sq_06 is 99
99

In [40]:
print('Number of subjects with ZERO MOAKS grade in worms1_sq_00 and worms1_sq_03 is : {} '.format(worms1_moaks_zero0003.shape[0]))

Number of subjects with ZERO MOAKS grade in worms1_sq_00 and worms1_sq_03 is : 43

# NOW WE LOAD THE FEATURES THAT PROGRESSED IN THE WORMS SQ Linkxx STUDY

In [41]:
worms1_sq_bml_zero00_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan1/worms_sq00_03_BML_progression_thres1.csv',index_col=0)
worms1_sq_bml_zero0003_one06 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan1/worms_sq00_03_06_BML_progression_thres1.csv',index_col=0)

worms1_sq_tcl_zero00_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan1/worms_sq00_03_Cartilage_progression_thres1.csv',index_col=0)
worms1_sq_tcl_zero0003_one06 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan1/worms_sq00_03_06_Cartilage_progression_thres1.csv',index_col=0)

worms1_sq_men_zero00_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan1/worms_sq00_03_Meniscus_progression_thres1.csv',index_col=0)
worms1_sq_men_zero0003_one06 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan1/worms_sq00_03_06_Meniscus_progression_thres1.csv',index_col=0)

In [42]:
worms1_moaks_zero00_one03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/WORMS/SQ_Linkxx_Compare/ThresholdLargerThan1/worms_OA_thres1_zero00_one03.csv',index_col=0)

# NOW WE EXAMINE SOME METRICS REGARDING THE PATIENTS THAT DID PROGRESSED

In [43]:
print('Number of patients with BML PROGRESSION between worms1_sq_00 and worms1_sq_03 is {} and between worms1_sq_03 and sq_06 is {}'
.format(worms1_sq_bml_zero00_one03.shape[0],worms1_sq_bml_zero0003_one06.shape[0]))

print('Number of patients with CARTILAGE LOSS PROGRESSION between worms1_sq_00 and worms1_sq_03 is {} and between worms1_sq_03 and sq_06 is {}'
.format(worms1_sq_tcl_zero00_one03.shape[0],worms1_sq_tcl_zero0003_one06.shape[0]))

print('Number of patients with MENISCUS DEGRADATION PROGRESSION between worms1_sq_00 and worms1_sq_03 is {} and between worms1_sq_03 and sq_06 is {}'
.format(worms1_sq_men_zero00_one03.shape[0],worms1_sq_men_zero0003_one06.shape[0]))

Number of patients with BML PROGRESSION between worms1_sq_00 and worms1_sq_03 is 11 and between worms1_sq_03 and sq_06 is 10
Number of patients with CARTILAGE LOSS PROGRESSION between worms1_sq_00 and worms1_sq_03 is 0 and between worms1_sq_03 and sq_06 is 48
Number of patients with MENISCUS DEGRADATION PROGRESSION between worms1_sq_00 and worms1_sq_03 is 47 and between worms1_sq_03 and sq_06 is 15

In [44]:
print('Number of subjects with MOAKS grade PROGRESSION between worms1_sq_00 and worms1_sq_03 is : {} '.format(worms1_moaks_zero00_one03.shape[0]))

Number of subjects with MOAKS grade PROGRESSION between worms1_sq_00 and worms1_sq_03 is : 4

# NOW WE NEED TO CREATE THE CONTROL GROUPS FOR EACH FEATURE WITH COMBINATION FROM ALL THREE STUDIES

In [45]:
# FIRST FOR THE CONTROL GROUP OF THE BML FEATURE

control1_bml_zero0003 = pd.merge(fnih_sq_bml_zero_000103,sq_bml_zero_000103,on=['ID','SIDE'],how='outer')
control1_bml_zero0003.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
control1_bml_zero0003.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
control1_bml_zero0003 = pd.merge(control1_bml_zero0003,worms1_sq_bml_zero0003,on=['ID','SIDE'],how='outer',indicator=True)
control1_bml_zero0003.rename(columns={'BML_00':'BML_00_WORMS','BML_03':'BML_03_WORMS'},inplace=True)
control1_bml_zero0003.columns =  control1_bml_zero0003.columns.str.upper()
control1_bml_zero0003.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres1/control1_bml_zero0003.csv')

control1_bml_zero0003

,ID,SIDE,BML_00_FNIH,MOAKS_OA_00_FNIH,V00XRKL_00_FNIH,BML_01_FNIH,MOAKS_OA_01_FNIH,V01XRKL_01_FNIH,BML_03_FNIH,MOAKS_OA_03_FNIH,...,V00XRKL_00_SQ,BML_01_SQ,MOAKS_OA_01_SQ,V01XRKL_01_SQ,BML_03_SQ,MOAKS_OA_03_SQ,V03XRKL_03_SQ,BML_00_WORMS,BML_03_WORMS,_MERGE
0,9003380,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,9004175,1,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,9009927,1,0.0,1.0,2.0,0.0,1.0,2.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,9013798,2,0.0,1.0,2.0,0.0,1.0,2.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,9015798,1,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,9946473,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
658,9969009,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
659,9973569,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
660,9979306,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
661,9989352,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only

In [46]:
# SECOND FOR THE CONTROL GROUP OF THE CARTILAGE LOSS FEATURE

control1_tcl_zero0003 = pd.merge(fnih_sq_anytcl_zero_000103,sq_anytcl_zero_000103,on=['ID','SIDE'],how='outer')
control1_tcl_zero0003.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
control1_tcl_zero0003.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
control1_tcl_zero0003 = pd.merge(control1_tcl_zero0003,worms1_sq_tcl_zero0003,on=['ID','SIDE'],how='outer',indicator=True)
control1_tcl_zero0003.rename(columns={'Cartilage_Morphology_00':'Cartilage_Morphology_00_WORMS','Cartilage_Morphology_03':'Cartilage_Morphology_03_WORMS'},inplace=True)
control1_tcl_zero0003.columns =  control1_tcl_zero0003.columns.str.upper()
control1_tcl_zero0003.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres1/control1_tcl_zero0003.csv')

control1_tcl_zero0003

,ID,SIDE,ANYTCL_00_FNIH,MOAKS_OA_00_FNIH,V00XRKL_00_FNIH,ANYTCL_01_FNIH,MOAKS_OA_01_FNIH,V01XRKL_01_FNIH,ANYTCL_03_FNIH,MOAKS_OA_03_FNIH,...,V00XRKL_00_SQ,ANYTCL_01_SQ,MOAKS_OA_01_SQ,V01XRKL_01_SQ,ANYTCL_03_SQ,MOAKS_OA_03_SQ,V03XRKL_03_SQ,CARTILAGE_MORPHOLOGY_00_WORMS,CARTILAGE_MORPHOLOGY_03_WORMS,_MERGE
0,9004175,1,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,9015798,1,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,9025191,1,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,9031141,1,0.0,0.0,2.0,0.0,0.0,3.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,9071924,2,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,9942867,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
216,9969009,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
217,9973569,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
218,9979306,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
219,9989352,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only

In [47]:
# THEN FOR THE CONTROL GROUP OF THE MENISCUS DEGRADATION FEATURE

control1_men_zero0003 = pd.merge(fnih_sq_men_zero_000103,sq_men_zero_000103,on=['ID','SIDE'],how='outer')
control1_men_zero0003.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
control1_men_zero0003.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
control1_men_zero0003 = pd.merge(control1_men_zero0003,worms1_sq_men_zero0003,on=['ID','SIDE'],how='outer',indicator=True)
control1_men_zero0003.rename(columns={'Meniscus_Degradation_00_Y':'Meniscus_Degradation_00_WORMS','Meniscus_Degradation_03_Y':'Meniscus_Degradation_03_WORMS'},inplace=True)
control1_men_zero0003.columns =  control1_men_zero0003.columns.str.upper()
control1_men_zero0003.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres1/control1_men_zero0003.csv')

control1_men_zero0003

,ID,SIDE,MENISCUS_DEGRADATION_00_FNIH,MOAKS_OA_00_FNIH,V00XRKL_00_FNIH,MENISCUS_DEGRADATION_01_FNIH,MOAKS_OA_01_FNIH,V01XRKL_01_FNIH,MENISCUS_DEGRADATION_03_FNIH,MOAKS_OA_03_FNIH,...,V00XRKL_00_SQ,MENISCUS_DEGRADATION_01_SQ,MOAKS_OA_01_SQ,V01XRKL_01_SQ,MENISCUS_DEGRADATION_03_SQ,MOAKS_OA_03_SQ,V03XRKL_03_SQ,MENISCUS_DEGRADATION_00,MENISCUS_DEGRADATION_03,_MERGE
0,9003316,1,0.0,1.0,2.0,0.0,1.0,2.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,9003380,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,9021102,2,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,9022789,1,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,9025191,1,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,9942867,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
382,9969009,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
383,9973569,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
384,9979306,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
385,9989352,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only

# NOW WE CREATE THE PROGRESSION GROUPS FOR EACH FEATURE FROM EACH STUDY

In [48]:
# FIRST FOR THE PROGRESSION GROUP OF THE BML FEATURE

progres1_bml_zero0001_one03 = pd.merge(fnih_sq_bml_zero0001_one03,sq_bml_zero0001_one03,on=['ID','SIDE'],how='outer')
progres1_bml_zero0001_one03.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
progres1_bml_zero0001_one03.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
progres1_bml_zero0001_one03 = pd.merge(progres1_bml_zero0001_one03,worms1_sq_bml_zero00_one03.loc[:,['ID','SIDE','BML_00','BML_03']],on=['ID','SIDE'],how='outer',indicator=True)
progres1_bml_zero0001_one03.rename(columns={'BML_00':'BML_00_WORMS','BML_03':'BML_03_WORMS'},inplace=True)
progres1_bml_zero0001_one03.columns =  progres1_bml_zero0001_one03.columns.str.upper()
progres1_bml_zero0001_one03.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres1/progres1_bml_zero0001_one03.csv')

progres1_bml_zero0001_one03

,ID,SIDE,BML_00_FNIH,MOAKS_OA_00_FNIH,V00XRKL_00_FNIH,BML_01_FNIH,MOAKS_OA_01_FNIH,V01XRKL_01_FNIH,BML_03_FNIH,MOAKS_OA_03_FNIH,...,V00XRKL_00_SQ,BML_01_SQ,MOAKS_OA_01_SQ,V01XRKL_01_SQ,BML_03_SQ,MOAKS_OA_03_SQ,V03XRKL_03_SQ,BML_00_WORMS,BML_03_WORMS,_MERGE
0,9025191,1,0.0,0.0,2.0,0.0,0.0,2.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,9035449,1,0.0,1.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,9071669,1,0.0,1.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,9082159,1,0.0,1.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,9089119,2,0.0,0.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,9456857,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,right_only
85,9561374,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,right_only
86,9634669,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,right_only
87,9668271,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,right_only
88,9885588,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,right_only

In [49]:
# SECIND FOR THE PROGRESSION GROUP OF THE CARTILAGE LOSS FEATURE

progres1_tcl_zero0001_one03 = pd.merge(fnih_sq_anytcl_zero0001_one03,sq_anytcl_zero0001_one03,on=['ID','SIDE'],how='outer')
progres1_tcl_zero0001_one03.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
progres1_tcl_zero0001_one03.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
progres1_tcl_zero0001_one03 = pd.merge(progres1_tcl_zero0001_one03,worms1_sq_tcl_zero00_one03.loc[:,['ID','SIDE','BML_00','BML_03']],on=['ID','SIDE'],how='outer',indicator=True)
progres1_tcl_zero0001_one03.rename(columns={'BML_00':'BML_00_WORMS','BML_03':'BML_03_WORMS'},inplace=True)
progres1_tcl_zero0001_one03.columns =  progres1_tcl_zero0001_one03.columns.str.upper()
progres1_tcl_zero0001_one03.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres1/progres1_tcl_zero0001_one03.csv')

progres1_tcl_zero0001_one03

,ID,SIDE,ANYTCL_00_FNIH,MOAKS_OA_00_FNIH,V00XRKL_00_FNIH,ANYTCL_01_FNIH,MOAKS_OA_01_FNIH,V01XRKL_01_FNIH,ANYTCL_03_FNIH,MOAKS_OA_03_FNIH,...,V00XRKL_00_SQ,ANYTCL_01_SQ,MOAKS_OA_01_SQ,V01XRKL_01_SQ,ANYTCL_03_SQ,MOAKS_OA_03_SQ,V03XRKL_03_SQ,BML_00_WORMS,BML_03_WORMS,_MERGE
0,9003380,1,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,9510418,1,0.0,0.0,2.0,0.0,0.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,9602668,2,0.0,0.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,9833489,2,0.0,0.0,2.0,0.0,0.0,2.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,9936451,1,0.0,0.0,2.0,0.0,0.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,9031930,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,1.0,1.0,3.0,NaN,NaN,left_only
6,9081858,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,1.0,2.0,NaN,NaN,left_only
7,9088345,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,left_only
8,9223285,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,1.0,1.0,2.0,NaN,NaN,left_only
9,9268724,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,NaN,NaN,left_only
10,9278158,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,3.0,1.0,1.0,3.0,NaN,NaN,left_only
11,9316359,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,0.0,1.0,2.0,1.0,1.0,2.0,NaN,NaN,left_only
12,9446305,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,1.0,1.0,2.0,NaN,NaN,left_only
13,9487864,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,2.0,1.0,1.0,2.0,NaN,NaN,left_only
14,9559476,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,1.0,1.0,2.0,NaN,NaN,left_only
15,9585175,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,NaN,NaN,left_only
16,9883715,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,left_only
17,9902576,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,NaN,NaN,left_only
18,9973722,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,NaN,NaN,left_only

In [50]:
# THEN FOR THE PROGRESSION GROUP OF THE MENISCUS DEGRADATION FEATURE

progres1_men_zero0001_one03 = pd.merge(fnih_sq_men_zero0001_one03,sq_men_zero0001_one03,on=['ID','SIDE'],how='outer')
progres1_men_zero0001_one03.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
progres1_men_zero0001_one03.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
progres1_men_zero0001_one03 = pd.merge(progres1_men_zero0001_one03,worms1_sq_men_zero00_one03.loc[:,['ID','SIDE','BML_00','BML_03']],on=['ID','SIDE'],how='outer',indicator=True)
progres1_men_zero0001_one03.rename(columns={'BML_00':'BML_00_WORMS','BML_03':'BML_03_WORMS'},inplace=True)
progres1_men_zero0001_one03.columns =  progres1_men_zero0001_one03.columns.str.upper()
progres1_men_zero0001_one03.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres1/progres1_men_zero0001_one03.csv')

progres1_men_zero0001_one03

,ID,SIDE,MENISCUS_DEGRADATION_00_FNIH,MOAKS_OA_00_FNIH,V00XRKL_00_FNIH,MENISCUS_DEGRADATION_01_FNIH,MOAKS_OA_01_FNIH,V01XRKL_01_FNIH,MENISCUS_DEGRADATION_03_FNIH,MOAKS_OA_03_FNIH,...,V00XRKL_00_SQ,MENISCUS_DEGRADATION_01_SQ,MOAKS_OA_01_SQ,V01XRKL_01_SQ,MENISCUS_DEGRADATION_03_SQ,MOAKS_OA_03_SQ,V03XRKL_03_SQ,BML_00_WORMS,BML_03_WORMS,_MERGE
0,9126260,2,0.0,1.0,2.0,0.0,0.0,3.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,9388068,2,0.0,1.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,9531454,2,0.0,1.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,9534106,1,0.0,0.0,2.0,0.0,0.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,9598170,2,0.0,1.0,2.0,0.0,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,9543679,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
76,9634669,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,right_only
77,9666440,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,right_only
78,9862541,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,right_only
79,9885588,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,right_only

# HERE WE CREATE THE CONTROL AND PROGRESSION GROUPS BASED ON THE MODIFIED MOAKS GRADES

In [51]:
control_moaks_zero0001 = pd.merge(fnih_sq_moaks_zero_0001,sq_moaks_zero_0001,on=['ID','SIDE'],how='outer')
control_moaks_zero0001.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
control_moaks_zero0001.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
control_moaks_zero0001.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/Without_WORMS/control_moaks_zero0001.csv')
print(control_moaks_zero0001.shape[0])

progress_moaks_zero00_one01 = pd.merge(fnih_sq_moaks_zero00_one01,sq_moaks_zero00_one01,on=['ID','SIDE'],how='outer')
progress_moaks_zero00_one01.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
progress_moaks_zero00_one01.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
progress_moaks_zero00_one01.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/Without_WORMS/progress_moaks_zero00_one01.csv')
print(progress_moaks_zero00_one01.shape[0])

584
94

In [52]:
control_moaks_zero000103 = pd.merge(fnih_sq_moaks_zero_000103,sq_moaks_zero_000103,on=['ID','SIDE'],how='outer')
control_moaks_zero000103.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
control_moaks_zero000103.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
control_moaks_zero000103.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/Without_WORMS/control_moaks_zero000103.csv')
print(control_moaks_zero000103.shape[0])

progress_moaks_zero0001_one03 = pd.merge(fnih_sq_moaks_zero0001_one03,sq_moaks_zero0001_one03,on=['ID','SIDE'],how='outer')
progress_moaks_zero0001_one03.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
progress_moaks_zero0001_one03.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
progress_moaks_zero0001_one03.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/Without_WORMS/progress_moaks_zero0001_one03.csv')
print(progress_moaks_zero0001_one03.shape[0])

391
61

In [53]:
aaaa = pd.merge(progress_moaks_zero0001_one03,progress_moaks_zero00_one01,on=['ID','SIDE'],how='outer')
print('total number of subject that progressed between baseline and 24 months is: {}'.format(aaaa.shape[0]))
bbbb = pd.merge(control_moaks_zero000103,control_moaks_zero0001,on=['ID','SIDE'],how='inner')
print('total number of subject that stayed without OA between baseline and 24 months is: {}'.format(bbbb.shape[0]))

total number of subject that progressed between baseline and 24 months is: 155
total number of subject that stayed without OA between baseline and 24 months is: 391

In [54]:
#NOW WE ADD THE WORMS MODIFIED MOAKS GRADES
control_moaks_zero0003_worms0 = pd.merge(control_moaks_zero000103,worms0_moaks_zero0003,on=['ID','SIDE'],how='outer')
control_moaks_zero0003_worms0.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
control_moaks_zero0003_worms0.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
control_moaks_zero0003_worms0.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres0/control0_moaks_zero0003_worms0.csv')
print(control_moaks_zero0003_worms0.shape[0])

progress_moaks_zero00_one03_worms0 = pd.merge(progress_moaks_zero0001_one03,worms0_moaks_zero00_one03,on=['ID','SIDE'],how='outer')
progress_moaks_zero00_one03_worms0.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
progress_moaks_zero00_one03_worms0.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
progress_moaks_zero00_one03_worms0.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres0/progress0_moaks_zero00_one03_worms0.csv')
print(progress_moaks_zero00_one03_worms0.shape[0])

437
63

In [55]:
control_moaks_zero0003_worms1 = pd.merge(control_moaks_zero000103,worms1_moaks_zero0003,on=['ID','SIDE'],how='outer')
control_moaks_zero0003_worms1.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
control_moaks_zero0003_worms1.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
control_moaks_zero0003_worms1.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres1/control1_moaks_zero0003_worms1.csv')
print(control_moaks_zero0003_worms1.shape[0])

progress_moaks_zero00_one03_worms1 = pd.merge(progress_moaks_zero0001_one03,worms1_moaks_zero00_one03,on=['ID','SIDE'],how='outer')
progress_moaks_zero00_one03_worms1.rename(columns=lambda x: x.replace('_x','_fnih'),inplace=True)
progress_moaks_zero00_one03_worms1.rename(columns=lambda x: x.replace('_y','_sq'),inplace=True)
progress_moaks_zero00_one03_worms1.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres1/progress1_moaks_zero00_one03_worms1.csv')
print(progress_moaks_zero00_one03_worms1.shape[0])

434
65

In [56]:
print("Number of subjects that remained ZERO between baseline and 24 months in all three studies (WORMS>1) is: {}"
.format(control_moaks_zero0003_worms1.shape[0]))
print("Number of subjects that progressed to OA between baseline and 24 months in all three studies (WORMS>1) is: {}"
.format(progress_moaks_zero00_one03_worms1.shape[0]))

Number of subjects that remained ZERO between baseline and 24 months in all three studies (WORMS>1) is: 434
Number of subjects that progressed to OA between baseline and 24 months in all three studies (WORMS>1) is: 65

In [64]:
all_progress_moaks_zero00_one01_one03_worms1 = pd.merge(progress_moaks_zero00_one01,progress_moaks_zero00_one03_worms1
            ,on=['ID','SIDE'],how='outer')
print('All subjects that progressed with OA at 12 or 24 months are: {}'.format(all_progress_moaks_zero00_one01_one03_worms1.shape[0]))
all_progress_moaks_zero00_one01_one03_worms1.to_csv('/home/anastasis/EMC_Thesis/My_codes/Progress_Control_XR_OSTEO/Control_Progression_Datasets/WORMS_thres1/progress1_moaks_zero00_one01_one03_worms1.csv')

All subjects that progressed with OA at 12 or 24 months are: 159

In [68]:
control_moaks_zero0003_worms1_ID_SIDE = control_moaks_zero0003_worms1.loc[:,['ID','SIDE']]
all_progress_moaks_zero00_one01_one03_worms1_ID_SIDE = all_progress_moaks_zero00_one01_one03_worms1.loc[:,['ID','SIDE']]
all_progress_moaks_zero00_one01_one03_worms1_ID_SIDE

          ID  SIDE
0    9049185     1
1    9054370     2
2    9089119     2
3    9098924     2
4    9154793     2
..       ...   ...
154  9988421     1
155  9393127     1
156  9423358     1
157  9802615     1
158  9885588     1

[159 rows x 2 columns]

In [69]:
np.savetxt(r'control_ID_SIDE.txt',control_moaks_zero0003_worms1_ID_SIDE,fmt='%d')
np.savetxt(r'progress_ID_SIDE.txt',all_progress_moaks_zero00_one01_one03_worms1_ID_SIDE,fmt='%d')