In [2]:
import numpy as np
import pandas as pd

In [3]:
worms_kmri_sq_link00_all_subjects = pd.read_csv('/home/anastasis/EMC_Thesis/OAI Data/OAICompleteData_ASCII/kmri_sq_worms_link00.txt', sep="|")
worms_kmri_sq_link00_all_subjects.rename(columns={'side':'SIDE'},inplace=True)

In [4]:
moaks_sq00_all_subjects = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS/MOAKS_SQ00/Whole_Knee_Approach/moaks_sq00_all_info.csv',index_col=0)
moaks_sq00_all_subjects_ID_SIDE = moaks_sq00_all_subjects.loc[:,['ID','SIDE']]

moaks_fnih_sq00_all_subjects = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS/MOAKS_FNIH_SQ00/Whole_Knee_Approach/moaks_fnih_sq00_all_info.csv',index_col=0)
moaks_fnih_sq00_all_subjects_ID_SIDE = moaks_fnih_sq00_all_subjects.loc[:,['ID','SIDE']]

In [5]:
# HERE WE KEEP ONLY THE IDs THAT ARE PRESENT ONLY IN THE WORMS STUDY AND NOT IN THE FNIH_SQ AND SQ

worms_kmri_sq_link00_with_sq = pd.merge(worms_kmri_sq_link00_all_subjects,moaks_sq00_all_subjects_ID_SIDE,on=['ID','SIDE'],how='left',indicator=True)
print(worms_kmri_sq_link00_with_sq._merge.value_counts())
worms_kmri_sq_link00_without_sq = worms_kmri_sq_link00_with_sq.loc[worms_kmri_sq_link00_with_sq._merge == 'left_only']
print(worms_kmri_sq_link00_without_sq._merge.value_counts())
worms_kmri_sq_link00_without_sq =  worms_kmri_sq_link00_without_sq.rename(columns={'_merge':'_merge_without_sq'})
worms_kmri_sq_link00_without_sq_with_sq = pd.merge(worms_kmri_sq_link00_without_sq,moaks_fnih_sq00_all_subjects_ID_SIDE,on=['ID','SIDE'],how='left',indicator=True)
print(worms_kmri_sq_link00_without_sq_with_sq._merge.value_counts())
worms_kmri_sq_link00_without_sq_without_fnih = worms_kmri_sq_link00_without_sq_with_sq.loc[worms_kmri_sq_link00_without_sq_with_sq._merge == 'left_only']
print(worms_kmri_sq_link00_without_sq_without_fnih._merge.value_counts())

left_only     260
both           40
right_only      0
Name: _merge, dtype: int64
left_only     260
right_only      0
both            0
Name: _merge, dtype: int64
left_only     248
both           12
right_only      0
Name: _merge, dtype: int64
left_only     248
right_only      0
both            0
Name: _merge, dtype: int64

In [6]:
worms_kmri_sq_link00 = worms_kmri_sq_link00_without_sq_without_fnih
print(worms_kmri_sq_link00.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 0 to 259
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 248 non-null    int64
 1   SIDE               248 non-null    int64
 2   VERSION            248 non-null    float64
 3   READPRJ            248 non-null    int64
 4   V00MWMTMA          248 non-null    int64
 5   V00MWMTMB          248 non-null    int64
 6   V00MWMTMP          248 non-null    int64
 7   V00MWMTLA          248 non-null    int64
 8   V00MWMTLB          248 non-null    int64
 9   V00MWMTLP          248 non-null    int64
 10  V00MWMTMS          248 non-null    int64
 11  V00MWMTLS          248 non-null    int64
 12  V00MWACL           248 non-null    int64
 13  V00MWPCL           248 non-null    int64
 14  V00MWMCL           248 non-null    int64
 15  V00MWLCL           248 non-null    int64
 16  V00MWPATND         248 non-null    int64
 17  V00MWPOTND         248 non-null    int64
 18  V00MWCMP           248 non-null    int64
 19  V00MWCMFT          248 non-null    int64
 20  V00MWCMFM          248 non-null    int64
 21  V00MWCMFL          248 non-null    int64
 22  V00MWCMTM          248 non-null    int64
 23  V00MWCMTL          248 non-null    int64
 24  V00MWBMP           248 non-null    int64
 25  V00MWBMFT          248 non-null    int64
 26  V00MWBMFM          248 non-null    int64
 27  V00MWBMFL          248 non-null    int64
 28  V00MWBMTM          248 non-null    int64
 29  V00MWBMTL          248 non-null    int64
 30  V00MWEFFWK         207 non-null    float64
 31  V00MWLB            207 non-null    float64
 32  V00MWPOPCY         207 non-null    float64
 33  _merge_without_sq  248 non-null    category
 34  _merge             248 non-null    category
dtypes: category(2), float64(4), int64(29)
memory usage: 66.6 KB
None

# WORMS_OA_FEATURES_THRES1 Cartilage grade >1

In [7]:
# FIRST WE CONSTRUCT A NEW DATAFRAME WITH ALL THE OA FEATURES AS COLUMNS

# THE FIRST FEATURE DATAFRAME WE CONSTRUCT IS WITH THRESHOLD > 1 
# FOR BOTH BML AND CARTILAGE THICKNESS LOSS 
# Because it is not clear yet which threshold to use (1 or 0) 

worms_OA_features_thres1 = pd.DataFrame(
    columns=['ID','SIDE','Cartilage_Morphology','Partial_TCL','Full_TCL','BML', 'Meniscus_Degradation'])
# the ID and SIDE columns are integers
worms_OA_features_thres1[['ID','SIDE']] = worms_kmri_sq_link00[['ID','SIDE']]
# and we fill the rest of the df with np.nan values
worms_OA_features_thres1.iloc[:,2:] = np.nan

print('Type of ID and SIDE columns {} and type of the rest of the columns {}'
    .format(type(worms_OA_features_thres1.iloc[0,0]),type(worms_OA_features_thres1.iloc[0,2])))

Type of ID and SIDE columns <class 'numpy.int64'> and type of the rest of the columns <class 'numpy.float64'>

In [8]:
worms_OA_features_thres1

,ID,SIDE,Cartilage_Morphology,Partial_TCL,Full_TCL,BML,Meniscus_Degradation
0,9003175,1,NaN,NaN,NaN,NaN,NaN
1,9011115,1,NaN,NaN,NaN,NaN,NaN
2,9011949,1,NaN,NaN,NaN,NaN,NaN
3,9013634,1,NaN,NaN,NaN,NaN,NaN
5,9020999,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
255,9973569,1,NaN,NaN,NaN,NaN,NaN
256,9979306,1,NaN,NaN,NaN,NaN,NaN
257,9982698,1,NaN,NaN,NaN,NaN,NaN
258,9989352,1,NaN,NaN,NaN,NaN,NaN
259,9995913,1,NaN,NaN,NaN,NaN,NaN

In [9]:
# worms_kmri_sq_link00[worms_kmri_sq_link00.V00MWCMFL == 0]
worms_kmri_sq_link00.V00MWCMTL.value_counts()

0    152
1     52
2     29
3     11
5      4
Name: V00MWCMTL, dtype: int64

In [10]:
worms_OA_features_thres1.loc[((worms_kmri_sq_link00.V00MWCMFM > 1) | (worms_kmri_sq_link00.V00MWCMFL > 1) |
                (worms_kmri_sq_link00.V00MWCMTM > 1) | (worms_kmri_sq_link00.V00MWCMTL > 1)),'Cartilage_Morphology'] = 1

worms_OA_features_thres1.loc[((worms_kmri_sq_link00.V00MWCMFM == 5) | (worms_kmri_sq_link00.V00MWCMFL == 5) |
                (worms_kmri_sq_link00.V00MWCMTM == 5) | (worms_kmri_sq_link00.V00MWCMTL == 5)),'Full_TCL'] = 1

worms_OA_features_thres1['Partial_TCL'] = worms_OA_features_thres1['Cartilage_Morphology']
worms_OA_features_thres1.loc[(worms_OA_features_thres1['Full_TCL']==1),'Partial_TCL'] = 0

worms_OA_features_thres1.loc[((worms_kmri_sq_link00.V00MWBMFM > 0) | (worms_kmri_sq_link00.V00MWBMFL > 0) |
                (worms_kmri_sq_link00.V00MWBMTM > 0) | (worms_kmri_sq_link00.V00MWBMTL > 1)),'BML'] = 1

worms_OA_features_thres1.loc[((worms_kmri_sq_link00.V00MWMTMS > 0) | (worms_kmri_sq_link00.V00MWMTLS > 0)),'Meniscus_Degradation'] = 1                

worms_OA_features_thres1.fillna(0, inplace=True)
print(worms_OA_features_thres1.Partial_TCL.value_counts())
print(worms_OA_features_thres1.Full_TCL.sum())
print(worms_OA_features_thres1.Cartilage_Morphology.value_counts())

0.0    156
1.0     92
Name: Partial_TCL, dtype: int64
5.0
0.0    151
1.0     97
Name: Cartilage_Morphology, dtype: int64

In [11]:
aaa = worms_OA_features_thres1.loc[((worms_OA_features_thres1.Partial_TCL == 1) & (worms_OA_features_thres1.Full_TCL == 1))]
aaa

Empty DataFrame
Columns: [ID, SIDE, Cartilage_Morphology, Partial_TCL, Full_TCL, BML, Meniscus_Degradation]
Index: []

In [12]:
worms_cart_with_OA_thres1 = worms_OA_features_thres1.loc[((worms_OA_features_thres1.Cartilage_Morphology == 1))]
print('Threshold 1 - Number of subjects with worms grade for cartilage morphology larger than ONE : ',
        format(worms_OA_features_thres1.Cartilage_Morphology.eq(1).sum()))
worms_cart_with_OA_thres1.to_csv('worms_sq00_cartilage_with_OA_thres1.csv')        

worms_bml_with_OA_thres1 = worms_OA_features_thres1.loc[((worms_OA_features_thres1.BML == 1))]        
print('Threshold 1 - Number of subjects with worms grade for BML larger than ONE : ',
        format(worms_OA_features_thres1.BML.eq(1).sum()))
worms_bml_with_OA_thres1.to_csv('worms_sq00_bml_with_OA_thres1.csv')

worms_men_with_OA_thres1 = worms_OA_features_thres1.loc[((worms_OA_features_thres1.Meniscus_Degradation == 1))]
print('Threshold 1 - Number of subjects with worms grade for Meniscus Degradation larger than ONE : ',
        format(worms_OA_features_thres1.Meniscus_Degradation.eq(1).sum()))
worms_men_with_OA_thres1.to_csv('worms_sq00_men_with_OA_thres1.csv')

Threshold 1 - Number of subjects with worms grade for cartilage morphology larger than ONE :  97
Threshold 1 - Number of subjects with worms grade for BML larger than ONE :  45
Threshold 1 - Number of subjects with worms grade for Meniscus Degradation larger than ONE :  80

In [13]:
worms_wout_cart_thres1 = worms_OA_features_thres1.loc[(worms_OA_features_thres1.Cartilage_Morphology == 0)]                    
print('Number of subjects WITHOUT Cartilage is : ',format(worms_wout_cart_thres1.shape[0]))        
worms_wout_cart_thres1.to_csv('worms_sq00_without_Cart_thres1.csv')

worms_wout_bml_thres1 = worms_OA_features_thres1.loc[(worms_OA_features_thres1.BML == 0)]                    
print('Number of subjects WITHOUT BML is : ',format(worms_wout_bml_thres1.shape[0]))        
worms_wout_bml_thres1.to_csv('worms_sq00_without_BML_thres1.csv')

worms_wout_men_thres1 = worms_OA_features_thres1.loc[(worms_OA_features_thres1.Meniscus_Degradation == 0)]                    
print('Number of subjects WITHOUT OA is : ',format(worms_wout_men_thres1.shape[0]))        
worms_wout_men_thres1.to_csv('worms_sq00_without_Meniscus_thres1.csv')

Number of subjects WITHOUT Cartilage is :  151
Number of subjects WITHOUT BML is :  203
Number of subjects WITHOUT OA is :  168

In [14]:
worms_sq00_all_info_thres1 = worms_OA_features_thres1.merge(worms_kmri_sq_link00,on=['ID','SIDE'], how='inner')
worms_sq00_all_info_thres1.to_csv('worms_sq00_all_info_thres1.csv')

# NOW WE FORMULATE THE MRI DEFINED OA WITH DATA FROM WORMS THRESHOLD 1

In [15]:
kxr_sq_bu00= pd.read_csv('/home/anastasis/EMC_Thesis/OAI Data/OAICompleteData_ASCII/kxr_sq_bu00.txt', sep="|")
KL_prj15 = kxr_sq_bu00[kxr_sq_bu00['READPRJ'] == 15].copy()
KL_prj15_osteophytes = KL_prj15.loc[:,['ID','SIDE','V00XROSFL','V00XROSFM','V00XROSTL','V00XROSTM','V00XRKL']]
# KL_prj15_osteophytes

In [16]:
common_worms_kxr_00_thres1 = pd.merge(worms_OA_features_thres1,KL_prj15_osteophytes,on=['ID','SIDE'],how='inner')
common_worms_kxr_00_thres1

,ID,SIDE,Cartilage_Morphology,Partial_TCL,Full_TCL,BML,Meniscus_Degradation,V00XROSFL,V00XROSFM,V00XROSTL,V00XROSTM,V00XRKL
0,9003175,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
1,9011115,1,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
2,9011949,1,1.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
3,9013634,1,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
4,9020999,1,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
243,9973569,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
244,9979306,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
245,9982698,1,1.0,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0
246,9989352,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
247,9995913,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [17]:
plplp = common_worms_kxr_00_thres1[common_worms_kxr_00_thres1.V00XRKL==0]
plplp

,ID,SIDE,Cartilage_Morphology,Partial_TCL,Full_TCL,BML,Meniscus_Degradation,V00XROSFL,V00XROSFM,V00XROSTL,V00XROSTM,V00XRKL
0,9003175,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
1,9011115,1,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
2,9011949,1,1.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
3,9013634,1,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
4,9020999,1,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
240,9946473,1,1.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
243,9973569,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
244,9979306,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
245,9982698,1,1.0,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0
246,9989352,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0

In [18]:
common_worms_kxr_00_thres1 = common_worms_kxr_00_thres1[common_worms_kxr_00_thres1.V00XROSFL.notna()]
common_worms_kxr_00_thres1.drop(common_worms_kxr_00_thres1[(common_worms_kxr_00_thres1.V00XRKL==0) & ((common_worms_kxr_00_thres1.V00XROSFL != 0) |
 (common_worms_kxr_00_thres1.V00XROSFM != 0) | (common_worms_kxr_00_thres1.V00XROSTL != 0) | (common_worms_kxr_00_thres1.V00XROSTM != 0))].index,inplace=True)
common_worms_kxr_00_thres1

/home/anastasis/anaconda3/envs/tf/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,ID,SIDE,Cartilage_Morphology,Partial_TCL,Full_TCL,BML,Meniscus_Degradation,V00XROSFL,V00XROSFM,V00XROSTL,V00XROSTM,V00XRKL
13,9057417,1,1.0,1.0,0.0,1.0,1.0,0.0,3.0,1.0,1.0,2.0
15,9061827,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
16,9064631,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,9065433,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
21,9098924,1,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
237,9928863,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0
238,9939547,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
241,9946897,1,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,2.0
242,9969009,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
247,9995913,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [19]:
# akak = common_worms_kxr_00_thres1[common_worms_kxr_00_thres1.V00XRKL==0]
# akak
common_worms_kxr_00_thres1[(common_worms_kxr_00_thres1.V00XRKL==0) & ((common_worms_kxr_00_thres1.V00XROSFL != 0) | (common_worms_kxr_00_thres1.V00XROSFM != 0) | (common_worms_kxr_00_thres1.V00XROSTL != 0) | (common_worms_kxr_00_thres1.V00XROSTM != 0))]

Empty DataFrame
Columns: [ID, SIDE, Cartilage_Morphology, Partial_TCL, Full_TCL, BML, Meniscus_Degradation, V00XROSFL, V00XROSFM, V00XROSTL, V00XROSTM, V00XRKL]
Index: []

In [20]:
common_worms_kxr_00_thres1_features = common_worms_kxr_00_thres1.iloc[:,:7]
common_worms_kxr_00_thres1_features['XR_Osteophytes'] = np.nan
common_worms_kxr_00_thres1_features
common_worms_kxr_00_thres1_features.loc[((common_worms_kxr_00_thres1.V00XROSFL >= 1.0) | 
                (common_worms_kxr_00_thres1.V00XROSFM >= 1.0) | (common_worms_kxr_00_thres1.V00XROSTL >= 1.0) |
                (common_worms_kxr_00_thres1.V00XROSTM >= 1.0)), 'XR_Osteophytes' ] = 1.0
common_worms_kxr_00_thres1_features.fillna(0.0,inplace=True)
common_worms_kxr_00_thres1_features

,ID,SIDE,Cartilage_Morphology,Partial_TCL,Full_TCL,BML,Meniscus_Degradation,XR_Osteophytes
13,9057417,1,1.0,1.0,0.0,1.0,1.0,1.0
15,9061827,1,1.0,0.0,1.0,0.0,0.0,1.0
16,9064631,1,1.0,1.0,0.0,0.0,0.0,0.0
17,9065433,1,0.0,0.0,0.0,0.0,1.0,0.0
21,9098924,1,1.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
237,9928863,1,0.0,0.0,0.0,0.0,1.0,1.0
238,9939547,1,1.0,1.0,0.0,0.0,0.0,1.0
241,9946897,1,1.0,1.0,0.0,1.0,1.0,1.0
242,9969009,1,0.0,0.0,0.0,0.0,0.0,1.0
247,9995913,1,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
worms_OA_criteria_thres1 = pd.DataFrame(columns=['ID','SIDE',
             'Osteo_AND_Full_TCL',
             'Osteo_AND_Partial_TCL_AND_BML',
             'Osteo_AND_Partial_TCL_AND_Meniscus_Degradation',
             'Osteo_AND_BML_AND_Meniscus_Degradation',
             'Full_TCL_AND_BML_AND_Meniscus_Degradation'])
# the ID and SIDE columns are integers
worms_OA_criteria_thres1[['ID','SIDE']] = common_worms_kxr_00_thres1_features[['ID','SIDE']]
# and we fill the rest of the df with np.nan values
worms_OA_criteria_thres1.iloc[:,2:] = np.nan
worms_OA_criteria_thres1

,ID,SIDE,Osteo_AND_Full_TCL,Osteo_AND_Partial_TCL_AND_BML,Osteo_AND_Partial_TCL_AND_Meniscus_Degradation,Osteo_AND_BML_AND_Meniscus_Degradation,Full_TCL_AND_BML_AND_Meniscus_Degradation
13,9057417,1,NaN,NaN,NaN,NaN,NaN
15,9061827,1,NaN,NaN,NaN,NaN,NaN
16,9064631,1,NaN,NaN,NaN,NaN,NaN
17,9065433,1,NaN,NaN,NaN,NaN,NaN
21,9098924,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
237,9928863,1,NaN,NaN,NaN,NaN,NaN
238,9939547,1,NaN,NaN,NaN,NaN,NaN
241,9946897,1,NaN,NaN,NaN,NaN,NaN
242,9969009,1,NaN,NaN,NaN,NaN,NaN
247,9995913,1,NaN,NaN,NaN,NaN,NaN

In [22]:
worms_OA_criteria_thres1.loc[((common_worms_kxr_00_thres1_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_00_thres1_features['Full_TCL'] == 1.0)),'Osteo_AND_Full_TCL'] = 1.0
         
worms_OA_criteria_thres1.loc[((common_worms_kxr_00_thres1_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_00_thres1_features['Full_TCL'] != 1.0)),'Osteo_AND_Full_TCL'] = 0.0

print('With XR Osteophytes AND Full_TCL->1.0, Without->0.0: \n{}'.
        format(worms_OA_criteria_thres1['Osteo_AND_Full_TCL'].value_counts(dropna=False)))

With XR Osteophytes AND Full_TCL->1.0, Without->0.0:
0.0    57
1.0     5
Name: Osteo_AND_Full_TCL, dtype: int64

In [23]:
worms_OA_criteria_thres1.loc[((common_worms_kxr_00_thres1_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_00_thres1_features['Partial_TCL'] == 1.0) & 
            (common_worms_kxr_00_thres1_features['BML'] == 1.0)),'Osteo_AND_Partial_TCL_AND_BML'] = 1.0
worms_OA_criteria_thres1.loc[((common_worms_kxr_00_thres1_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_00_thres1_features['Partial_TCL'] != 1.0) |
            (common_worms_kxr_00_thres1_features['BML'] != 1.0)),'Osteo_AND_Partial_TCL_AND_BML'] = 0.0
print('With XR Osteophytes AND Partial_TCL AND BML->1.0, Without->0.0 \n{}'.
        format(worms_OA_criteria_thres1.Osteo_AND_Partial_TCL_AND_BML.value_counts(dropna=False)))

With XR Osteophytes AND Partial_TCL AND BML->1.0, Without->0.0
0.0    58
1.0     4
Name: Osteo_AND_Partial_TCL_AND_BML, dtype: int64

In [24]:
worms_OA_criteria_thres1.loc[((common_worms_kxr_00_thres1_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_00_thres1_features['Partial_TCL'] == 1.0) & 
            (common_worms_kxr_00_thres1_features['Meniscus_Degradation'] == 1.0)),'Osteo_AND_Partial_TCL_AND_Meniscus_Degradation'] = 1.0
worms_OA_criteria_thres1.loc[((common_worms_kxr_00_thres1_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_00_thres1_features['Partial_TCL'] != 1.0) |
            (common_worms_kxr_00_thres1_features['Meniscus_Degradation'] != 1.0)),'Osteo_AND_Partial_TCL_AND_Meniscus_Degradation'] = 0.0
print('With Osteophytes AND Partial TCL AND Meniscus_Degradation->1.0, Without->0.0: \n{}'.
        format((worms_OA_criteria_thres1['Osteo_AND_Partial_TCL_AND_Meniscus_Degradation'].value_counts(dropna=False))))

With Osteophytes AND Partial TCL AND Meniscus_Degradation->1.0, Without->0.0:
0.0    55
1.0     7
Name: Osteo_AND_Partial_TCL_AND_Meniscus_Degradation, dtype: int64

In [25]:
worms_OA_criteria_thres1.loc[((common_worms_kxr_00_thres1_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_00_thres1_features['BML'] == 1.0) & 
            (common_worms_kxr_00_thres1_features['Meniscus_Degradation'] == 1.0)),'Osteo_AND_BML_AND_Meniscus_Degradation'] = 1.0
worms_OA_criteria_thres1.loc[((common_worms_kxr_00_thres1_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_00_thres1_features['BML'] != 1.0) |
            (common_worms_kxr_00_thres1_features['Meniscus_Degradation'] != 1.0)),'Osteo_AND_BML_AND_Meniscus_Degradation'] = 0.0            
print('With Osteophytes AND BML AND Meniscus_Degradation->1.0, Without->0.0: \n{}'.
        format((worms_OA_criteria_thres1['Osteo_AND_BML_AND_Meniscus_Degradation'].value_counts(dropna=False))))

With Osteophytes AND BML AND Meniscus_Degradation->1.0, Without->0.0:
0.0    57
1.0     5
Name: Osteo_AND_BML_AND_Meniscus_Degradation, dtype: int64

In [26]:
worms_OA_criteria_thres1.loc[((common_worms_kxr_00_thres1_features['Full_TCL'] == 1.0) & 
            (common_worms_kxr_00_thres1_features['BML'] == 1.0) & 
            (common_worms_kxr_00_thres1_features['Meniscus_Degradation'] == 1.0)),'Full_TCL_AND_BML_AND_Meniscus_Degradation'] = 1.0
worms_OA_criteria_thres1.loc[((common_worms_kxr_00_thres1_features['Full_TCL'] != 1.0) | 
            (common_worms_kxr_00_thres1_features['BML'] != 1.0) |
            (common_worms_kxr_00_thres1_features['Meniscus_Degradation'] != 1.0)),'Full_TCL_AND_BML_AND_Meniscus_Degradation'] = 0.0
print('With Full_TCL AND BML AND Meniscus_Degradation->1.0, Without->0.0: \n{}'.
        format((worms_OA_criteria_thres1['Full_TCL_AND_BML_AND_Meniscus_Degradation'].value_counts(dropna=False))))

With Full_TCL AND BML AND Meniscus_Degradation->1.0, Without->0.0:
0.0    61
1.0     1
Name: Full_TCL_AND_BML_AND_Meniscus_Degradation, dtype: int64

In [27]:
worms_OA_criteria_thres1.fillna(0.0,inplace=True)
worms_OA_criteria_thres1['moaks_OA'] = np.nan
worms_OA_criteria_thres1.loc[((worms_OA_criteria_thres1['Osteo_AND_Full_TCL']==1.0) |
                (worms_OA_criteria_thres1['Osteo_AND_Partial_TCL_AND_BML']==1.0) |
                (worms_OA_criteria_thres1['Osteo_AND_Partial_TCL_AND_Meniscus_Degradation']==1.0) |
                (worms_OA_criteria_thres1['Osteo_AND_BML_AND_Meniscus_Degradation']==1.0) |
                (worms_OA_criteria_thres1['Full_TCL_AND_BML_AND_Meniscus_Degradation']==1.0)),'moaks_OA'] = 1.0
worms_OA_criteria_thres1.fillna(0.0,inplace=True)
print('Number of subjects that satisfy at least one OA criterion is : {}'.format((worms_OA_criteria_thres1['moaks_OA']==1.0).sum()))
worms_OA_criteria_thres1.to_csv('worms_OA_criteria_thres1.csv')
worms_OA_criteria_thres1[worms_OA_criteria_thres1.moaks_OA==1].to_csv('worms_OA_criteria_thres1_one00.csv')
worms_OA_criteria_thres1[worms_OA_criteria_thres1.moaks_OA==0].to_csv('worms_OA_criteria_thres1_zero00.csv')

Number of subjects that satisfy at least one OA criterion is : 14

# WORMS_OA_FEATURES_THRES0 Cartilage grade >0

In [28]:
worms_OA_features_thres0 = pd.DataFrame(
    columns=['ID','SIDE','Cartilage_Morphology','Partial_TCL','Full_TCL','BML', 'Meniscus_Degradation'])
# the ID and SIDE columns are integers
worms_OA_features_thres0[['ID','SIDE']] = worms_kmri_sq_link00[['ID','SIDE']]
# and we fill the rest of the df with np.nan values
worms_OA_features_thres0.iloc[:,2:] = np.nan

print('Type of ID and SIDE columns {} and type of the rest of the columns {}'
    .format(type(worms_OA_features_thres0.iloc[0,0]),type(worms_OA_features_thres0.iloc[0,2])))

Type of ID and SIDE columns <class 'numpy.int64'> and type of the rest of the columns <class 'numpy.float64'>

In [29]:
worms_OA_features_thres0.loc[((worms_kmri_sq_link00.V00MWCMFM > 0) | (worms_kmri_sq_link00.V00MWCMFL > 0) |
                (worms_kmri_sq_link00.V00MWCMTM > 0) | (worms_kmri_sq_link00.V00MWCMTL > 0)),'Cartilage_Morphology'] = 1

worms_OA_features_thres0.loc[((worms_kmri_sq_link00.V00MWCMFM == 5) | (worms_kmri_sq_link00.V00MWCMFL == 5) |
                (worms_kmri_sq_link00.V00MWCMTM == 5) | (worms_kmri_sq_link00.V00MWCMTL == 5)),'Full_TCL'] = 1

worms_OA_features_thres0['Partial_TCL'] = worms_OA_features_thres0['Cartilage_Morphology']
worms_OA_features_thres0.loc[(worms_OA_features_thres0['Full_TCL']==1),'Partial_TCL'] = 0

worms_OA_features_thres0.loc[((worms_kmri_sq_link00.V00MWBMFM > 0) | (worms_kmri_sq_link00.V00MWBMFL > 0) |
                (worms_kmri_sq_link00.V00MWBMTM > 0) | (worms_kmri_sq_link00.V00MWBMTL > 1)),'BML'] = 1

worms_OA_features_thres0.loc[((worms_kmri_sq_link00.V00MWMTMS > 0) | (worms_kmri_sq_link00.V00MWMTLS > 0)),'Meniscus_Degradation'] = 1                

worms_OA_features_thres0.fillna(0, inplace=True)

In [30]:
worms_cart_with_OA_thres0 = worms_OA_features_thres0.loc[((worms_OA_features_thres0.Cartilage_Morphology == 1))]
print('Threshold 0 - Number of subjects with worms grade for cartilage morphology larger than ZERO : ',
        format(worms_OA_features_thres0.Cartilage_Morphology.eq(1).sum()))
worms_cart_with_OA_thres0.to_csv('worms_sq00_cartilage_with_OA_thres0.csv')        

worms_bml_with_OA_thres0 = worms_OA_features_thres0.loc[((worms_OA_features_thres0.BML == 1))]        
print('Threshold 0 - Number of subjects with worms grade for BML larger than ZERO : ',
        format(worms_OA_features_thres0.BML.eq(1).sum()))
worms_bml_with_OA_thres0.to_csv('worms_sq00_bml_with_OA_thres0.csv')

worms_men_with_OA_thres0 = worms_OA_features_thres0.loc[((worms_OA_features_thres0.Meniscus_Degradation == 1))]
print('Threshold 0 - Number of subjects with worms grade for Meniscus Degradation larger than ZERO : ',
        format(worms_OA_features_thres0.Meniscus_Degradation.eq(1).sum()))
worms_men_with_OA_thres0.to_csv('worms_sq00_men_with_OA_thres0.csv')

Threshold 0 - Number of subjects with worms grade for cartilage morphology larger than ZERO :  146
Threshold 0 - Number of subjects with worms grade for BML larger than ZERO :  45
Threshold 0 - Number of subjects with worms grade for Meniscus Degradation larger than ZERO :  80

In [31]:
worms_wout_cart_thres0 = worms_OA_features_thres0.loc[(worms_OA_features_thres0.Cartilage_Morphology == 0)]                    
print('Number of subjects WITHOUT Cartilage is : ',format(worms_wout_cart_thres0.shape[0]))        
worms_wout_cart_thres0.to_csv('worms_sq00_without_Cart_thres0.csv')

worms_wout_bml_thres0 = worms_OA_features_thres0.loc[(worms_OA_features_thres0.BML == 0)]                    
print('Number of subjects WITHOUT BML is : ',format(worms_wout_bml_thres0.shape[0]))        
worms_wout_bml_thres0.to_csv('worms_sq00_without_BML_thres0.csv')

worms_wout_men_thres0 = worms_OA_features_thres0.loc[(worms_OA_features_thres0.Meniscus_Degradation == 0)]                    
print('Number of subjects WITHOUT OA is : ',format(worms_wout_men_thres0.shape[0]))        
worms_wout_men_thres0.to_csv('worms_sq00_without_Meniscus_thres0.csv')

Number of subjects WITHOUT Cartilage is :  102
Number of subjects WITHOUT BML is :  203
Number of subjects WITHOUT OA is :  168

In [32]:
worms_sq00_all_info_thres0 = worms_OA_features_thres0.merge(worms_kmri_sq_link00,on=['ID','SIDE'], how='inner')
worms_sq00_all_info_thres0.to_csv('worms_sq00_all_info_thres0.csv')

# NOW WE FORMULATE THE MRI DEFINED OA WITH DATA FROM WORMS THRESHOLD 0

In [33]:
common_worms_kxr_00_thres0 = pd.merge(worms_OA_features_thres0,KL_prj15_osteophytes,on=['ID','SIDE'],how='inner')
common_worms_kxr_00_thres0

,ID,SIDE,Cartilage_Morphology,Partial_TCL,Full_TCL,BML,Meniscus_Degradation,V00XROSFL,V00XROSFM,V00XROSTL,V00XROSTM,V00XRKL
0,9003175,1,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
1,9011115,1,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
2,9011949,1,1.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
3,9013634,1,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
4,9020999,1,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
243,9973569,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
244,9979306,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
245,9982698,1,1.0,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0
246,9989352,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
247,9995913,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [34]:
common_worms_kxr_00_thres0 = common_worms_kxr_00_thres0[common_worms_kxr_00_thres0.V00XROSFL.notna()]
common_worms_kxr_00_thres0.drop(common_worms_kxr_00_thres0[(common_worms_kxr_00_thres0.V00XRKL==0) & ((common_worms_kxr_00_thres0.V00XROSFL != 0) |
 (common_worms_kxr_00_thres0.V00XROSFM != 0) | (common_worms_kxr_00_thres0.V00XROSTL != 0) | (common_worms_kxr_00_thres0.V00XROSTM != 0))].index,inplace=True)
common_worms_kxr_00_thres0

/home/anastasis/anaconda3/envs/tf/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,ID,SIDE,Cartilage_Morphology,Partial_TCL,Full_TCL,BML,Meniscus_Degradation,V00XROSFL,V00XROSFM,V00XROSTL,V00XROSTM,V00XRKL
13,9057417,1,1.0,1.0,0.0,1.0,1.0,0.0,3.0,1.0,1.0,2.0
15,9061827,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
16,9064631,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,9065433,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
21,9098924,1,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
237,9928863,1,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0
238,9939547,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
241,9946897,1,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,2.0
242,9969009,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
247,9995913,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [35]:
common_worms_kxr_00_thres0_features = common_worms_kxr_00_thres0.iloc[:,:7]
common_worms_kxr_00_thres0_features['XR_Osteophytes'] = np.nan
common_worms_kxr_00_thres0_features
common_worms_kxr_00_thres0_features.loc[((common_worms_kxr_00_thres0.V00XROSFL >= 1.0) | 
                (common_worms_kxr_00_thres0.V00XROSFM >= 1.0) | (common_worms_kxr_00_thres0.V00XROSTL >= 1.0) |
                (common_worms_kxr_00_thres0.V00XROSTM >= 1.0)), 'XR_Osteophytes' ] = 1.0
common_worms_kxr_00_thres0_features.fillna(0.0,inplace=True)
common_worms_kxr_00_thres0_features

,ID,SIDE,Cartilage_Morphology,Partial_TCL,Full_TCL,BML,Meniscus_Degradation,XR_Osteophytes
13,9057417,1,1.0,1.0,0.0,1.0,1.0,1.0
15,9061827,1,1.0,0.0,1.0,0.0,0.0,1.0
16,9064631,1,1.0,1.0,0.0,0.0,0.0,0.0
17,9065433,1,0.0,0.0,0.0,0.0,1.0,0.0
21,9098924,1,1.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
237,9928863,1,1.0,1.0,0.0,0.0,1.0,1.0
238,9939547,1,1.0,1.0,0.0,0.0,0.0,1.0
241,9946897,1,1.0,1.0,0.0,1.0,1.0,1.0
242,9969009,1,0.0,0.0,0.0,0.0,0.0,1.0
247,9995913,1,1.0,1.0,0.0,0.0,0.0,0.0

In [36]:
worms_OA_criteria_thres0 = pd.DataFrame(columns=['ID','SIDE',
             'Osteo_AND_Full_TCL',
             'Osteo_AND_Partial_TCL_AND_BML',
             'Osteo_AND_Partial_TCL_AND_Meniscus_Degradation',
             'Osteo_AND_BML_AND_Meniscus_Degradation',
             'Full_TCL_AND_BML_AND_Meniscus_Degradation'])
# the ID and SIDE columns are integers
worms_OA_criteria_thres0[['ID','SIDE']] = common_worms_kxr_00_thres0_features[['ID','SIDE']]
# and we fill the rest of the df with np.nan values
worms_OA_criteria_thres0.iloc[:,2:] = np.nan
worms_OA_criteria_thres0

,ID,SIDE,Osteo_AND_Full_TCL,Osteo_AND_Partial_TCL_AND_BML,Osteo_AND_Partial_TCL_AND_Meniscus_Degradation,Osteo_AND_BML_AND_Meniscus_Degradation,Full_TCL_AND_BML_AND_Meniscus_Degradation
13,9057417,1,NaN,NaN,NaN,NaN,NaN
15,9061827,1,NaN,NaN,NaN,NaN,NaN
16,9064631,1,NaN,NaN,NaN,NaN,NaN
17,9065433,1,NaN,NaN,NaN,NaN,NaN
21,9098924,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
237,9928863,1,NaN,NaN,NaN,NaN,NaN
238,9939547,1,NaN,NaN,NaN,NaN,NaN
241,9946897,1,NaN,NaN,NaN,NaN,NaN
242,9969009,1,NaN,NaN,NaN,NaN,NaN
247,9995913,1,NaN,NaN,NaN,NaN,NaN

In [37]:
worms_OA_criteria_thres0.loc[((common_worms_kxr_00_thres0_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_00_thres0_features['Full_TCL'] == 1.0)),'Osteo_AND_Full_TCL'] = 1.0
         
worms_OA_criteria_thres0.loc[((common_worms_kxr_00_thres0_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_00_thres0_features['Full_TCL'] != 1.0)),'Osteo_AND_Full_TCL'] = 0.0

print('With XR Osteophytes AND Full_TCL->1.0, Without->0.0: \n{}'.
        format(worms_OA_criteria_thres0['Osteo_AND_Full_TCL'].value_counts(dropna=False)))

With XR Osteophytes AND Full_TCL->1.0, Without->0.0:
0.0    57
1.0     5
Name: Osteo_AND_Full_TCL, dtype: int64

In [38]:
worms_OA_criteria_thres0.loc[((common_worms_kxr_00_thres0_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_00_thres0_features['Partial_TCL'] == 1.0) & 
            (common_worms_kxr_00_thres0_features['BML'] == 1.0)),'Osteo_AND_Partial_TCL_AND_BML'] = 1.0
worms_OA_criteria_thres0.loc[((common_worms_kxr_00_thres0_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_00_thres0_features['Partial_TCL'] != 1.0) |
            (common_worms_kxr_00_thres0_features['BML'] != 1.0)),'Osteo_AND_Partial_TCL_AND_BML'] = 0.0
print('With XR Osteophytes AND Partial_TCL AND BML->1.0, Without->0.0 \n{}'.
        format(worms_OA_criteria_thres0.Osteo_AND_Partial_TCL_AND_BML.value_counts(dropna=False)))

With XR Osteophytes AND Partial_TCL AND BML->1.0, Without->0.0
0.0    54
1.0     8
Name: Osteo_AND_Partial_TCL_AND_BML, dtype: int64

In [39]:
worms_OA_criteria_thres1.loc[((common_worms_kxr_00_thres1_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_00_thres1_features['Partial_TCL'] == 1.0) & 
            (common_worms_kxr_00_thres1_features['Meniscus_Degradation'] == 1.0)),'Osteo_AND_Partial_TCL_AND_Meniscus_Degradation'] = 1.0
worms_OA_criteria_thres1.loc[((common_worms_kxr_00_thres1_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_00_thres1_features['Partial_TCL'] != 1.0) |
            (common_worms_kxr_00_thres1_features['Meniscus_Degradation'] != 1.0)),'Osteo_AND_Partial_TCL_AND_Meniscus_Degradation'] = 0.0
print('With Osteophytes AND Partial TCL AND Meniscus_Degradation->1.0, Without->0.0: \n{}'.
        format((worms_OA_criteria_thres1['Osteo_AND_Partial_TCL_AND_Meniscus_Degradation'].value_counts(dropna=False))))

With Osteophytes AND Partial TCL AND Meniscus_Degradation->1.0, Without->0.0:
0.0    55
1.0     7
Name: Osteo_AND_Partial_TCL_AND_Meniscus_Degradation, dtype: int64

In [40]:
worms_OA_criteria_thres0.loc[((common_worms_kxr_00_thres0_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_00_thres0_features['BML'] == 1.0) & 
            (common_worms_kxr_00_thres0_features['Meniscus_Degradation'] == 1.0)),'Osteo_AND_BML_AND_Meniscus_Degradation'] = 1.0
worms_OA_criteria_thres0.loc[((common_worms_kxr_00_thres0_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_00_thres0_features['BML'] != 1.0) |
            (common_worms_kxr_00_thres0_features['Meniscus_Degradation'] != 1.0)),'Osteo_AND_BML_AND_Meniscus_Degradation'] = 0.0            
print('With Osteophytes AND BML AND Meniscus_Degradation->1.0, Without->0.0: \n{}'.
        format((worms_OA_criteria_thres0['Osteo_AND_BML_AND_Meniscus_Degradation'].value_counts(dropna=False))))

With Osteophytes AND BML AND Meniscus_Degradation->1.0, Without->0.0:
0.0    57
1.0     5
Name: Osteo_AND_BML_AND_Meniscus_Degradation, dtype: int64

In [41]:
worms_OA_criteria_thres0.loc[((common_worms_kxr_00_thres0_features['Full_TCL'] == 1.0) & 
            (common_worms_kxr_00_thres0_features['BML'] == 1.0) & 
            (common_worms_kxr_00_thres0_features['Meniscus_Degradation'] == 1.0)),'Full_TCL_AND_BML_AND_Meniscus_Degradation'] = 1.0
worms_OA_criteria_thres0.loc[((common_worms_kxr_00_thres0_features['Full_TCL'] != 1.0) | 
            (common_worms_kxr_00_thres0_features['BML'] != 1.0) |
            (common_worms_kxr_00_thres0_features['Meniscus_Degradation'] != 1.0)),'Full_TCL_AND_BML_AND_Meniscus_Degradation'] = 0.0
print('With Full_TCL AND BML AND Meniscus_Degradation->1.0, Without->0.0: \n{}'.
        format((worms_OA_criteria_thres0['Full_TCL_AND_BML_AND_Meniscus_Degradation'].value_counts(dropna=False))))

With Full_TCL AND BML AND Meniscus_Degradation->1.0, Without->0.0:
0.0    61
1.0     1
Name: Full_TCL_AND_BML_AND_Meniscus_Degradation, dtype: int64

In [42]:
worms_OA_criteria_thres0.fillna(0.0,inplace=True)
worms_OA_criteria_thres0['moaks_OA'] = np.nan
worms_OA_criteria_thres0.loc[((worms_OA_criteria_thres0['Osteo_AND_Full_TCL']==1.0) |
                (worms_OA_criteria_thres0['Osteo_AND_Partial_TCL_AND_BML']==1.0) |
                (worms_OA_criteria_thres0['Osteo_AND_Partial_TCL_AND_Meniscus_Degradation']==1.0) |
                (worms_OA_criteria_thres0['Osteo_AND_BML_AND_Meniscus_Degradation']==1.0) |
                (worms_OA_criteria_thres0['Full_TCL_AND_BML_AND_Meniscus_Degradation']==1.0)),'moaks_OA'] = 1.0
worms_OA_criteria_thres0.fillna(0.0,inplace=True)
print('Number of subjects that satisfy at least one OA criterion is : {}'.format((worms_OA_criteria_thres0['moaks_OA']==1.0).sum()))
worms_OA_criteria_thres0.to_csv('worms_OA_criteria_thres0.csv')
worms_OA_criteria_thres0[worms_OA_criteria_thres0.moaks_OA==1].to_csv('worms_OA_criteria_thres0_one00.csv')
worms_OA_criteria_thres0[worms_OA_criteria_thres0.moaks_OA==0].to_csv('worms_OA_criteria_thres0_zero00.csv')

Number of subjects that satisfy at least one OA criterion is : 13