In [16]:
import pandas as pd
import numpy as np
from functools import reduce

In [17]:
moaks_sq00 = pd.read_csv('/home/anastasis/EMC_Thesis/OAI Data/OAICompleteData_ASCII/kMRI_SQ_MOAKS_BICL00.txt', sep="|")

In [18]:
print(moaks_sq00.info(),'\n',moaks_sq00.iloc[:,-3])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3017 entries, 0 to 3016
Columns: 121 entries, ID to V00MTCMNTS
dtypes: float64(16), int64(1), object(104)
memory usage: 2.8+ MB
None
 0       .: Missing Form/Incomplete Workbook
1       .: Missing Form/Incomplete Workbook
2       .: Missing Form/Incomplete Workbook
3       .: Missing Form/Incomplete Workbook
4       .: Missing Form/Incomplete Workbook
                       ...
3012    .: Missing Form/Incomplete Workbook
3013    .: Missing Form/Incomplete Workbook
3014    .: Missing Form/Incomplete Workbook
3015    .: Missing Form/Incomplete Workbook
3016    .: Missing Form/Incomplete Workbook
Name: V00MITBSIG, Length: 3017, dtype: object

# NOW WE DELETE ALL THE COMMENTS OF THE INITIAL DATAFRAME AND CONVERT THE VALUES TO NUMBERS

In [19]:
# Firstly we replace all the comments
moaks_without_commments = moaks_sq00.replace(r'(\:).*$',r'\1',regex=True)
# Secondly we replace all the '.:' and the ':' bullets with space and remove 'R' from Reader Column
moaks_without_commments_bullets = moaks_without_commments.replace({'\.\:':'',':':''},regex=True)
# Thirdly we remove the Comments and Technical Considerations Columns from the whole Dataset
moaks_without_commments_bullets = moaks_without_commments_bullets.drop(columns=['V00MCMNTS','V00MTCMNTS'])
print(moaks_without_commments_bullets.READPRJ.value_counts())

65     1157
22      600
30      600
63E     308
63A     110
63F      81
63C      63
63B      61
63D      37
Name: READPRJ, dtype: int64

In [20]:
# WE KEEP ONLY THE SUBJECTS THAT ARE PRESENT IN PROJECT 63F AND NOT IN PROJECT 22

moaks_without_commments_bullets_prj22 = moaks_without_commments_bullets.loc[moaks_without_commments_bullets['READPRJ']=='22']
print(moaks_without_commments_bullets_prj22.shape[0])

moaks_without_commments_bullets_prj63F = moaks_without_commments_bullets.loc[moaks_without_commments_bullets['READPRJ']=='63F']
print('Number of subjects with OA at baseline prj63: {}'.format(moaks_without_commments_bullets_prj63F.shape[0]))
moaks_without_commments_bullets_prj63F_unique_ID = pd.merge(moaks_without_commments_bullets_prj63F,moaks_without_commments_bullets_prj22,on=['ID','SIDE'],how='outer',indicator=True)
moaks_without_commments_bullets_prj63F_unique_ID = moaks_without_commments_bullets_prj63F_unique_ID.loc[(moaks_without_commments_bullets_prj63F_unique_ID._merge=='left_only'),['ID','SIDE']]
moaks_without_commments_bullets_prj63F_unique_info = moaks_without_commments_bullets_prj63F.merge(moaks_without_commments_bullets_prj63F_unique_ID,on=['ID','SIDE'],how='inner')
moaks_without_commments_bullets_prj63F_unique_info = moaks_without_commments_bullets_prj63F_unique_info.drop_duplicates(subset=['ID','SIDE'])
print('Number of subjects with OA at baseline unique to prj63: {}'.format(moaks_without_commments_bullets_prj63F_unique_info.shape[0]))

moaks_without_commments_bullets_prj63E = moaks_without_commments_bullets.loc[moaks_without_commments_bullets['READPRJ']=='63E']
print('Number of subjects without OA at baseline prj63: {}'.format(moaks_without_commments_bullets_prj63E.shape[0]))
moaks_without_commments_bullets_prj63E_unique_ID = pd.merge(moaks_without_commments_bullets_prj63E,moaks_without_commments_bullets_prj22,on=['ID','SIDE'],how='outer',indicator=True)
moaks_without_commments_bullets_prj63E_unique_ID = moaks_without_commments_bullets_prj63E_unique_ID.loc[(moaks_without_commments_bullets_prj63E_unique_ID._merge=='left_only'),['ID','SIDE']]
moaks_without_commments_bullets_prj63E_unique_info = moaks_without_commments_bullets_prj63E.merge(moaks_without_commments_bullets_prj63E_unique_ID,on=['ID','SIDE'],how='inner')
moaks_without_commments_bullets_prj63E_unique_info = moaks_without_commments_bullets_prj63E_unique_info.drop_duplicates(subset=['ID','SIDE'])
print('Number of subjects without OA at baseline unique to prj63: {}'.format(moaks_without_commments_bullets_prj63E_unique_info.shape[0]))

600
Number of subjects with OA at baseline prj63: 81
Number of subjects with OA at baseline unique to prj63: 60
Number of subjects without OA at baseline prj63: 308
Number of subjects without OA at baseline unique to prj63: 298

In [21]:
moaks_without_commments_bullets_prj63E_unique_ID

          ID SIDE
0    9005413    2
1    9008934    1
2    9010308    1
3    9012435    2
4    9014797    1
..       ...  ...
303  9961951    1
304  9977706    2
305  9988891    2
306  9990072    2
307  9999878    2

[298 rows x 2 columns]

In [22]:
moaks_without_commments_bullets_prj63F_unique_info

,ID,SIDE,READPRJ,VERSION,V00MCMPM,V00MCMPL,V00MCMFMA,V00MCMFLA,V00MCMFMP,V00MCMFLP,...,V00MGCSM,V00MGSST,V00MGCOTH,V00MANSBUR,V00MIPBUR,V00MPPBUR,V00MSYIC,V00MEFFWK,V00MPOPCYS,V00MITBSIG
0,9017252,2,63F,0.2,2,3.2,2,2.2,2,2,...,,,,,,,,,,
1,9021791,1,63F,0.2,2,0,0,0,0,2,...,,,,,,,,,,
2,9028786,1,63F,0.2,0,1,0,0,0,0,...,,,,,,,,,,
3,9048192,2,63F,0.2,2,2,2,0,0,2,...,,,,,,,,,,
4,9058960,1,63F,0.2,2.2,2.2,0,0,0,2,...,,,,,,,,,,
5,9063955,2,63F,0.2,2.2,2,0,0,0,0,...,,,,,,,,,,
6,9067323,1,63F,0.2,2,2,2,2,2,2,...,,,,,,,,,,
7,9076604,1,63F,0.2,2.2,3.3,2.2,2.2,0,0,...,,,,,,,,,,
8,9083113,1,63F,0.2,0,0,2,0,0,2,...,,,,,,,,,,
9,9092628,2,63F,0.2,0,0,2.1,0,0,0,...,,,,,,,,,,
10,9093244,2,63F,0.2,2,0,2,0,2,0,...,,,,,,,,,,
11,9173792,2,63F,0.2,0,2,0,2,0,0,...,,,,,,,,,,
12,9202456,1,63F,0.2,0,0,0,0,0,0,...,,,,,,,,,,
13,9206535,2,63F,0.2,2,0,2,2,2,0,...,,,,,,,,,,
14,9222596,1,63F,0.2,0,0,2,0,2.2,0,...,,,,,,,,,,
15,9226589,1,63F,0.2,0,0,2,0,2,0,...,,,,,,,,,,
16,9258562,2,63F,0.2,2.2,3.2,1,0,0,0,...,,,,,,,,,,
17,9264200,2,63F,0.2,2,3.3,0,3.2,0,2.2,...,,,,,,,,,,
18,9283903,1,63F,0.2,2,2.2,2,2.2,0,0,...,,,,,,,,,,
19,9328332,1,63F,0.2,2,0,0,0,0,0,...,,,,,,,,,,
20,9365356,1,63F,0.2,2.2,2.2,3.2,2,0,0,...,,,,,,,,,,
21,9372219,2,63F,0.2,0,0,2,0,0,0,...,,,,,,,,,,
22,9381777,2,63F,0.2,0,0,2,0,0,0,...,,,,,,,,,,
23,9391126,2,63F,0.2,2,0,2,0,0,0,...,,,,,,,,,,
24,9451212,2,63F,0.2,2,2,2,0,0,0,...,,,,,,,,,,
25,9468292,1,63F,0.2,0,2,0,0,0,2,...,,,,,,,,,,
26,9488319,1,63F,0.2,3.2,2.2,2.2,2,0,0,...,,,,,,,,,,
27,9504363,1,63F,0.2,0,3,0,2.2,0,0,...,,,,,,,,,,
28,9505140,2,63F,0.2,0,2.2,2,1,0,0,...,,,,,,,,,,
29,9559476,2,63F,0.2,0,0,0,0,0,0,...,,,,,,,,,,
30,9561686,2,63F,0.2,2,2,2,0,0,0,...,,,,,,,,,,
31,9566972,2,63F,0.2,2,2,2,0,0,0,...,,,,,,,,,,
32,9587941,2,63F,0.2,3.2,2,2.2,2.2,1.1,0,...,,,,,,,,,,
33,9596723,2,63F,0.2,2,3.3,0,3.2,0,0,...,,,,,,,,,,
34,9615754,1,63F,0.2,2,0,0,0,0,0,...,,,,,,,,,,
35,9633944,2,63F,0.2,2,2,0,0,0,0,...,,,,,,,,,,
36,9646127,1,63F,0.2,2.2,2,2,2,2,0,...,,,,,,,,,,
37,9654655,1,63F,0.2,0,0,2,0,0,0,...,,,,,,,,,,
38,9666715,1,63F,0.2,0,0,0,0,0,0,...,,,,,,,,,,
39,9689922,2,63F,0.2,0,2.1,2,0,0,0,...,,,,,,,,,,
40,9711687,1,63F,0.2,2,2,2,2.2,2,0,...,,,,,,,,,,
41,9721540,1,63F,0.2,2.2,3.3,2,3.3,0,0,...,,,,,,,,,,
42,9724907,1,63F,0.2,0,0,0,0,0,0,...,,,,,,,,,,
43,9743354,2,63F,0.2,2,2.2,0,0,0,0,...,,,,,,,,,,
44,9755899,2,63F,0.2,0,0,2,0,2,0,...,,,,,,,,,,
45,9767446,2,63F,0.2,0,0,2,0,0,0,...,,,,,,,,,,
46,9785684,2,63F,0.2,2.2,2,2,2,0,0,...,,,,,,,,,,
47,9796889,1,63F,0.2,0,0,2,0,0,2,...,,,,,,,,,,
48,9801148,1,63F,0.2,1,0,2,2,0,2,...,,,,,,,,,,
49,9841838,1,63F,0.2,2.2,0,0,0,0,2.2,...,,,,,,,,,,
50,9866738,2,63F,0.2,2.2,2.2,2,0,0,2,...,,,,,,,,,,
51,9872052,2,63F,0.2,0,0,2,0,0,2,...,,,,,,,,,,
52,9875231,2,63F,0.2,0,0,2,0,0,2.2,...,,,,,,,,,,
53,9887519,1,63F,0.2,2.2,3.3,2,3.2,2,0,...,,,,,,,,,,
54,9913281,2,63F,0.2,2,2.2,2,2.2,0,0,...,,,,,,,,,,
55,9925594,2,63F,0.2,2.2,2.2,0,0,0,0,...,,,,,,,,,,
56,9948322,1,63F,0.2,0,2,0,2,0,0,...,,,,,,,,,,
57,9967358,2,63F,0.2,2,3.3,0,3.2,0,0,...,,,,,,,,,,
58,9985277,2,63F,0.2,2,3.3,2,3.2,0,0,...,,,,,,,,,,
59,9993650,1,63F,0.2,2,0,0,0,0,0,...,,,,,,,,,,

In [23]:
moaks_without_commments_bullets_prj63E_unique_info

,ID,SIDE,READPRJ,VERSION,V00MCMPM,V00MCMPL,V00MCMFMA,V00MCMFLA,V00MCMFMP,V00MCMFLP,...,V00MGCSM,V00MGSST,V00MGCOTH,V00MANSBUR,V00MIPBUR,V00MPPBUR,V00MSYIC,V00MEFFWK,V00MPOPCYS,V00MITBSIG
0,9005413,2,63E,0.2,2,2.2,2,0,0,0,...,,,,,,,,,,
1,9008934,1,63E,0.2,0,0,2,2.2,0,0,...,,,,,,,,,,
2,9010308,1,63E,0.2,0,0,1,0,0,0,...,,,,,,,,,,
3,9012435,2,63E,0.2,0,0,0,0,0,0,...,,,,,,,,,,
4,9014797,1,63E,0.2,0,0,0,2,0,0,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,9961951,1,63E,0.2,2,3,0,2,0,0,...,,,,,,,,,,
294,9977706,2,63E,0.2,2.2,2.2,2,0,0,0,...,,,,,,,,,,
295,9988891,2,63E,0.2,3.2,3.2,2,2.2,0,0,...,,,,,,,,,,
296,9990072,2,63E,0.2,2.2,0,0,0,0,0,...,,,,,,,,,,
297,9999878,2,63E,0.2,0,0,0,0,0,0,...,,,,,,,,,,

In [24]:
# THEN WE CONVERT ALL THE DF VALUES TO FLOAT AND THE ID AND SIDE TO INT
moaks_without_commments_bullets_prj63F_unique_info.replace(to_replace={'63F':'63.6'},inplace=True)
moaks_without_c_b_numeric_63F =  moaks_without_commments_bullets_prj63F_unique_info.apply(pd.to_numeric,downcast='float')
moaks_without_c_b_numeric_63F[['ID','SIDE']] = moaks_without_c_b_numeric_63F[['ID','SIDE']].astype('int')
print(moaks_without_c_b_numeric_63F.info())
print('Number of NaN values are : ',moaks_without_c_b_numeric_63F.isna().sum().sum())

moaks_without_commments_bullets_prj63E_unique_info.replace(to_replace={'63E':'63.5'},inplace=True)
moaks_without_c_b_numeric_63E =  moaks_without_commments_bullets_prj63E_unique_info.apply(pd.to_numeric,downcast='float')
moaks_without_c_b_numeric_63E[['ID','SIDE']] = moaks_without_c_b_numeric_63E[['ID','SIDE']].astype('int')
print(moaks_without_c_b_numeric_63E.info())
print('Number of NaN values are : ',moaks_without_c_b_numeric_63E.isna().sum().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 59
Columns: 119 entries, ID to V00MITBSIG
dtypes: float32(117), int64(2)
memory usage: 28.8 KB
None
Number of NaN values are :  4560
<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 0 to 297
Columns: 119 entries, ID to V00MITBSIG
dtypes: float32(117), int64(2)
memory usage: 143.2 KB
None
Number of NaN values are :  22652

In [25]:
dfs_prj63_baseline = [moaks_without_c_b_numeric_63E,moaks_without_c_b_numeric_63F]
moaks_without_c_b_numeric = pd.concat(dfs_prj63_baseline,join='outer')
moaks_without_c_b_numeric

,ID,SIDE,READPRJ,VERSION,V00MCMPM,V00MCMPL,V00MCMFMA,V00MCMFLA,V00MCMFMP,V00MCMFLP,...,V00MGCSM,V00MGSST,V00MGCOTH,V00MANSBUR,V00MIPBUR,V00MPPBUR,V00MSYIC,V00MEFFWK,V00MPOPCYS,V00MITBSIG
0,9005413,2,63.500000,0.2,2.0,2.2,2.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9008934,1,63.500000,0.2,0.0,0.0,2.0,2.2,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9010308,1,63.500000,0.2,0.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9012435,2,63.500000,0.2,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9014797,1,63.500000,0.2,0.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,9925594,2,63.599998,0.2,2.2,2.2,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,9948322,1,63.599998,0.2,0.0,2.0,0.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,9967358,2,63.599998,0.2,2.0,3.3,0.0,3.2,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,9985277,2,63.599998,0.2,2.0,3.3,2.0,3.2,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,9993650,1,63.599998,0.2,2.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
print('Number of NaN values in the initial dataframe: {}'.format(moaks_without_c_b_numeric.loc[:,:].isna().sum().to_list()))

Number of NaN values in the initial dataframe: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 0, 0, 0, 0, 0, 1, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 0, 358, 358, 0, 0, 0, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358, 358]

In [27]:
moaks_without_c_b_nan_numeric = moaks_without_c_b_numeric.fillna(-1.0)
moaks_without_c_b_nan_numeric.info()
print('Number of NaN values in the Dataframe: {}'.format(moaks_without_c_b_nan_numeric.isna().sum().to_list()))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358 entries, 0 to 59
Columns: 119 entries, ID to V00MITBSIG
dtypes: float32(117), int64(2)
memory usage: 172.0 KB
Number of NaN values in the Dataframe: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [28]:
# So the clean version of the moaks_sq00 is the below: 
moaks_grades = moaks_without_c_b_nan_numeric
print(moaks_grades.isna().sum().to_list())
moaks_grades.to_csv('moaks_sq00_initial_numeric_df.csv')

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

# NOW WE LOAD THE RADIOGRAPH INFORMATION DATABASE IN ORDER TO ACQUIRE THE XR OSTEOPHYTES

In [29]:
kxr_sq_bu00= pd.read_csv('/home/anastasis/EMC_Thesis/OAI Data/OAICompleteData_ASCII/kxr_sq_bu00.txt', sep="|")
KL_prj15 = kxr_sq_bu00[kxr_sq_bu00['READPRJ'] == 15].copy()
KL_prj15_osteophytes = KL_prj15.loc[:,['ID','SIDE','V00XROSFL','V00XROSFM','V00XROSTL','V00XROSTM','V00XRKL']]

#now we create the df that contains both MOAKS grades and XR Osteophytes
common_sq_kxr_00 = pd.merge(moaks_grades,KL_prj15_osteophytes,on=['ID','SIDE'],how='inner')
common_sq_kxr_00.fillna(0.0,inplace=True)
common_sq_kxr_00

,ID,SIDE,READPRJ,VERSION,V00MCMPM,V00MCMPL,V00MCMFMA,V00MCMFLA,V00MCMFMP,V00MCMFLP,...,V00MPPBUR,V00MSYIC,V00MEFFWK,V00MPOPCYS,V00MITBSIG,V00XROSFL,V00XROSFM,V00XROSTL,V00XROSTM,V00XRKL
0,9005413,2,63.500000,0.2,2.0,2.2,2.0,0.0,0.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0
1,9008934,1,63.500000,0.2,0.0,0.0,2.0,2.2,0.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,1.0
2,9010308,1,63.500000,0.2,0.0,0.0,1.0,0.0,0.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0
3,9012435,2,63.500000,0.2,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,1.0
4,9014797,1,63.500000,0.2,0.0,0.0,0.0,2.0,0.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,9925594,2,63.599998,0.2,2.2,2.2,0.0,0.0,0.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,1.0,1.0,1.0,2.0
354,9948322,1,63.599998,0.2,0.0,2.0,0.0,2.0,0.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,1.0,0.0,0.0,2.0
355,9967358,2,63.599998,0.2,2.0,3.3,0.0,3.2,0.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,3.0,2.0,1.0,2.0
356,9985277,2,63.599998,0.2,2.0,3.3,2.0,3.2,0.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,3.0,3.0,2.0,1.0,2.0
357,9993650,1,63.599998,0.2,2.0,0.0,0.0,0.0,0.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,2.0,1.0,1.0,0.0,2.0

# NOW WE FIND THE SUBJECTS THAT FULFILL THE OA FEATURES FOR THE WHOLE KNEE JOINT

In [30]:
# FRIST WE CONSTRUCT A NEW DATAFRAME WITH ALL THE OA FEATURES AS COLUMNS
# The 'AnyTCL' column is an assistive variable that indicates as 1.0
# the subjects with at least on variable of thickness cartilage loss >=1.0
# and as 0.0 the subjects that DO NOT have any thickness cartilage loss

moaks_OA_features = pd.DataFrame(
    columns=['ID','SIDE','XR_Osteophytes','FullTCL','AnyTCL',
             'PartialTCL','BML', 'Meniscus_Degradation'])
# the ID and SIDE columns are integers
moaks_OA_features[['ID','SIDE']] = common_sq_kxr_00[['ID','SIDE']]
# and we fill the rest of the df with np.nan values
moaks_OA_features.iloc[:,2:] = np.nan

print('Type of ID and SIDE columns {} and type of the rest of the columns {}'
    .format(type(moaks_OA_features.iloc[0,0]),type(moaks_OA_features.iloc[0,2])))

Type of ID and SIDE columns <class 'numpy.int64'> and type of the rest of the columns <class 'numpy.float64'>

In [31]:
moaks_OA_features

,ID,SIDE,XR_Osteophytes,FullTCL,AnyTCL,PartialTCL,BML,Meniscus_Degradation
0,9005413,2,NaN,NaN,NaN,NaN,NaN,NaN
1,9008934,1,NaN,NaN,NaN,NaN,NaN,NaN
2,9010308,1,NaN,NaN,NaN,NaN,NaN,NaN
3,9012435,2,NaN,NaN,NaN,NaN,NaN,NaN
4,9014797,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
353,9925594,2,NaN,NaN,NaN,NaN,NaN,NaN
354,9948322,1,NaN,NaN,NaN,NaN,NaN,NaN
355,9967358,2,NaN,NaN,NaN,NaN,NaN,NaN
356,9985277,2,NaN,NaN,NaN,NaN,NaN,NaN
357,9993650,1,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# Then we fill the FullTCL column with all the subjects with 
# at least one cartilage thickness loss variable larger than 3.0
# and the FullTCL cell value is 1.0
moaks_OA_features.loc[((common_sq_kxr_00['V00MCMFLA'] >= 3.0) | (common_sq_kxr_00['V00MCMFLP'] >= 3.0) |
                (common_sq_kxr_00['V00MCMFLC'] >= 3.0) | (common_sq_kxr_00['V00MCMTLA'] >= 3.0) |
                (common_sq_kxr_00['V00MCMTLP'] >= 3.0) | (common_sq_kxr_00['V00MCMTLC'] >= 3.0) |
                (common_sq_kxr_00['V00MCMFMA'] >= 3.0) | (common_sq_kxr_00['V00MCMFMP'] >= 3.0) |
                (common_sq_kxr_00['V00MCMFMC'] >= 3.0) | (common_sq_kxr_00['V00MCMTMA'] >= 3.0) |
                (common_sq_kxr_00['V00MCMTMP'] >= 3.0) | (common_sq_kxr_00['V00MCMTMC'] >= 3.0)),'FullTCL']=1.0

In [33]:
print('Number of subjects WITH Full CTL : {}'.format((moaks_OA_features['FullTCL']==1.0).sum()))

Number of subjects WITH Full CTL : 13

In [34]:
# Then we fill the rest of the values of Full_CTL column with 0.0 values instead of NaN
moaks_OA_features.loc[((common_sq_kxr_00['V00MCMFLA'] < 3.0) &  (common_sq_kxr_00['V00MCMFLA'] >= 0.0) &
                (common_sq_kxr_00['V00MCMFLP'] < 3.0) & (common_sq_kxr_00['V00MCMFLP'] >= 0.0) &
                (common_sq_kxr_00['V00MCMFLC'] < 3.0) & (common_sq_kxr_00['V00MCMFLC'] >= 0.0) & 
                (common_sq_kxr_00['V00MCMTLA'] < 3.0) & (common_sq_kxr_00['V00MCMTLA'] >= 0.0) &
                (common_sq_kxr_00['V00MCMTLP'] < 3.0) & (common_sq_kxr_00['V00MCMTLP'] >= 0.0) & 
                (common_sq_kxr_00['V00MCMTLC'] < 3.0) & (common_sq_kxr_00['V00MCMTLC'] >= 0.0) &
                (common_sq_kxr_00['V00MCMFMA'] < 3.0) & (common_sq_kxr_00['V00MCMFMA'] >= 0.0) & 
                (common_sq_kxr_00['V00MCMFMP'] < 3.0) & (common_sq_kxr_00['V00MCMFMP'] >= 0.0) &
                (common_sq_kxr_00['V00MCMFMC'] < 3.0) & (common_sq_kxr_00['V00MCMFMC'] >= 0.0) & 
                (common_sq_kxr_00['V00MCMTMA'] < 3.0) & (common_sq_kxr_00['V00MCMTMA'] >= 0.0) &
                (common_sq_kxr_00['V00MCMTMP'] < 3.0) & (common_sq_kxr_00['V00MCMTMP'] >= 0.0) & 
                (common_sq_kxr_00['V00MCMTMC'] < 3.0) & (common_sq_kxr_00['V00MCMTMC'] >= 0.0)),'FullTCL']=0.0
print(moaks_OA_features['FullTCL'].value_counts())

0.0    344
1.0     13
Name: FullTCL, dtype: int64

In [35]:
# now the column AnyTCL is filled based on the initial Thickness Cartilage Loss variables
# if at least one variable value is larger than 1.0 then it has either Full or Partial Thickness Cartilage Loss
# and the AnyTCL cell value is 1.0

moaks_OA_features.loc[((common_sq_kxr_00['V00MCMFLA'] >= 1.0) | (common_sq_kxr_00['V00MCMFLP'] >= 1.0) |
                (common_sq_kxr_00['V00MCMFLC'] >= 1.0) | (common_sq_kxr_00['V00MCMTLA'] >= 1.0) |
                (common_sq_kxr_00['V00MCMTLP'] >= 1.0) | (common_sq_kxr_00['V00MCMTLC'] >= 1.0) |
                (common_sq_kxr_00['V00MCMFMA'] >= 1.0) | (common_sq_kxr_00['V00MCMFMP'] >= 1.0) |
                (common_sq_kxr_00['V00MCMFMC'] >= 1.0) | (common_sq_kxr_00['V00MCMTMA'] >= 1.0) |
                (common_sq_kxr_00['V00MCMTMP'] >= 1.0) | (common_sq_kxr_00['V00MCMTMC'] >= 1.0)),'AnyTCL']=1.0

In [36]:
# if all Thickness Cartilage Loss variables are less than 1.0 then the subject has no Thickness Cartilage Loss
# and the AnyTCL cell value is 0.0
moaks_OA_features.loc[((common_sq_kxr_00['V00MCMFLA'] < 1.0) & (common_sq_kxr_00['V00MCMFLA'] >= 0.0) & 
                (common_sq_kxr_00['V00MCMFLP'] < 1.0) & (common_sq_kxr_00['V00MCMFLP'] >= 0.0) &
                (common_sq_kxr_00['V00MCMFLC'] < 1.0) & (common_sq_kxr_00['V00MCMFLC'] >= 0.0) & 
                (common_sq_kxr_00['V00MCMTLA'] < 1.0) & (common_sq_kxr_00['V00MCMTLA'] >= 0.0) &
                (common_sq_kxr_00['V00MCMTLP'] < 1.0) & (common_sq_kxr_00['V00MCMTLP'] >= 0.0) & 
                (common_sq_kxr_00['V00MCMTLC'] < 1.0) & (common_sq_kxr_00['V00MCMTLC'] >= 0.0) &
                (common_sq_kxr_00['V00MCMFMA'] < 1.0) & (common_sq_kxr_00['V00MCMFMA'] >= 0.0) & 
                (common_sq_kxr_00['V00MCMFMP'] < 1.0) & (common_sq_kxr_00['V00MCMFMP'] >= 0.0) &
                (common_sq_kxr_00['V00MCMFMC'] < 1.0) & (common_sq_kxr_00['V00MCMFMC'] >= 0.0) & 
                (common_sq_kxr_00['V00MCMTMA'] < 1.0) & (common_sq_kxr_00['V00MCMTMA'] >= 0.0) &
                (common_sq_kxr_00['V00MCMTMP'] < 1.0) & (common_sq_kxr_00['V00MCMTMP'] >= 0.0) & 
                (common_sq_kxr_00['V00MCMTMC'] < 1.0) & (common_sq_kxr_00['V00MCMTMC'] >= 0.0)),'AnyTCL']=0.0
print('Number of Subjects WITHOUT Any Cartilage Thickness Loss: {}'.
        format((moaks_OA_features['AnyTCL']==0.0).sum()))

Number of Subjects WITHOUT Any Cartilage Thickness Loss: 71

In [37]:
print(moaks_OA_features.AnyTCL.value_counts())

1.0    286
0.0     71
Name: AnyTCL, dtype: int64

In [38]:
# Now we fill the PartialTCL column initially with the values of the AnyTCL column
# Where the FullTCL column is 1.0 then the PartialTCL is 0.0
# So if the PartialTCL is 1.0 then the Thickness Cartilage Loss variables are between 1.0 and 3.0

moaks_OA_features['PartialTCL'] = moaks_OA_features['AnyTCL']
moaks_OA_features.loc[(moaks_OA_features['FullTCL']==1),'PartialTCL']=0.0
print('Number of Subjects with Partial Thickness Cartilage Loss: {}'.
        format((moaks_OA_features['PartialTCL']==1.0).sum()))

Number of Subjects with Partial Thickness Cartilage Loss: 273

In [39]:
(common_sq_kxr_00.loc[:,['V00MCMFLA','V00MCMFLP','V00MCMFLP','V00MCMTLA','V00MCMTLP','V00MCMTLC'
                    ,'V00MCMFMA','V00MCMFMP','V00MCMFMP','V00MCMTMA','V00MCMTMP','V00MCMTMC']]==-1.0).sum()

V00MCMFLA    0
V00MCMFLP    0
V00MCMFLP    0
V00MCMTLA    1
V00MCMTLP    1
V00MCMTLC    1
V00MCMFMA    0
V00MCMFMP    0
V00MCMFMP    0
V00MCMTMA    0
V00MCMTMP    0
V00MCMTMC    0
dtype: int64

In [40]:
# # NOW WE FILL THE DEFINITE OSTEOPHYTES COLUMN

# moaks_OA_features.loc[((moaks_grades['V00MOSFLA'] >= 2.0) | (moaks_grades['V00MOSFLP'] >= 2.0) |
#                 (moaks_grades['V00MOSFLC'] >= 2.0) | (moaks_grades['V00MOSTL'] >= 2.0) |
#                 (moaks_grades['V00MOSFMA'] >= 2.0) | (moaks_grades['V00MOSFMP'] >= 2.0) |
#                 (moaks_grades['V00MOSFMC'] >= 2.0) | (moaks_grades['V00MOSTM'] >= 2.0)),'Definite_Osteophytes'] = 1.0

# moaks_OA_features.loc[((moaks_grades['V00MOSFLA'] < 2.0) & (moaks_grades['V00MOSFLA'] >= 0.0) & 
#                 (moaks_grades['V00MOSFLP'] < 2.0) & (moaks_grades['V00MOSFLP'] >= 0.0) &
#                 (moaks_grades['V00MOSFLC'] < 2.0) & (moaks_grades['V00MOSFLC'] >= 0.0) & 
#                 (moaks_grades['V00MOSTL'] < 2.0) & (moaks_grades['V00MOSTL'] >= 0.0) &
#                 (moaks_grades['V00MOSFMA'] < 2.0) & (moaks_grades['V00MOSFMA'] >= 0.0) & 
#                 (moaks_grades['V00MOSFMP'] < 2.0) & (moaks_grades['V00MOSFMP'] >= 0.0) &
#                 (moaks_grades['V00MOSFMC'] < 2.0) & (moaks_grades['V00MOSFMC'] >= 0.0) & 
#                 (moaks_grades['V00MOSTM'] < 2.0) & (moaks_grades['V00MOSTM'] >= 0.0)),'Definite_Osteophytes'] = 0.0

# print('With Definite Osteophytes->1.0, Without->0.0 \n{}'.format(moaks_OA_features.Definite_Osteophytes.value_counts(dropna=False)))


# # print('Number of Subjects WITH Definite Osteophytes: {}'.
# #         format((moaks_OA_features['Definite_Osteophytes']==1.0).sum()))

# # print('Number of Subjects WITHOUT Definite Osteophytes: {}'.
# #         format((moaks_OA_features['Definite_Osteophytes']==0.0).sum()))

In [41]:
# NOW WE FILL THE XR OSTEOPHYTES COLUMN

moaks_OA_features.loc[((common_sq_kxr_00['V00XROSFL'] >= 1.0) | 
                (common_sq_kxr_00['V00XROSFM'] >= 1.0) | 
                (common_sq_kxr_00['V00XROSTL'] >= 1.0) | 
                (common_sq_kxr_00['V00XROSTM'] >= 1.0) ),'XR_Osteophytes'] = 1.0

moaks_OA_features.loc[((common_sq_kxr_00['V00XROSFL'] < 1.0) & (common_sq_kxr_00['V00XROSFL'] >= 0.0) & 
                (common_sq_kxr_00['V00XROSFM'] < 1.0) & (common_sq_kxr_00['V00XROSFM'] >= 0.0) & 
                (common_sq_kxr_00['V00XROSTL'] < 1.0) & (common_sq_kxr_00['V00XROSTL'] >= 0.0) & 
                (common_sq_kxr_00['V00XROSTM'] < 1.0) & (common_sq_kxr_00['V00XROSTM'] >= 0.0)),'XR_Osteophytes'] = 0.0

print('With XR Osteophytes->1.0, Without->0.0 \n{}'.format(moaks_OA_features.XR_Osteophytes.value_counts(dropna=False)))

With XR Osteophytes->1.0, Without->0.0
0.0    257
1.0    101
Name: XR_Osteophytes, dtype: int64

In [42]:
(common_sq_kxr_00.loc[:,['V00XROSFL','V00XROSFM','V00XROSTL','V00XROSTM']]==-1.0).sum()

V00XROSFL    0
V00XROSFM    0
V00XROSTL    0
V00XROSTM    0
dtype: int64

In [43]:
# NOW WE FILL THE BML COLUMN

moaks_OA_features.loc[((common_sq_kxr_00['V00MBMSFLC'] >= 1.0) | (common_sq_kxr_00['V00MBMSFLP'] >= 1.0) |
                (common_sq_kxr_00['V00MBMSTLA'] >= 1.0) | (common_sq_kxr_00['V00MBMSTLC'] >= 1.0) |
                (common_sq_kxr_00['V00MBMSTLP'] >= 1.0) | (common_sq_kxr_00['V00MBMSFMC'] >= 1.0) | 
                (common_sq_kxr_00['V00MBMSFMP'] >= 1.0) | (common_sq_kxr_00['V00MBMSTMA'] >= 1.0) | 
                (common_sq_kxr_00['V00MBMSTMC'] >= 1.0) | (common_sq_kxr_00['V00MBMSTMP'] >= 1.0)),'BML'] = 1.0

moaks_OA_features.loc[((common_sq_kxr_00['V00MBMSFLC'] < 1.0) & (common_sq_kxr_00['V00MBMSFLC'] >= 0.0) &
                (common_sq_kxr_00['V00MBMSFLP'] < 1.0) & (common_sq_kxr_00['V00MBMSFLP'] >= 0.0) &
                (common_sq_kxr_00['V00MBMSTLA'] < 1.0) & (common_sq_kxr_00['V00MBMSTLA'] >= 0.0) &
                (common_sq_kxr_00['V00MBMSTLC'] < 1.0) & (common_sq_kxr_00['V00MBMSTLC'] >= 0.0) &
                (common_sq_kxr_00['V00MBMSTLP'] < 1.0) & (common_sq_kxr_00['V00MBMSTLP'] >= 0.0) & 
                (common_sq_kxr_00['V00MBMSFMC'] < 1.0) & (common_sq_kxr_00['V00MBMSFMC'] >= 0.0) & 
                (common_sq_kxr_00['V00MBMSFMP'] < 1.0) & (common_sq_kxr_00['V00MBMSFMP'] >= 0.0) & 
                (common_sq_kxr_00['V00MBMSTMA'] < 1.0) & (common_sq_kxr_00['V00MBMSTMA'] >= 0.0) & 
                (common_sq_kxr_00['V00MBMSTMC'] < 1.0) & (common_sq_kxr_00['V00MBMSTMC'] >= 0.0) & 
                (common_sq_kxr_00['V00MBMSTMP'] < 1.0) & (common_sq_kxr_00['V00MBMSTMP'] >= 0.0)),'BML'] = 0.0
print('With BML->1.0, Without->0.0 \n{}'.format(moaks_OA_features.BML.value_counts(dropna=False)))

With BML->1.0, Without->0.0
0.0    264
1.0     94
Name: BML, dtype: int64

In [44]:
(common_sq_kxr_00.loc[:,['V00MBMSFLC','V00MBMSFLP','V00MBMSTLA','V00MBMSTLC','V00MBMSTLP',
                    'V00MBMSFMC','V00MBMSFMP','V00MBMSTMA','V00MBMSTMC','V00MBMSTMP']]==-1.0).sum()

V00MBMSFLC    0
V00MBMSFLP    0
V00MBMSTLA    0
V00MBMSTLC    0
V00MBMSTLP    0
V00MBMSFMC    0
V00MBMSFMP    0
V00MBMSTMA    0
V00MBMSTMC    0
V00MBMSTMP    0
dtype: int64

In [45]:
# AND NOW WE FILL THE MENISCUS DEGRADATION COLUMN

moaks_OA_features.loc[((common_sq_kxr_00['V00MMTLA'] >= 2.0) | (common_sq_kxr_00['V00MMTLB'] >= 2.0) |
                (common_sq_kxr_00['V00MMTLP'] >= 2.0) | (common_sq_kxr_00['V00MMRTL'] >= 2.0) |
                (common_sq_kxr_00['V00MMTMA'] >= 2.0) | (common_sq_kxr_00['V00MMTMB'] >= 2.0) |
                (common_sq_kxr_00['V00MMTMP'] >= 2.0) | (common_sq_kxr_00['V00MMRTM'] >= 2.0) |
                (common_sq_kxr_00['V00MMXLL'] >= 1.0) | (common_sq_kxr_00['V00MMXLA'] >= 1.0) |
                (common_sq_kxr_00['V00MMXMM'] >= 1.0) | (common_sq_kxr_00['V00MMXMA'] >= 1.0)),'Meniscus_Degradation'] = 1.0

moaks_OA_features.loc[((common_sq_kxr_00['V00MMTLA'] < 2.0) & (common_sq_kxr_00['V00MMTLA'] >= 0.0) & 
                (common_sq_kxr_00['V00MMTLB'] < 2.0) & (common_sq_kxr_00['V00MMTLB'] >= 0.0) &
                (common_sq_kxr_00['V00MMTLP'] < 2.0) & (common_sq_kxr_00['V00MMTLP'] >= 0.0) & 
                (common_sq_kxr_00['V00MMRTL'] < 2.0) & (common_sq_kxr_00['V00MMRTL'] >= 0.0) &
                (common_sq_kxr_00['V00MMTMA'] < 2.0) & (common_sq_kxr_00['V00MMTMA'] >= 0.0) & 
                (common_sq_kxr_00['V00MMTMB'] < 2.0) & (common_sq_kxr_00['V00MMTMB'] >= 0.0) &
                (common_sq_kxr_00['V00MMTMP'] < 2.0) & (common_sq_kxr_00['V00MMTMP'] >= 0.0) & 
                (common_sq_kxr_00['V00MMRTM'] < 2.0) & (common_sq_kxr_00['V00MMRTM'] >= 0.0) &
                (common_sq_kxr_00['V00MMXLL'] < 1.0) & (common_sq_kxr_00['V00MMXLL'] >= 0.0) & 
                (common_sq_kxr_00['V00MMXLA'] < 1.0) & (common_sq_kxr_00['V00MMXLA'] >= 0.0) &
                (common_sq_kxr_00['V00MMXMM'] < 1.0) & (common_sq_kxr_00['V00MMXMM'] >= 0.0) & 
                (common_sq_kxr_00['V00MMXMA'] < 1.0) & (common_sq_kxr_00['V00MMXMA'] >= 0.0)),'Meniscus_Degradation'] = 0.0

print('With Meniscus Degradation ->1.0, Without->0.0 \n{}'.format(moaks_OA_features.Meniscus_Degradation.value_counts(dropna=False)))

# print('Number of Subjects WITH Meniscus Degradation: {}'.
#         format((moaks_OA_features['Meniscus_Degradation']==1.0).sum()))

# print('Number of Subjects WITHOUT Meniscus Degradation: {}'.
#         format((moaks_OA_features['Meniscus_Degradation']==0.0).sum()))

With Meniscus Degradation ->1.0, Without->0.0
NaN    198
1.0    160
Name: Meniscus_Degradation, dtype: int64

In [46]:
(common_sq_kxr_00.loc[:,['V00MMTLA','V00MMTLB','V00MMTLP','V00MMRTL','V00MMTMA','V00MMTMB','V00MMTMP','V00MMRTM',
            'V00MMXLL','V00MMXLA','V00MMXMM','V00MMXMA']]==-1.0).sum()

V00MMTLA      0
V00MMTLB      0
V00MMTLP      1
V00MMRTL      0
V00MMTMA      0
V00MMTMB      0
V00MMTMP      0
V00MMRTM      0
V00MMXLL      0
V00MMXLA    358
V00MMXMM      0
V00MMXMA    358
dtype: int64

In [47]:
print('Number of NaN values per column: {}'.format(moaks_OA_features.isna().sum().to_list()))

Number of NaN values per column: [0, 0, 0, 1, 1, 1, 0, 198]

In [48]:
moaks_OA_features.fillna(-1.0,inplace=True)
moaks_OA_features

,ID,SIDE,XR_Osteophytes,FullTCL,AnyTCL,PartialTCL,BML,Meniscus_Degradation
0,9005413,2,0.0,0.0,1.0,1.0,0.0,1.0
1,9008934,1,0.0,0.0,1.0,1.0,1.0,1.0
2,9010308,1,0.0,0.0,1.0,1.0,0.0,-1.0
3,9012435,2,0.0,0.0,0.0,0.0,0.0,-1.0
4,9014797,1,1.0,0.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...
353,9925594,2,1.0,0.0,1.0,1.0,0.0,1.0
354,9948322,1,1.0,0.0,1.0,1.0,1.0,-1.0
355,9967358,2,1.0,1.0,1.0,0.0,1.0,1.0
356,9985277,2,1.0,1.0,1.0,0.0,0.0,-1.0
357,9993650,1,1.0,0.0,1.0,1.0,0.0,1.0

In [49]:
moaks_OA_features.to_csv('moaks_sq00_OA_features.csv')

# NOW WE CONSTRUCT THE DF THAT CONTAINS THE OA CRITERIA AS COLUMNS

In [50]:
moaks_OA_criteria = pd.DataFrame(columns=['ID','SIDE',
             'Osteo_AND_FullTCL',
             'Osteo_AND_PartialTCL_AND_BML',
             'Osteo_AND_PartialTCL_AND_Meniscus_Degradation',
             'Osteo_AND_BML_AND_Meniscus_Degradation',
             'FullTCL_AND_BML_AND_Meniscus_Degradation'])
# the ID and SIDE columns are integers
moaks_OA_criteria[['ID','SIDE']] = common_sq_kxr_00[['ID','SIDE']]
# and we fill the rest of the df with np.nan values
moaks_OA_criteria.iloc[:,2:] = np.nan
moaks_OA_criteria

,ID,SIDE,Osteo_AND_FullTCL,Osteo_AND_PartialTCL_AND_BML,Osteo_AND_PartialTCL_AND_Meniscus_Degradation,Osteo_AND_BML_AND_Meniscus_Degradation,FullTCL_AND_BML_AND_Meniscus_Degradation
0,9005413,2,NaN,NaN,NaN,NaN,NaN
1,9008934,1,NaN,NaN,NaN,NaN,NaN
2,9010308,1,NaN,NaN,NaN,NaN,NaN
3,9012435,2,NaN,NaN,NaN,NaN,NaN
4,9014797,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
353,9925594,2,NaN,NaN,NaN,NaN,NaN
354,9948322,1,NaN,NaN,NaN,NaN,NaN
355,9967358,2,NaN,NaN,NaN,NaN,NaN
356,9985277,2,NaN,NaN,NaN,NaN,NaN
357,9993650,1,NaN,NaN,NaN,NaN,NaN

In [51]:
moaks_OA_criteria.loc[((moaks_OA_features['XR_Osteophytes'] == 1.0) & 
            (moaks_OA_features['FullTCL'] == 1.0)),'Osteo_AND_FullTCL'] = 1.0
         
moaks_OA_criteria.loc[((moaks_OA_features['XR_Osteophytes'] != 1.0) | 
            (moaks_OA_features['FullTCL'] != 1.0)),'Osteo_AND_FullTCL'] = 0.0

print('With Definite Osteophytes AND FullTCL->1.0, Without->0.0: \n{}'.
        format(moaks_OA_criteria['Osteo_AND_FullTCL'].value_counts(dropna=False)))

With Definite Osteophytes AND FullTCL->1.0, Without->0.0:
0.0    348
1.0     10
Name: Osteo_AND_FullTCL, dtype: int64

In [52]:
moaks_OA_criteria.loc[((moaks_OA_features['XR_Osteophytes'] == 1.0) & 
            (moaks_OA_features['PartialTCL'] == 1.0) & 
            (moaks_OA_features['BML'] == 1.0)),'Osteo_AND_PartialTCL_AND_BML'] = 1.0
moaks_OA_criteria.loc[((moaks_OA_features['XR_Osteophytes'] != 1.0) | 
            (moaks_OA_features['PartialTCL'] != 1.0) | 
            (moaks_OA_features['BML'] != 1.0)),'Osteo_AND_PartialTCL_AND_BML'] = 0.0
print('With Definite Osteophytes AND PartialTCL AND BML->1.0, Without->0.0 \n{}'.
        format(moaks_OA_criteria.Osteo_AND_PartialTCL_AND_BML.value_counts(dropna=False)))

With Definite Osteophytes AND PartialTCL AND BML->1.0, Without->0.0
0.0    317
1.0     41
Name: Osteo_AND_PartialTCL_AND_BML, dtype: int64

In [53]:
moaks_OA_criteria.loc[((moaks_OA_features['XR_Osteophytes'] == 1.0) & 
            (moaks_OA_features['PartialTCL'] == 1.0) & 
            (moaks_OA_features['Meniscus_Degradation'] == 1.0)),'Osteo_AND_PartialTCL_AND_Meniscus_Degradation'] = 1.0
moaks_OA_criteria.loc[((moaks_OA_features['XR_Osteophytes'] != 1.0) | 
            (moaks_OA_features['PartialTCL'] != 1.0) | 
            (moaks_OA_features['Meniscus_Degradation'] != 1.0)),'Osteo_AND_PartialTCL_AND_Meniscus_Degradation'] = 0.0
print('With Osteophytes AND Partial TCL AND Meniscus_Degradation->1.0, Without->0.0: \n{}'.
        format((moaks_OA_criteria['Osteo_AND_PartialTCL_AND_Meniscus_Degradation'].value_counts(dropna=False))))

With Osteophytes AND Partial TCL AND Meniscus_Degradation->1.0, Without->0.0:
0.0    301
1.0     57
Name: Osteo_AND_PartialTCL_AND_Meniscus_Degradation, dtype: int64

In [54]:
moaks_OA_criteria.loc[((moaks_OA_features['XR_Osteophytes'] == 1.0) & 
            (moaks_OA_features['BML'] == 1.0) & 
            (moaks_OA_features['Meniscus_Degradation'] == 1.0)),'Osteo_AND_BML_AND_Meniscus_Degradation'] = 1.0
moaks_OA_criteria.loc[((moaks_OA_features['XR_Osteophytes'] != 1.0) |
            (moaks_OA_features['BML'] != 1.0) |
            (moaks_OA_features['Meniscus_Degradation'] != 1.0)),'Osteo_AND_BML_AND_Meniscus_Degradation'] = 0.0            
print('With Osteophytes AND BML AND Meniscus_Degradation->1.0, Without->0.0: \n{}'.
        format((moaks_OA_criteria['Osteo_AND_BML_AND_Meniscus_Degradation'].value_counts(dropna=False))))

With Osteophytes AND BML AND Meniscus_Degradation->1.0, Without->0.0:
0.0    322
1.0     36
Name: Osteo_AND_BML_AND_Meniscus_Degradation, dtype: int64

In [55]:
moaks_OA_criteria.loc[((moaks_OA_features['FullTCL'] == 1.0) & 
            (moaks_OA_features['BML'] == 1.0) & 
            (moaks_OA_features['Meniscus_Degradation'] == 1.0)),'FullTCL_AND_BML_AND_Meniscus_Degradation'] = 1.0
moaks_OA_criteria.loc[((moaks_OA_features['FullTCL'] != 1.0) | 
            (moaks_OA_features['BML'] != 1.0) | 
            (moaks_OA_features['Meniscus_Degradation'] == 0.0)),'FullTCL_AND_BML_AND_Meniscus_Degradation'] = 0.0
print('With FullTCL AND BML AND Meniscus_Degradation->1.0, Without->0.0: \n{}'.
        format((moaks_OA_criteria['FullTCL_AND_BML_AND_Meniscus_Degradation'].value_counts(dropna=False))))

With FullTCL AND BML AND Meniscus_Degradation->1.0, Without->0.0:
0.0    352
1.0      4
NaN      2
Name: FullTCL_AND_BML_AND_Meniscus_Degradation, dtype: int64

In [56]:
print('Number of subjects without OA for each criterion is: \n{}'.format(moaks_OA_criteria.isna().sum()))

Number of subjects without OA for each criterion is:
ID                                               0
SIDE                                             0
Osteo_AND_FullTCL                                0
Osteo_AND_PartialTCL_AND_BML                     0
Osteo_AND_PartialTCL_AND_Meniscus_Degradation    0
Osteo_AND_BML_AND_Meniscus_Degradation           0
FullTCL_AND_BML_AND_Meniscus_Degradation         2
dtype: int64

In [57]:
moaks_OA_criteria.fillna(-1.0,inplace=True)

In [58]:
moaks_OA_criteria.to_csv('moaks_sq00_OA_criteria.csv')

In [59]:
# NOW WE FIND THOSE WHO SATISFY AT LEAST ONE OF THE OA CRITERIA
moaks_OA_criteria['moaks_OA'] = np.nan
moaks_OA_criteria.loc[((moaks_OA_criteria['Osteo_AND_FullTCL']==1.0) |
                (moaks_OA_criteria['Osteo_AND_PartialTCL_AND_BML']==1.0) |
                (moaks_OA_criteria['Osteo_AND_PartialTCL_AND_Meniscus_Degradation']==1.0) |
                (moaks_OA_criteria['Osteo_AND_BML_AND_Meniscus_Degradation']==1.0) |
                (moaks_OA_criteria['FullTCL_AND_BML_AND_Meniscus_Degradation']==1.0)),'moaks_OA'] = 1.0
# moaks_OA_criteria.loc[((moaks_OA_criteria['Osteo_AND_FullTCL']==0.0) &
#                 (moaks_OA_criteria['Osteo_AND_PartialTCL_AND_BML']==0.0) &
#                 (moaks_OA_criteria['Osteo_AND_PartialTCL_AND_Meniscus_Degradation']==0.0) &
#                 (moaks_OA_criteria['Osteo_AND_BML_AND_Meniscus_Degradation']==0.0) &
#                 (moaks_OA_criteria['FullTCL_AND_BML_AND_Meniscus_Degra`dation']==0.0)),'moaks_OA'] = 0.0
moaks_OA_criteria.fillna(0.0,inplace=True)

print('Number of subjects that satisfy at least one OA criterion is : {}'.format((moaks_OA_criteria['moaks_OA']==1.0).sum()))

Number of subjects that satisfy at least one OA criterion is : 76

In [60]:
print(moaks_OA_criteria.shape[0],'\n',moaks_OA_criteria['moaks_OA'].value_counts())

358
 0.0    282
1.0     76
Name: moaks_OA, dtype: int64

In [61]:
print(moaks_OA_criteria)

          ID  SIDE  Osteo_AND_FullTCL  Osteo_AND_PartialTCL_AND_BML  \
0    9005413     2                0.0                           0.0
1    9008934     1                0.0                           0.0
2    9010308     1                0.0                           0.0
3    9012435     2                0.0                           0.0
4    9014797     1                0.0                           0.0
..       ...   ...                ...                           ...
353  9925594     2                0.0                           0.0
354  9948322     1                0.0                           1.0
355  9967358     2                1.0                           0.0
356  9985277     2                1.0                           0.0
357  9993650     1                0.0                           0.0

     Osteo_AND_PartialTCL_AND_Meniscus_Degradation  \
0                                              0.0
1                                              0.0
2                                              0.0
3                                              0.0
4                                              1.0
..                                             ...
353                                            1.0
354                                            0.0
355                                            0.0
356                                            0.0
357                                            1.0

     Osteo_AND_BML_AND_Meniscus_Degradation  \
0                                       0.0
1                                       0.0
2                                       0.0
3                                       0.0
4                                       0.0
..                                      ...
353                                     0.0
354                                     0.0
355                                     1.0
356                                     0.0
357                                     0.0

     FullTCL_AND_BML_AND_Meniscus_Degradation  moaks_OA
0                                         0.0       0.0
1                                         0.0       0.0
2                                         0.0       0.0
3                                         0.0       0.0
4                                         0.0       1.0
..                                        ...       ...
353                                       0.0       1.0
354                                       0.0       1.0
355                                       1.0       1.0
356                                       0.0       1.0
357                                       0.0       1.0

[358 rows x 8 columns]

# NOW WE CREATE THE DATAFRAME CONTAINING INFORMATION REGARDING 
# 1.MOAKS FEATURES 
# 2.MOAKS CRITERIA
# 3.MOAKS GRADES
# 4.KL GRADES
# 5.MOAKS-KL GRADES CROSSTABLE

In [62]:
# Here we upload the DataFrame with the KL grades
# and we merge the MOAKS and KL dataframes
kl_id_side_grade = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/KL_readings/KL_SQ00_ID_SIDE_GRADE.csv')
moaks_kl_OA_full = moaks_OA_criteria.merge(kl_id_side_grade,on=['ID','SIDE'],how='inner')
print(moaks_kl_OA_full.shape[0],'\n',moaks_kl_OA_full)

358
           ID  SIDE  Osteo_AND_FullTCL  Osteo_AND_PartialTCL_AND_BML  \
0    9005413     2                0.0                           0.0
1    9008934     1                0.0                           0.0
2    9010308     1                0.0                           0.0
3    9012435     2                0.0                           0.0
4    9014797     1                0.0                           0.0
..       ...   ...                ...                           ...
353  9925594     2                0.0                           0.0
354  9948322     1                0.0                           1.0
355  9967358     2                1.0                           0.0
356  9985277     2                1.0                           0.0
357  9993650     1                0.0                           0.0

     Osteo_AND_PartialTCL_AND_Meniscus_Degradation  \
0                                              0.0
1                                              0.0
2                                              0.0
3                                              0.0
4                                              1.0
..                                             ...
353                                            1.0
354                                            0.0
355                                            0.0
356                                            0.0
357                                            1.0

     Osteo_AND_BML_AND_Meniscus_Degradation  \
0                                       0.0
1                                       0.0
2                                       0.0
3                                       0.0
4                                       0.0
..                                      ...
353                                     0.0
354                                     0.0
355                                     1.0
356                                     0.0
357                                     0.0

     FullTCL_AND_BML_AND_Meniscus_Degradation  moaks_OA  V00XRKL
0                                         0.0       0.0      0.0
1                                         0.0       0.0      1.0
2                                         0.0       0.0      0.0
3                                         0.0       0.0      1.0
4                                         0.0       1.0      1.0
..                                        ...       ...      ...
353                                       0.0       1.0      2.0
354                                       0.0       1.0      2.0
355                                       1.0       1.0      2.0
356                                       0.0       1.0      2.0
357                                       0.0       1.0      2.0

[358 rows x 9 columns]

In [63]:
print('Number of different KL grades in the moaks_kl_OA_full dataframe:\n{}'
        .format(moaks_kl_OA_full['V00XRKL'].value_counts()))
moaks_kl_OA_full.to_csv('moaks_sq00_OA_KL_both_grades.csv')

Number of different KL grades in the moaks_kl_OA_full dataframe:
1.0    169
0.0    130
2.0     59
Name: V00XRKL, dtype: int64

In [64]:
moaks_KL_OA_all_info = moaks_OA_features.merge(moaks_kl_OA_full,on=['ID','SIDE'],how='outer',indicator=True)
print(moaks_KL_OA_all_info._merge.value_counts(),'\n',moaks_KL_OA_all_info.info())
moaks_KL_OA_all_info.to_csv('moaks_sq00_all_info.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358 entries, 0 to 357
Data columns (total 16 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   ID                                             358 non-null    int64
 1   SIDE                                           358 non-null    int64
 2   XR_Osteophytes                                 358 non-null    float64
 3   FullTCL                                        358 non-null    float64
 4   AnyTCL                                         358 non-null    float64
 5   PartialTCL                                     358 non-null    float64
 6   BML                                            358 non-null    float64
 7   Meniscus_Degradation                           358 non-null    float64
 8   Osteo_AND_FullTCL                              358 non-null    float64
 9   Osteo_AND_PartialTCL_AND_BML                   358 non-null    float64
 10  Osteo_AND_PartialTCL_AND_Meniscus_Degradation  358 non-null    float64
 11  Osteo_AND_BML_AND_Meniscus_Degradation         358 non-null    float64
 12  FullTCL_AND_BML_AND_Meniscus_Degradation       358 non-null    float64
 13  moaks_OA                                       358 non-null    float64
 14  V00XRKL                                        358 non-null    float64
 15  _merge                                         358 non-null    category
dtypes: category(1), float64(13), int64(2)
memory usage: 45.2 KB
both          358
left_only       0
right_only      0
Name: _merge, dtype: int64
 None

In [65]:
all_common_sq_kxr_00_sq00 = moaks_KL_OA_all_info.loc[:,['ID','SIDE','moaks_OA']]
print(all_common_sq_kxr_00_sq00.info())
all_moaks_vs_kl_grades_sq00 = moaks_KL_OA_all_info.loc[:,['ID','SIDE','moaks_OA','V00XRKL']]
print(all_moaks_vs_kl_grades_sq00.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358 entries, 0 to 357
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        358 non-null    int64
 1   SIDE      358 non-null    int64
 2   moaks_OA  358 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 11.2 KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 358 entries, 0 to 357
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        358 non-null    int64
 1   SIDE      358 non-null    int64
 2   moaks_OA  358 non-null    float64
 3   V00XRKL   358 non-null    float64
dtypes: float64(2), int64(2)
memory usage: 14.0 KB
None

In [66]:
print('Sum of sq00 subjects that have MOAKS = 0.0: {}'.format((all_common_sq_kxr_00_sq00['moaks_OA']==0.0).sum()))
print('Sum of sq00 subjects that have MOAKS = 1.0: {}'.format((all_common_sq_kxr_00_sq00['moaks_OA']==1.0).sum()))

Sum of sq00 subjects that have MOAKS = 0.0: 282
Sum of sq00 subjects that have MOAKS = 1.0: 76

In [67]:
moaks_sq00_only_moaks_one = all_moaks_vs_kl_grades_sq00.loc[(all_moaks_vs_kl_grades_sq00['moaks_OA']==1.0)]
print(moaks_sq00_only_moaks_one,'\n','number of subjects with moaks grade = 1.0: ',moaks_sq00_only_moaks_one.moaks_OA.count())

          ID  SIDE  moaks_OA  V00XRKL
4    9014797     1       1.0      1.0
76   9192363     1       1.0      1.0
94   9224983     2       1.0      1.0
106  9241014     2       1.0      1.0
154  9365269     1       1.0      1.0
..       ...   ...       ...      ...
353  9925594     2       1.0      2.0
354  9948322     1       1.0      2.0
355  9967358     2       1.0      2.0
356  9985277     2       1.0      2.0
357  9993650     1       1.0      2.0

[76 rows x 4 columns]
 number of subjects with moaks grade = 1.0:  76

In [68]:
moaks_sq00_only_moaks_zero = all_moaks_vs_kl_grades_sq00.loc[(all_moaks_vs_kl_grades_sq00['moaks_OA']==0.0)]
print(moaks_sq00_only_moaks_zero,'\n','number of subjects with moaks grade = 0.0: ',moaks_sq00_only_moaks_zero.moaks_OA.count())

          ID  SIDE  moaks_OA  V00XRKL
0    9005413     2       0.0      0.0
1    9008934     1       0.0      1.0
2    9010308     1       0.0      0.0
3    9012435     2       0.0      1.0
5    9015363     2       0.0      0.0
..       ...   ...       ...      ...
320  9381777     2       0.0      2.0
321  9391126     2       0.0      2.0
326  9505140     2       0.0      1.0
332  9615754     1       0.0      2.0
352  9913281     2       0.0      2.0

[282 rows x 4 columns]
 number of subjects with moaks grade = 0.0:  282

In [69]:
# Here we save the dataframes containing the information we want
all_moaks_vs_kl_grades_sq00.to_csv('moaks_sq00_moaks_vs_kl.csv')
moaks_sq00_only_moaks_one.to_csv('moaks_sq00_only_moaks_one.csv')
moaks_sq00_only_moaks_zero.to_csv('moaks_sq00_only_moaks_zero.csv')
all_common_sq_kxr_00_sq00.to_csv('moaks_sq00_common_sq_kxr_00.csv')

In [70]:
moaks_OA_KL_crosstab = pd.crosstab(all_moaks_vs_kl_grades_sq00.moaks_OA,all_moaks_vs_kl_grades_sq00.V00XRKL,margins=True,margins_name='Total')
moaks_OA_KL_crosstab.to_csv('moaks_sq00_OA_KL_crosstab.csv')
moaks_OA_KL_crosstab

V00XRKL   0.0  1.0  2.0  Total
moaks_OA
0.0       130  143    9    282
1.0         0   26   50     76
Total     130  169   59    358

In [71]:
# NOW WE SAVE THE SUBJECTS WITH ZERO FEATURES IN ORDER TO INVESTIGATE THE INCIDENCE OA
moaks_OA_osteo_zero = moaks_OA_features.loc[moaks_OA_features.XR_Osteophytes == 0.0]
moaks_OA_osteo_zero.to_csv('moaks_sq00_Zero_Osteo.csv')
print('Number of subjects without definite osteophytes in SQ00 is : {}'.format(moaks_OA_osteo_zero.shape[0]))

moaks_OA_TCL_zero = moaks_OA_features.loc[(moaks_OA_features.FullTCL == 0.0) & (moaks_OA_features.PartialTCL == 0.0)]
moaks_OA_TCL_zero.to_csv('moaks_sq00_Zero_TCL.csv')
print('Number of subjects without TCL in SQ00 is : {}'.format(moaks_OA_TCL_zero.shape[0]))

moaks_OA_bml_zero = moaks_OA_features.loc[moaks_OA_features.BML == 0.0]
moaks_OA_bml_zero.to_csv('moaks_sq00_Zero_BML.csv')
print('Number of subjects without BML in SQ00 is : {}'.format(moaks_OA_bml_zero.shape[0]))

moaks_OA_meniscus_zero = moaks_OA_features.loc[moaks_OA_features.Meniscus_Degradation == 0.0]
moaks_OA_meniscus_zero.to_csv('moaks_sq00_Zero_Meniscus.csv')
print('Number of subjects without Meniscus Degradation in SQ00 is : {}'.format(moaks_OA_meniscus_zero.shape[0]))

Number of subjects without definite osteophytes in SQ00 is : 257
Number of subjects without TCL in SQ00 is : 71
Number of subjects without BML in SQ00 is : 264
Number of subjects without Meniscus Degradation in SQ00 is : 0