In [1]:
import numpy as np
import pandas as pd

In [2]:
worms_kmri_sq_link03_all_subjects = pd.read_csv('/home/anastasis/EMC_Thesis/OAI Data/OAICompleteData_ASCII/kMRI_SQ_WORMS_Link03.txt', sep="|")
worms_kmri_sq_link03_all_subjects.rename(columns={'side':'SIDE'},inplace=True)

In [3]:
moaks_sq03_all_subjects = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS/MOAKS_SQ03/Whole_Knee_Approach/moaks_sq03_all_info.csv',index_col=0)
moaks_sq03_all_subjects_ID_SIDE = moaks_sq03_all_subjects.loc[:,['ID','SIDE']]

moaks_fnih_sq03_all_subjects = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS/MOAKS_FNIH_SQ03/Whole_Knee_Approach/moaks_fnih_sq03_all_info.csv',index_col=0)
moaks_fnih_sq03_all_subjects_ID_SIDE = moaks_fnih_sq03_all_subjects.loc[:,['ID','SIDE']]

In [4]:
# HERE WE KEEP ONLY THE IDs THAT ARE PRESENT ONLY IN THE WORMS STUDY AND NOT IN THE FNIH_SQ AND SQ

worms_kmri_sq_link03_with_sq = pd.merge(worms_kmri_sq_link03_all_subjects,moaks_sq03_all_subjects_ID_SIDE,on=['ID','SIDE'],how='left',indicator=True)
print(worms_kmri_sq_link03_with_sq._merge.value_counts())
worms_kmri_sq_link03_without_sq = worms_kmri_sq_link03_with_sq.loc[worms_kmri_sq_link03_with_sq._merge == 'left_only']
print(worms_kmri_sq_link03_without_sq._merge.value_counts())
worms_kmri_sq_link03_without_sq =  worms_kmri_sq_link03_without_sq.rename(columns={'_merge':'_merge_without_sq'})
worms_kmri_sq_link03_without_sq_with_sq = pd.merge(worms_kmri_sq_link03_without_sq,moaks_fnih_sq03_all_subjects_ID_SIDE,on=['ID','SIDE'],how='left',indicator=True)
print(worms_kmri_sq_link03_without_sq_with_sq._merge.value_counts())
worms_kmri_sq_link03_without_sq_without_fnih = worms_kmri_sq_link03_without_sq_with_sq.loc[worms_kmri_sq_link03_without_sq_with_sq._merge == 'left_only']
print(worms_kmri_sq_link03_without_sq_without_fnih._merge.value_counts())

left_only     258
both           33
right_only      0
Name: _merge, dtype: int64
left_only     258
right_only      0
both            0
Name: _merge, dtype: int64
left_only     246
both           12
right_only      0
Name: _merge, dtype: int64
left_only     246
right_only      0
both            0
Name: _merge, dtype: int64

In [5]:
worms_kmri_sq_link03 = worms_kmri_sq_link03_without_sq_without_fnih
print(worms_kmri_sq_link03.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 246 entries, 0 to 257
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 246 non-null    int64
 1   SIDE               246 non-null    int64
 2   VERSION            246 non-null    float64
 3   READPRJ            246 non-null    int64
 4   V03MWMTMA          226 non-null    float64
 5   V03MWMTMB          226 non-null    float64
 6   V03MWMTMP          226 non-null    float64
 7   V03MWMTLA          226 non-null    float64
 8   V03MWMTLB          226 non-null    float64
 9   V03MWMTLP          226 non-null    float64
 10  V03MWMTMS          226 non-null    float64
 11  V03MWMTLS          226 non-null    float64
 12  V03MWACL           226 non-null    float64
 13  V03MWPCL           226 non-null    float64
 14  V03MWMCL           226 non-null    float64
 15  V03MWLCL           226 non-null    float64
 16  V03MWPATND         226 non-null    float64
 17  V03MWPOTND         226 non-null    float64
 18  V03MWCMP           226 non-null    float64
 19  V03MWCMFT          226 non-null    float64
 20  V03MWCMFM          226 non-null    float64
 21  V03MWCMFL          226 non-null    float64
 22  V03MWCMTM          226 non-null    float64
 23  V03MWCMTL          226 non-null    float64
 24  V03MWBMP           226 non-null    float64
 25  V03MWBMFT          226 non-null    float64
 26  V03MWBMFM          226 non-null    float64
 27  V03MWBMFL          226 non-null    float64
 28  V03MWBMTM          226 non-null    float64
 29  V03MWBMTL          226 non-null    float64
 30  V03MWEFFWK         181 non-null    float64
 31  V03MWLB            181 non-null    float64
 32  V03MWPOPCY         181 non-null    float64
 33  _merge_without_sq  246 non-null    category
 34  _merge             246 non-null    category
dtypes: category(2), float64(30), int64(3)
memory usage: 66.1 KB
None

# WORMS_OA_FEATURES_THRES1 Cartilage grade >1

In [6]:
# FIRST WE CONSTRUCT A NEW DATAFRAME WITH ALL THE OA FEATURES AS COLUMNS

# THE FIRST FEATURE DATAFRAME WE CONSTRUCT IS WITH THRESHOLD > 1 
# FOR BOTH BML AND CARTILAGE THICKNESS LOSS 
# Because it is not clear yet which threshold to use (1 or 0) 

worms_OA_features_thres1 = pd.DataFrame(
    columns=['ID','SIDE','Cartilage_Morphology','Partial_TCL','Full_TCL','BML', 'Meniscus_Degradation'])
# the ID and SIDE columns are integers
worms_OA_features_thres1[['ID','SIDE']] = worms_kmri_sq_link03[['ID','SIDE']]
# and we fill the rest of the df with np.nan values
worms_OA_features_thres1.iloc[:,2:] = np.nan

print('Type of ID and SIDE columns {} and type of the rest of the columns {}'
    .format(type(worms_OA_features_thres1.iloc[0,0]),type(worms_OA_features_thres1.iloc[0,2])))

Type of ID and SIDE columns <class 'numpy.int64'> and type of the rest of the columns <class 'numpy.float64'>

In [7]:
worms_OA_features_thres1

,ID,SIDE,Cartilage_Morphology,Partial_TCL,Full_TCL,BML,Meniscus_Degradation
0,9003175,1,NaN,NaN,NaN,NaN,NaN
1,9011115,1,NaN,NaN,NaN,NaN,NaN
2,9011949,1,NaN,NaN,NaN,NaN,NaN
3,9013634,1,NaN,NaN,NaN,NaN,NaN
5,9020999,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
253,9969009,1,NaN,NaN,NaN,NaN,NaN
254,9973569,1,NaN,NaN,NaN,NaN,NaN
255,9979306,1,NaN,NaN,NaN,NaN,NaN
256,9982698,1,NaN,NaN,NaN,NaN,NaN
257,9989352,1,NaN,NaN,NaN,NaN,NaN

In [8]:
# worms_kmri_sq_link03[worms_kmri_sq_link03.V03MWCMFL == 0]
worms_kmri_sq_link03.V03MWCMTL.value_counts()

0.0    109
1.0     72
2.0     29
3.0     12
5.0      2
2.5      2
Name: V03MWCMTL, dtype: int64

In [9]:
worms_OA_features_thres1.loc[((worms_kmri_sq_link03.V03MWCMFM > 1) | (worms_kmri_sq_link03.V03MWCMFL > 1) |
                (worms_kmri_sq_link03.V03MWCMTM > 1) | (worms_kmri_sq_link03.V03MWCMTL > 1)),'Cartilage_Morphology'] = 1

worms_OA_features_thres1.loc[((worms_kmri_sq_link03.V03MWCMFM == 5) | (worms_kmri_sq_link03.V03MWCMFL == 5) |
                (worms_kmri_sq_link03.V03MWCMTM == 5) | (worms_kmri_sq_link03.V03MWCMTL == 5)),'Full_TCL'] = 1

worms_OA_features_thres1['Partial_TCL'] = worms_OA_features_thres1['Cartilage_Morphology']
worms_OA_features_thres1.loc[(worms_OA_features_thres1['Full_TCL']==1),'Partial_TCL'] = 0

worms_OA_features_thres1.loc[((worms_kmri_sq_link03.V03MWBMFM > 0) | (worms_kmri_sq_link03.V03MWBMFL > 0) |
                (worms_kmri_sq_link03.V03MWBMTM > 0) | (worms_kmri_sq_link03.V03MWBMTL > 0)),'BML'] = 1

worms_OA_features_thres1.loc[((worms_kmri_sq_link03.V03MWMTMS > 0) | (worms_kmri_sq_link03.V03MWMTLS > 0)),'Meniscus_Degradation'] = 1                

worms_OA_features_thres1.fillna(0, inplace=True)
print(worms_OA_features_thres1.Partial_TCL.value_counts())
print(worms_OA_features_thres1.Full_TCL.sum())
print(worms_OA_features_thres1.Cartilage_Morphology.value_counts())

0.0    167
1.0     79
Name: Partial_TCL, dtype: int64
4.0
0.0    163
1.0     83
Name: Cartilage_Morphology, dtype: int64

In [10]:
aaa = worms_OA_features_thres1.loc[((worms_OA_features_thres1.Partial_TCL == 1) & (worms_OA_features_thres1.Full_TCL == 1))]
aaa

Empty DataFrame
Columns: [ID, SIDE, Cartilage_Morphology, Partial_TCL, Full_TCL, BML, Meniscus_Degradation]
Index: []

In [11]:
worms_cart_with_OA_thres1 = worms_OA_features_thres1.loc[((worms_OA_features_thres1.Cartilage_Morphology == 1))]
print('Threshold 1 - Number of subjects with worms grade for cartilage morphology larger than ONE : ',
        format(worms_OA_features_thres1.Cartilage_Morphology.eq(1).sum()))
worms_cart_with_OA_thres1.to_csv('worms_sq03_cartilage_with_OA_thres1.csv')        

worms_bml_with_OA_thres1 = worms_OA_features_thres1.loc[((worms_OA_features_thres1.BML == 1))]        
print('Threshold 1 - Number of subjects with worms grade for BML larger than ONE : ',
        format(worms_OA_features_thres1.BML.eq(1).sum()))
worms_bml_with_OA_thres1.to_csv('worms_sq03_bml_with_OA_thres1.csv')

worms_men_with_OA_thres1 = worms_OA_features_thres1.loc[((worms_OA_features_thres1.Meniscus_Degradation == 1))]
print('Threshold 1 - Number of subjects with worms grade for Meniscus Degradation larger than ONE : ',
        format(worms_OA_features_thres1.Meniscus_Degradation.eq(1).sum()))
worms_men_with_OA_thres1.to_csv('worms_sq03_men_with_OA_thres1.csv')

Threshold 1 - Number of subjects with worms grade for cartilage morphology larger than ONE :  83
Threshold 1 - Number of subjects with worms grade for BML larger than ONE :  44
Threshold 1 - Number of subjects with worms grade for Meniscus Degradation larger than ONE :  112

In [12]:
worms_wout_cart_thres1 = worms_OA_features_thres1.loc[(worms_OA_features_thres1.Cartilage_Morphology == 0)]                    
print('Number of subjects WITHOUT Cartilage is : ',format(worms_wout_cart_thres1.shape[0]))        
worms_wout_cart_thres1.to_csv('worms_sq03_without_Cart_thres1.csv')

worms_wout_bml_thres1 = worms_OA_features_thres1.loc[(worms_OA_features_thres1.BML == 0)]                    
print('Number of subjects WITHOUT BML is : ',format(worms_wout_bml_thres1.shape[0]))        
worms_wout_bml_thres1.to_csv('worms_sq03_without_BML_thres1.csv')

worms_wout_men_thres1 = worms_OA_features_thres1.loc[(worms_OA_features_thres1.Meniscus_Degradation == 0)]                    
print('Number of subjects WITHOUT OA is : ',format(worms_wout_men_thres1.shape[0]))        
worms_wout_men_thres1.to_csv('worms_sq03_without_Meniscus_thres1.csv')

Number of subjects WITHOUT Cartilage is :  163
Number of subjects WITHOUT BML is :  202
Number of subjects WITHOUT OA is :  134

In [13]:
worms_sq03_all_info_thres1 = worms_OA_features_thres1.merge(worms_kmri_sq_link03,on=['ID','SIDE'], how='inner')
worms_sq03_all_info_thres1.to_csv('worms_sq03_all_info_thres1.csv')

# NOW WE FORMULATE THE MRI DEFINED OA WITH DATA FROM WORMS THRESHOLD 1

In [14]:
kxr_sq_bu03= pd.read_csv('/home/anastasis/EMC_Thesis/OAI Data/OAICompleteData_ASCII/kxr_sq_bu03.txt', sep="|")
KL_prj15 = kxr_sq_bu03[kxr_sq_bu03['readprj'] == 15].copy()
KL_prj15_osteophytes = KL_prj15.loc[:,['ID','SIDE','V03XROSFL','V03XROSFM','V03XROSTL','V03XROSTM','V03XRKL']]
# KL_prj15_osteophytes

In [15]:
common_worms_kxr_03_thres1 = pd.merge(worms_OA_features_thres1,KL_prj15_osteophytes,on=['ID','SIDE'],how='inner')
common_worms_kxr_03_thres1

,ID,SIDE,Cartilage_Morphology,Partial_TCL,Full_TCL,BML,Meniscus_Degradation,V03XROSFL,V03XROSFM,V03XROSTL,V03XROSTM,V03XRKL
0,9003175,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
1,9011115,1,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
2,9011949,1,1.0,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0
3,9013634,1,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
4,9020999,1,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
237,9969009,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
238,9973569,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
239,9979306,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
240,9982698,1,1.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
241,9989352,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0

In [16]:
common_worms_kxr_03_thres1 = common_worms_kxr_03_thres1[common_worms_kxr_03_thres1.V03XROSFL.notna()]
common_worms_kxr_03_thres1.drop(common_worms_kxr_03_thres1[(common_worms_kxr_03_thres1.V03XRKL==0) & ((common_worms_kxr_03_thres1.V03XROSFL != 0) |
 (common_worms_kxr_03_thres1.V03XROSFM != 0) | (common_worms_kxr_03_thres1.V03XROSTL != 0) | (common_worms_kxr_03_thres1.V03XROSTM != 0))].index,inplace=True)
common_worms_kxr_03_thres1

/home/anastasis/anaconda3/envs/tf/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,ID,SIDE,Cartilage_Morphology,Partial_TCL,Full_TCL,BML,Meniscus_Degradation,V03XROSFL,V03XROSFM,V03XROSTL,V03XROSTM,V03XRKL
13,9057417,1,1.0,1.0,0.0,1.0,1.0,0.0,3.0,1.0,1.0,3.0
15,9061827,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
16,9064631,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,9065433,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
20,9098924,1,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
231,9928863,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0
232,9939547,1,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0
235,9946897,1,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,2.0
236,9967294,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
237,9969009,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [17]:
common_worms_kxr_03_thres1_features = common_worms_kxr_03_thres1.iloc[:,:7]
common_worms_kxr_03_thres1_features['XR_Osteophytes'] = np.nan
common_worms_kxr_03_thres1_features
common_worms_kxr_03_thres1_features.loc[((common_worms_kxr_03_thres1.V03XROSFL >= 1.0) | 
                (common_worms_kxr_03_thres1.V03XROSFM >= 1.0) | (common_worms_kxr_03_thres1.V03XROSTL >= 1.0) |
                (common_worms_kxr_03_thres1.V03XROSTM >= 1.0)), 'XR_Osteophytes' ] = 1.0
common_worms_kxr_03_thres1_features.fillna(0.0,inplace=True)
common_worms_kxr_03_thres1_features

,ID,SIDE,Cartilage_Morphology,Partial_TCL,Full_TCL,BML,Meniscus_Degradation,XR_Osteophytes
13,9057417,1,1.0,1.0,0.0,1.0,1.0,1.0
15,9061827,1,1.0,0.0,1.0,0.0,0.0,1.0
16,9064631,1,1.0,1.0,0.0,0.0,0.0,0.0
17,9065433,1,0.0,0.0,0.0,0.0,1.0,0.0
20,9098924,1,1.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
231,9928863,1,0.0,0.0,0.0,0.0,1.0,1.0
232,9939547,1,1.0,1.0,0.0,0.0,0.0,1.0
235,9946897,1,1.0,1.0,0.0,0.0,1.0,1.0
236,9967294,1,0.0,0.0,0.0,0.0,1.0,1.0
237,9969009,1,0.0,0.0,0.0,0.0,0.0,1.0

In [18]:
worms_OA_criteria_thres1 = pd.DataFrame(columns=['ID','SIDE',
             'Osteo_AND_Full_TCL',
             'Osteo_AND_Partial_TCL_AND_BML',
             'Osteo_AND_Partial_TCL_AND_Meniscus_Degradation',
             'Osteo_AND_BML_AND_Meniscus_Degradation',
             'Full_TCL_AND_BML_AND_Meniscus_Degradation'])
# the ID and SIDE columns are integers
worms_OA_criteria_thres1[['ID','SIDE']] = common_worms_kxr_03_thres1_features[['ID','SIDE']]
# and we fill the rest of the df with np.nan values
worms_OA_criteria_thres1.iloc[:,2:] = np.nan
worms_OA_criteria_thres1

,ID,SIDE,Osteo_AND_Full_TCL,Osteo_AND_Partial_TCL_AND_BML,Osteo_AND_Partial_TCL_AND_Meniscus_Degradation,Osteo_AND_BML_AND_Meniscus_Degradation,Full_TCL_AND_BML_AND_Meniscus_Degradation
13,9057417,1,NaN,NaN,NaN,NaN,NaN
15,9061827,1,NaN,NaN,NaN,NaN,NaN
16,9064631,1,NaN,NaN,NaN,NaN,NaN
17,9065433,1,NaN,NaN,NaN,NaN,NaN
20,9098924,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
231,9928863,1,NaN,NaN,NaN,NaN,NaN
232,9939547,1,NaN,NaN,NaN,NaN,NaN
235,9946897,1,NaN,NaN,NaN,NaN,NaN
236,9967294,1,NaN,NaN,NaN,NaN,NaN
237,9969009,1,NaN,NaN,NaN,NaN,NaN

In [19]:
worms_OA_criteria_thres1.loc[((common_worms_kxr_03_thres1_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_03_thres1_features['Full_TCL'] == 1.0)),'Osteo_AND_Full_TCL'] = 1.0
         
worms_OA_criteria_thres1.loc[((common_worms_kxr_03_thres1_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_03_thres1_features['Full_TCL'] != 1.0)),'Osteo_AND_Full_TCL'] = 0.0

print('With XR Osteophytes AND Full_TCL->1.0, Without->0.0: \n{}'.
        format(worms_OA_criteria_thres1['Osteo_AND_Full_TCL'].value_counts(dropna=False)))

With XR Osteophytes AND Full_TCL->1.0, Without->0.0:
0.0    60
1.0     4
Name: Osteo_AND_Full_TCL, dtype: int64

In [20]:
worms_OA_criteria_thres1.loc[((common_worms_kxr_03_thres1_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_03_thres1_features['Partial_TCL'] == 1.0) & 
            (common_worms_kxr_03_thres1_features['BML'] == 1.0)),'Osteo_AND_Partial_TCL_AND_BML'] = 1.0
worms_OA_criteria_thres1.loc[((common_worms_kxr_03_thres1_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_03_thres1_features['Partial_TCL'] != 1.0) |
            (common_worms_kxr_03_thres1_features['BML'] != 1.0)),'Osteo_AND_Partial_TCL_AND_BML'] = 0.0
print('With XR Osteophytes AND Partial_TCL AND BML->1.0, Without->0.0 \n{}'.
        format(worms_OA_criteria_thres1.Osteo_AND_Partial_TCL_AND_BML.value_counts(dropna=False)))

With XR Osteophytes AND Partial_TCL AND BML->1.0, Without->0.0
0.0    60
1.0     4
Name: Osteo_AND_Partial_TCL_AND_BML, dtype: int64

In [21]:
worms_OA_criteria_thres1.loc[((common_worms_kxr_03_thres1_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_03_thres1_features['Partial_TCL'] == 1.0) & 
            (common_worms_kxr_03_thres1_features['Meniscus_Degradation'] == 1.0)),'Osteo_AND_Partial_TCL_AND_Meniscus_Degradation'] = 1.0
worms_OA_criteria_thres1.loc[((common_worms_kxr_03_thres1_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_03_thres1_features['Partial_TCL'] != 1.0) |
            (common_worms_kxr_03_thres1_features['Meniscus_Degradation'] != 1.0)),'Osteo_AND_Partial_TCL_AND_Meniscus_Degradation'] = 0.0
print('With Osteophytes AND Partial TCL AND Meniscus_Degradation->1.0, Without->0.0: \n{}'.
        format((worms_OA_criteria_thres1['Osteo_AND_Partial_TCL_AND_Meniscus_Degradation'].value_counts(dropna=False))))

With Osteophytes AND Partial TCL AND Meniscus_Degradation->1.0, Without->0.0:
0.0    57
1.0     7
Name: Osteo_AND_Partial_TCL_AND_Meniscus_Degradation, dtype: int64

In [22]:
worms_OA_criteria_thres1.loc[((common_worms_kxr_03_thres1_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_03_thres1_features['BML'] == 1.0) & 
            (common_worms_kxr_03_thres1_features['Meniscus_Degradation'] == 1.0)),'Osteo_AND_BML_AND_Meniscus_Degradation'] = 1.0
worms_OA_criteria_thres1.loc[((common_worms_kxr_03_thres1_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_03_thres1_features['BML'] != 1.0) |
            (common_worms_kxr_03_thres1_features['Meniscus_Degradation'] != 1.0)),'Osteo_AND_BML_AND_Meniscus_Degradation'] = 0.0            
print('With Osteophytes AND BML AND Meniscus_Degradation->1.0, Without->0.0: \n{}'.
        format((worms_OA_criteria_thres1['Osteo_AND_BML_AND_Meniscus_Degradation'].value_counts(dropna=False))))

With Osteophytes AND BML AND Meniscus_Degradation->1.0, Without->0.0:
0.0    58
1.0     6
Name: Osteo_AND_BML_AND_Meniscus_Degradation, dtype: int64

In [23]:
worms_OA_criteria_thres1.loc[((common_worms_kxr_03_thres1_features['Full_TCL'] == 1.0) & 
            (common_worms_kxr_03_thres1_features['BML'] == 1.0) & 
            (common_worms_kxr_03_thres1_features['Meniscus_Degradation'] == 1.0)),'Full_TCL_AND_BML_AND_Meniscus_Degradation'] = 1.0
worms_OA_criteria_thres1.loc[((common_worms_kxr_03_thres1_features['Full_TCL'] != 1.0) | 
            (common_worms_kxr_03_thres1_features['BML'] != 1.0) |
            (common_worms_kxr_03_thres1_features['Meniscus_Degradation'] != 1.0)),'Full_TCL_AND_BML_AND_Meniscus_Degradation'] = 0.0
print('With Full_TCL AND BML AND Meniscus_Degradation->1.0, Without->0.0: \n{}'.
        format((worms_OA_criteria_thres1['Full_TCL_AND_BML_AND_Meniscus_Degradation'].value_counts(dropna=False))))

With Full_TCL AND BML AND Meniscus_Degradation->1.0, Without->0.0:
0.0    62
1.0     2
Name: Full_TCL_AND_BML_AND_Meniscus_Degradation, dtype: int64

In [24]:
worms_OA_criteria_thres1.fillna(0.0,inplace=True)
worms_OA_criteria_thres1['moaks_OA'] = np.nan
worms_OA_criteria_thres1.loc[((worms_OA_criteria_thres1['Osteo_AND_Full_TCL']==1.0) |
                (worms_OA_criteria_thres1['Osteo_AND_Partial_TCL_AND_BML']==1.0) |
                (worms_OA_criteria_thres1['Osteo_AND_Partial_TCL_AND_Meniscus_Degradation']==1.0) |
                (worms_OA_criteria_thres1['Osteo_AND_BML_AND_Meniscus_Degradation']==1.0) |
                (worms_OA_criteria_thres1['Full_TCL_AND_BML_AND_Meniscus_Degradation']==1.0)),'moaks_OA'] = 1.0
worms_OA_criteria_thres1.fillna(0.0,inplace=True)
print('Number of subjects that satisfy at least one OA criterion is : {}'.format((worms_OA_criteria_thres1['moaks_OA']==1.0).sum()))
worms_OA_criteria_thres1.to_csv('worms_OA_criteria_thres1.csv')
worms_OA_criteria_thres1[worms_OA_criteria_thres1.moaks_OA==1].to_csv('worms_OA_criteria_thres1_one03.csv')
worms_OA_criteria_thres1[worms_OA_criteria_thres1.moaks_OA==0].to_csv('worms_OA_criteria_thres1_zero03.csv')

Number of subjects that satisfy at least one OA criterion is : 13

# WORMS_OA_FEATURES_THRES0
# Cartilage grade >0 AND BML>0 AND Meniscus Degradation > 0

In [25]:
worms_OA_features_thres0 = pd.DataFrame(
    columns=['ID','SIDE','Cartilage_Morphology','Partial_TCL','Full_TCL','BML', 'Meniscus_Degradation'])
# the ID and SIDE columns are integers
worms_OA_features_thres0[['ID','SIDE']] = worms_kmri_sq_link03[['ID','SIDE']]
# and we fill the rest of the df with np.nan values
worms_OA_features_thres0.iloc[:,2:] = np.nan

print('Type of ID and SIDE columns {} and type of the rest of the columns {}'
    .format(type(worms_OA_features_thres0.iloc[0,0]),type(worms_OA_features_thres0.iloc[0,2])))

Type of ID and SIDE columns <class 'numpy.int64'> and type of the rest of the columns <class 'numpy.float64'>

In [26]:
worms_OA_features_thres0.loc[((worms_kmri_sq_link03.V03MWCMFM > 0) | (worms_kmri_sq_link03.V03MWCMFL > 0) |
                (worms_kmri_sq_link03.V03MWCMTM > 0) | (worms_kmri_sq_link03.V03MWCMTL > 0)),'Cartilage_Morphology'] = 1

worms_OA_features_thres1.loc[((worms_kmri_sq_link03.V03MWCMFM == 5) | (worms_kmri_sq_link03.V03MWCMFL == 5) |
                (worms_kmri_sq_link03.V03MWCMTM == 5) | (worms_kmri_sq_link03.V03MWCMTL == 5)),'Full_TCL'] = 1

worms_OA_features_thres1['Partial_TCL'] = worms_OA_features_thres1['Cartilage_Morphology']
worms_OA_features_thres1.loc[(worms_OA_features_thres1['Full_TCL']==1),'Partial_TCL'] = 0

worms_OA_features_thres0.loc[((worms_kmri_sq_link03.V03MWBMFM > 0) | (worms_kmri_sq_link03.V03MWBMFL > 0) |
                (worms_kmri_sq_link03.V03MWBMTM > 0) | (worms_kmri_sq_link03.V03MWBMTL > 1)),'BML'] = 1

worms_OA_features_thres0.loc[((worms_kmri_sq_link03.V03MWMTMS > 0) | (worms_kmri_sq_link03.V03MWMTLS > 0)),'Meniscus_Degradation'] = 1                

worms_OA_features_thres0.fillna(0, inplace=True)

In [27]:
worms_cart_with_OA_thres0 = worms_OA_features_thres0.loc[((worms_OA_features_thres0.Cartilage_Morphology == 1))]
print('Threshold 0 - Number of subjects with worms grade for cartilage morphology larger than ZERO : ',
        format(worms_OA_features_thres0.Cartilage_Morphology.eq(1).sum()))
worms_cart_with_OA_thres0.to_csv('worms_sq03_cartilage_with_OA_thres0.csv')        

worms_bml_with_OA_thres0 = worms_OA_features_thres0.loc[((worms_OA_features_thres0.BML == 1))]        
print('Threshold 0 - Number of subjects with worms grade for BML larger than ZERO : ',
        format(worms_OA_features_thres0.BML.eq(1).sum()))
worms_bml_with_OA_thres0.to_csv('worms_sq03_bml_with_OA_thres0.csv')

worms_men_with_OA_thres0 = worms_OA_features_thres0.loc[((worms_OA_features_thres0.Meniscus_Degradation == 1))]
print('Threshold 0 - Number of subjects with worms grade for Meniscus Degradation larger than ZERO : ',
        format(worms_OA_features_thres0.Meniscus_Degradation.eq(1).sum()))
worms_men_with_OA_thres0.to_csv('worms_sq03_men_with_OA_thres0.csv')

Threshold 0 - Number of subjects with worms grade for cartilage morphology larger than ZERO :  146
Threshold 0 - Number of subjects with worms grade for BML larger than ZERO :  35
Threshold 0 - Number of subjects with worms grade for Meniscus Degradation larger than ZERO :  112

In [28]:
worms_wout_cart_thres0 = worms_OA_features_thres0.loc[(worms_OA_features_thres0.Cartilage_Morphology == 0)]                    
print('Number of subjects WITHOUT Cartilage is : ',format(worms_wout_cart_thres0.shape[0]))        
worms_wout_cart_thres0.to_csv('worms_sq03_without_Cart_thres0.csv')

worms_wout_bml_thres0 = worms_OA_features_thres0.loc[(worms_OA_features_thres0.BML == 0)]                    
print('Number of subjects WITHOUT BML is : ',format(worms_wout_bml_thres0.shape[0]))        
worms_wout_bml_thres0.to_csv('worms_sq03_without_BML_thres0.csv')

worms_wout_men_thres0 = worms_OA_features_thres0.loc[(worms_OA_features_thres0.Meniscus_Degradation == 0)]                    
print('Number of subjects WITHOUT OA is : ',format(worms_wout_men_thres0.shape[0]))        
worms_wout_men_thres0.to_csv('worms_sq03_without_Meniscus_thres0.csv')

Number of subjects WITHOUT Cartilage is :  100
Number of subjects WITHOUT BML is :  211
Number of subjects WITHOUT OA is :  134

In [29]:
worms_sq03_all_info_thres0 = worms_OA_features_thres0.merge(worms_kmri_sq_link03,on=['ID','SIDE'], how='inner')
worms_sq03_all_info_thres0.to_csv('worms_sq03_all_info_thres0.csv')

# NOW WE FORMULATE THE MRI DEFINED OA WITH DATA FROM WORMS THRESHOLD 0

In [30]:
common_worms_kxr_03_thres0 = pd.merge(worms_OA_features_thres0,KL_prj15_osteophytes,on=['ID','SIDE'],how='inner')
common_worms_kxr_03_thres0

,ID,SIDE,Cartilage_Morphology,Partial_TCL,Full_TCL,BML,Meniscus_Degradation,V03XROSFL,V03XROSFM,V03XROSTL,V03XROSTM,V03XRKL
0,9003175,1,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
1,9011115,1,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
2,9011949,1,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
3,9013634,1,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
4,9020999,1,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
237,9969009,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
238,9973569,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
239,9979306,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
240,9982698,1,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,0.0
241,9989352,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0

In [31]:
common_worms_kxr_03_thres0 = common_worms_kxr_03_thres0[common_worms_kxr_03_thres0.V03XROSFL.notna()]
common_worms_kxr_03_thres0.drop(common_worms_kxr_03_thres0[(common_worms_kxr_03_thres0.V03XRKL==0) & ((common_worms_kxr_03_thres0.V03XROSFL != 0) |
 (common_worms_kxr_03_thres0.V03XROSFM != 0) | (common_worms_kxr_03_thres0.V03XROSTL != 0) | (common_worms_kxr_03_thres0.V03XROSTM != 0))].index,inplace=True)
common_worms_kxr_03_thres0

/home/anastasis/anaconda3/envs/tf/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,ID,SIDE,Cartilage_Morphology,Partial_TCL,Full_TCL,BML,Meniscus_Degradation,V03XROSFL,V03XROSFM,V03XROSTL,V03XROSTM,V03XRKL
13,9057417,1,1.0,0.0,0.0,1.0,1.0,0.0,3.0,1.0,1.0,3.0
15,9061827,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
16,9064631,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,9065433,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
20,9098924,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
231,9928863,1,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0
232,9939547,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0
235,9946897,1,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,2.0
236,9967294,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
237,9969009,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [32]:
common_worms_kxr_03_thres0_features = common_worms_kxr_03_thres0.iloc[:,:7]
common_worms_kxr_03_thres0_features['XR_Osteophytes'] = np.nan
common_worms_kxr_03_thres0_features
common_worms_kxr_03_thres0_features.loc[((common_worms_kxr_03_thres0.V03XROSFL >= 1.0) | 
                (common_worms_kxr_03_thres0.V03XROSFM >= 1.0) | (common_worms_kxr_03_thres0.V03XROSTL >= 1.0) |
                (common_worms_kxr_03_thres0.V03XROSTM >= 1.0)), 'XR_Osteophytes' ] = 1.0
common_worms_kxr_03_thres0_features.fillna(0.0,inplace=True)
common_worms_kxr_03_thres0_features

,ID,SIDE,Cartilage_Morphology,Partial_TCL,Full_TCL,BML,Meniscus_Degradation,XR_Osteophytes
13,9057417,1,1.0,0.0,0.0,1.0,1.0,1.0
15,9061827,1,1.0,0.0,0.0,0.0,0.0,1.0
16,9064631,1,1.0,0.0,0.0,0.0,0.0,0.0
17,9065433,1,0.0,0.0,0.0,0.0,1.0,0.0
20,9098924,1,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
231,9928863,1,1.0,0.0,0.0,0.0,1.0,1.0
232,9939547,1,1.0,0.0,0.0,0.0,0.0,1.0
235,9946897,1,1.0,0.0,0.0,0.0,1.0,1.0
236,9967294,1,1.0,0.0,0.0,0.0,1.0,1.0
237,9969009,1,0.0,0.0,0.0,0.0,0.0,1.0

In [33]:
worms_OA_criteria_thres0 = pd.DataFrame(columns=['ID','SIDE',
             'Osteo_AND_Full_TCL',
             'Osteo_AND_Partial_TCL_AND_BML',
             'Osteo_AND_Partial_TCL_AND_Meniscus_Degradation',
             'Osteo_AND_BML_AND_Meniscus_Degradation',
             'Full_TCL_AND_BML_AND_Meniscus_Degradation'])
# the ID and SIDE columns are integers
worms_OA_criteria_thres0[['ID','SIDE']] = common_worms_kxr_03_thres0_features[['ID','SIDE']]
# and we fill the rest of the df with np.nan values
worms_OA_criteria_thres0.iloc[:,2:] = np.nan
worms_OA_criteria_thres0

,ID,SIDE,Osteo_AND_Full_TCL,Osteo_AND_Partial_TCL_AND_BML,Osteo_AND_Partial_TCL_AND_Meniscus_Degradation,Osteo_AND_BML_AND_Meniscus_Degradation,Full_TCL_AND_BML_AND_Meniscus_Degradation
13,9057417,1,NaN,NaN,NaN,NaN,NaN
15,9061827,1,NaN,NaN,NaN,NaN,NaN
16,9064631,1,NaN,NaN,NaN,NaN,NaN
17,9065433,1,NaN,NaN,NaN,NaN,NaN
20,9098924,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
231,9928863,1,NaN,NaN,NaN,NaN,NaN
232,9939547,1,NaN,NaN,NaN,NaN,NaN
235,9946897,1,NaN,NaN,NaN,NaN,NaN
236,9967294,1,NaN,NaN,NaN,NaN,NaN
237,9969009,1,NaN,NaN,NaN,NaN,NaN

In [34]:
worms_OA_criteria_thres0.loc[((common_worms_kxr_03_thres0_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_03_thres0_features['Full_TCL'] == 1.0)),'Osteo_AND_Full_TCL'] = 1.0
         
worms_OA_criteria_thres0.loc[((common_worms_kxr_03_thres0_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_03_thres0_features['Full_TCL'] != 1.0)),'Osteo_AND_Full_TCL'] = 0.0

print('With XR Osteophytes AND Full_TCL->1.0, Without->0.0: \n{}'.
        format(worms_OA_criteria_thres0['Osteo_AND_Full_TCL'].value_counts(dropna=False)))

With XR Osteophytes AND Full_TCL->1.0, Without->0.0:
0.0    64
Name: Osteo_AND_Full_TCL, dtype: int64

In [35]:
worms_OA_criteria_thres0.loc[((common_worms_kxr_03_thres0_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_03_thres0_features['Partial_TCL'] == 1.0) & 
            (common_worms_kxr_03_thres0_features['BML'] == 1.0)),'Osteo_AND_Partial_TCL_AND_BML'] = 1.0
worms_OA_criteria_thres0.loc[((common_worms_kxr_03_thres0_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_03_thres0_features['Partial_TCL'] != 1.0) |
            (common_worms_kxr_03_thres0_features['BML'] != 1.0)),'Osteo_AND_Partial_TCL_AND_BML'] = 0.0
print('With XR Osteophytes AND Partial_TCL AND BML->1.0, Without->0.0 \n{}'.
        format(worms_OA_criteria_thres0.Osteo_AND_Partial_TCL_AND_BML.value_counts(dropna=False)))

With XR Osteophytes AND Partial_TCL AND BML->1.0, Without->0.0
0.0    64
Name: Osteo_AND_Partial_TCL_AND_BML, dtype: int64

In [36]:
worms_OA_criteria_thres1.loc[((common_worms_kxr_03_thres1_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_03_thres1_features['Partial_TCL'] == 1.0) & 
            (common_worms_kxr_03_thres1_features['Meniscus_Degradation'] == 1.0)),'Osteo_AND_Partial_TCL_AND_Meniscus_Degradation'] = 1.0
worms_OA_criteria_thres1.loc[((common_worms_kxr_03_thres1_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_03_thres1_features['Partial_TCL'] != 1.0) |
            (common_worms_kxr_03_thres1_features['Meniscus_Degradation'] != 1.0)),'Osteo_AND_Partial_TCL_AND_Meniscus_Degradation'] = 0.0
print('With Osteophytes AND Partial TCL AND Meniscus_Degradation->1.0, Without->0.0: \n{}'.
        format((worms_OA_criteria_thres1['Osteo_AND_Partial_TCL_AND_Meniscus_Degradation'].value_counts(dropna=False))))

With Osteophytes AND Partial TCL AND Meniscus_Degradation->1.0, Without->0.0:
0.0    57
1.0     7
Name: Osteo_AND_Partial_TCL_AND_Meniscus_Degradation, dtype: int64

In [37]:
worms_OA_criteria_thres0.loc[((common_worms_kxr_03_thres0_features['XR_Osteophytes'] == 1.0) & 
            (common_worms_kxr_03_thres0_features['BML'] == 1.0) & 
            (common_worms_kxr_03_thres0_features['Meniscus_Degradation'] == 1.0)),'Osteo_AND_BML_AND_Meniscus_Degradation'] = 1.0
worms_OA_criteria_thres0.loc[((common_worms_kxr_03_thres0_features['XR_Osteophytes'] != 1.0) | 
            (common_worms_kxr_03_thres0_features['BML'] != 1.0) |
            (common_worms_kxr_03_thres0_features['Meniscus_Degradation'] != 1.0)),'Osteo_AND_BML_AND_Meniscus_Degradation'] = 0.0            
print('With Osteophytes AND BML AND Meniscus_Degradation->1.0, Without->0.0: \n{}'.
        format((worms_OA_criteria_thres0['Osteo_AND_BML_AND_Meniscus_Degradation'].value_counts(dropna=False))))

With Osteophytes AND BML AND Meniscus_Degradation->1.0, Without->0.0:
0.0    58
1.0     6
Name: Osteo_AND_BML_AND_Meniscus_Degradation, dtype: int64

In [38]:
worms_OA_criteria_thres0.loc[((common_worms_kxr_03_thres0_features['Full_TCL'] == 1.0) & 
            (common_worms_kxr_03_thres0_features['BML'] == 1.0) & 
            (common_worms_kxr_03_thres0_features['Meniscus_Degradation'] == 1.0)),'Full_TCL_AND_BML_AND_Meniscus_Degradation'] = 1.0
worms_OA_criteria_thres0.loc[((common_worms_kxr_03_thres0_features['Full_TCL'] != 1.0) | 
            (common_worms_kxr_03_thres0_features['BML'] != 1.0) |
            (common_worms_kxr_03_thres0_features['Meniscus_Degradation'] != 1.0)),'Full_TCL_AND_BML_AND_Meniscus_Degradation'] = 0.0
print('With Full_TCL AND BML AND Meniscus_Degradation->1.0, Without->0.0: \n{}'.
        format((worms_OA_criteria_thres0['Full_TCL_AND_BML_AND_Meniscus_Degradation'].value_counts(dropna=False))))

With Full_TCL AND BML AND Meniscus_Degradation->1.0, Without->0.0:
0.0    64
Name: Full_TCL_AND_BML_AND_Meniscus_Degradation, dtype: int64

In [39]:
worms_OA_criteria_thres0.fillna(0.0,inplace=True)
worms_OA_criteria_thres0['moaks_OA'] = np.nan
worms_OA_criteria_thres0.loc[((worms_OA_criteria_thres0['Osteo_AND_Full_TCL']==1.0) |
                (worms_OA_criteria_thres0['Osteo_AND_Partial_TCL_AND_BML']==1.0) |
                (worms_OA_criteria_thres0['Osteo_AND_Partial_TCL_AND_Meniscus_Degradation']==1.0) |
                (worms_OA_criteria_thres0['Osteo_AND_BML_AND_Meniscus_Degradation']==1.0) |
                (worms_OA_criteria_thres0['Full_TCL_AND_BML_AND_Meniscus_Degradation']==1.0)),'moaks_OA'] = 1.0
worms_OA_criteria_thres0.fillna(0.0,inplace=True)
print('Number of subjects that satisfy at least one OA criterion is : {}'.format((worms_OA_criteria_thres0['moaks_OA']==1.0).sum()))
worms_OA_criteria_thres0.to_csv('worms_OA_criteria_thres0.csv')
worms_OA_criteria_thres0[worms_OA_criteria_thres0.moaks_OA==1].to_csv('worms_OA_criteria_thres0_one03.csv')
worms_OA_criteria_thres0[worms_OA_criteria_thres0.moaks_OA==0].to_csv('worms_OA_criteria_thres0_zero03.csv')

Number of subjects that satisfy at least one OA criterion is : 6