In [1]:
import numpy as np
import pandas as pd
from functools import reduce

In [2]:
all_subjects_sq00 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ00_63/Whole_Knee_Approach/moaks_sq00_all_info.csv',index_col=0)
new_names = [(i,i+'_00') for i in all_subjects_sq00.iloc[:, 2:].columns.values]
all_subjects_sq00.rename(columns = dict(new_names), inplace=True)
all_subjects_sq00

,ID,SIDE,XR_Osteophytes_00,FullTCL_00,AnyTCL_00,PartialTCL_00,BML_00,Meniscus_Degradation_00,Osteo_AND_FullTCL_00,Osteo_AND_PartialTCL_AND_BML_00,Osteo_AND_PartialTCL_AND_Meniscus_Degradation_00,Osteo_AND_BML_AND_Meniscus_Degradation_00,FullTCL_AND_BML_AND_Meniscus_Degradation_00,moaks_OA_00,V00XRKL_00,_merge_00
0,9005413,2,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
1,9008934,1,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,both
2,9010308,1,0.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
3,9012435,2,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,both
4,9014797,1,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,9925594,2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
354,9948322,1,1.0,0.0,1.0,1.0,1.0,-1.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,both
355,9967358,2,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,2.0,both
356,9985277,2,1.0,1.0,1.0,0.0,0.0,-1.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,both
357,9993650,1,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both

In [3]:
all_subjects_sq01 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ01_63/Whole_Knee_Approach/moaks_sq01_all_info.csv',index_col=0)
new_names = [(i,i+'_01') for i in all_subjects_sq01.iloc[:, 2:].columns.values]
all_subjects_sq01.rename(columns = dict(new_names), inplace=True)
all_subjects_sq01

,ID,SIDE,XR_Osteophytes_01,FullTCL_01,AnyTCL_01,PartialTCL_01,BML_01,Meniscus_Degradation_01,Osteo_AND_FullTCL_01,Osteo_AND_PartialTCL_AND_BML_01,Osteo_AND_PartialTCL_AND_Meniscus_Degradation_01,Osteo_AND_BML_AND_Meniscus_Degradation_01,FullTCL_AND_BML_AND_Meniscus_Degradation_01,moaks_OA_01,V01XRKL_01,_merge_01
0,9002316,2,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both
1,9026695,1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,3.0,both
2,9044788,2,1.0,0.0,1.0,1.0,1.0,-1.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,both
3,9062483,2,1.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,both
4,9063928,2,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,9943227,2,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both
93,9957519,2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
94,9961728,2,1.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,both
95,9984706,1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both
96,9988820,2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both

In [4]:
all_subjects_sq03 = pd.read_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ03_63/Whole_Knee_Approach/moaks_sq03_all_info.csv',index_col=0)
new_names = [(i,i+'_03') for i in all_subjects_sq03.iloc[:, 2:].columns.values]
all_subjects_sq03.rename(columns = dict(new_names), inplace=True)
all_subjects_sq03

,ID,SIDE,XR_Osteophytes_03,FullTCL_03,AnyTCL_03,PartialTCL_03,BML_03,Meniscus_Degradation_03,Osteo_AND_FullTCL_03,Osteo_AND_PartialTCL_AND_BML_03,Osteo_AND_PartialTCL_AND_Meniscus_Degradation_03,Osteo_AND_BML_AND_Meniscus_Degradation_03,FullTCL_AND_BML_AND_Meniscus_Degradation_03,moaks_OA_03,V03XRKL_03,_merge_03
0,9031930,1,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,3.0,both
1,9039627,1,1.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,both
2,9055038,1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both
3,9056978,1,1.0,0.0,1.0,1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,both
4,9057479,1,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
5,9057479,2,1.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,both
6,9064631,2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
7,9081858,2,1.0,1.0,1.0,0.0,1.0,-1.0,1.0,0.0,0.0,0.0,-1.0,1.0,2.0,both
8,9082137,1,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
9,9086407,1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both
10,9101076,2,1.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,both
11,9120059,2,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both
12,9135902,1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,3.0,both
13,9135902,2,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,3.0,both
14,9173950,2,1.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,both
15,9179001,1,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
16,9205505,2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
17,9223285,1,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,both
18,9255715,1,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,3.0,both
19,9281052,2,1.0,0.0,1.0,1.0,-1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
20,9281187,1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both
21,9297957,1,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
22,9305065,1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both
23,9331465,2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,3.0,both
24,9381777,1,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
25,9395235,2,0.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,both
26,9446305,2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
27,9467722,2,1.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,both
28,9486748,2,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both
29,9559476,1,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
30,9615754,2,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both
31,9624154,1,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,2.0,both
32,9658152,1,1.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,both
33,9662112,1,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,both
34,9702463,2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
35,9727207,2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
36,9743560,2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
37,9764947,2,1.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,both
38,9792833,2,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both
39,9824005,1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,3.0,both
40,9824274,1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both
41,9850238,1,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,4.0,both
42,9878804,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,both
43,9885702,1,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
44,9900668,2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
45,9927318,1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both
46,9928319,1,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,2.0,both
47,9973199,2,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both
48,9975778,2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both
49,9988421,1,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,both

In [5]:
all_0001 = pd.merge(all_subjects_sq00,all_subjects_sq01,on=['ID','SIDE'],how='outer',indicator=True,suffixes=('_00','_01'))
cat_columns = all_0001.select_dtypes(['category']).columns
all_0001[cat_columns]=all_0001[cat_columns].apply(lambda x: x.cat.codes)
all_0001.rename(columns={'_merge': '_merge_0001'},inplace=True)
# print(all_0001['_merge_0001'].value_counts())
all_0001

,ID,SIDE,XR_Osteophytes_00,FullTCL_00,AnyTCL_00,PartialTCL_00,BML_00,Meniscus_Degradation_00,Osteo_AND_FullTCL_00,Osteo_AND_PartialTCL_AND_BML_00,...,Meniscus_Degradation_01,Osteo_AND_FullTCL_01,Osteo_AND_PartialTCL_AND_BML_01,Osteo_AND_PartialTCL_AND_Meniscus_Degradation_01,Osteo_AND_BML_AND_Meniscus_Degradation_01,FullTCL_AND_BML_AND_Meniscus_Degradation_01,moaks_OA_01,V01XRKL_01,_merge_01,_merge_0001
0,9005413,2,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,9008934,1,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,9010308,1,0.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,9012435,2,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,9014797,1,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,9943227,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both,1
451,9957519,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both,1
452,9961728,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,both,1
453,9984706,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both,1
454,9988820,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both,1

In [37]:
aaa = all_0001.loc[:,['ID','SIDE','_merge_00','_merge_01']]
aaa._merge_00.value_counts()

both    358
Name: _merge_00, dtype: int64

In [6]:
all_0003 = pd.merge(all_subjects_sq00,all_subjects_sq03,on=['ID','SIDE'],how='outer',indicator=True,suffixes=('_00','_03'))
cat_columns = all_0003.select_dtypes(['category']).columns
all_0003[cat_columns]=all_0003[cat_columns].apply(lambda x: x.cat.codes)
all_0003.rename(columns={'_merge': '_merge_0003'},inplace=True)
# print(all_0003['_merge_0003'].value_counts())
all_0003

,ID,SIDE,XR_Osteophytes_00,FullTCL_00,AnyTCL_00,PartialTCL_00,BML_00,Meniscus_Degradation_00,Osteo_AND_FullTCL_00,Osteo_AND_PartialTCL_AND_BML_00,...,Meniscus_Degradation_03,Osteo_AND_FullTCL_03,Osteo_AND_PartialTCL_AND_BML_03,Osteo_AND_PartialTCL_AND_Meniscus_Degradation_03,Osteo_AND_BML_AND_Meniscus_Degradation_03,FullTCL_AND_BML_AND_Meniscus_Degradation_03,moaks_OA_03,V03XRKL_03,_merge_03,_merge_0003
0,9005413,2,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,9008934,1,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,9010308,1,0.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,9012435,2,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,9014797,1,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,9927318,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both,1
404,9928319,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,1.0,1.0,1.0,2.0,both,1
405,9973199,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,both,1
406,9975778,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,both,1
407,9988421,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,both,1

In [7]:
all_subjects_df = [all_subjects_sq00,all_subjects_sq01,all_subjects_sq03]
all_subjects_in_all_follow_ups =  pd.DataFrame(reduce(lambda right, left: pd.merge(right,left,on = ['ID','SIDE'],how='outer'),all_subjects_df))
print(all_subjects_in_all_follow_ups.info())
# print(all_subjects_in_all_follow_ups.columns.to_list())
# print(all_subjects_in_all_follow_ups.isna().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 505 entries, 0 to 504
Data columns (total 44 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   ID                                                505 non-null    int64
 1   SIDE                                              505 non-null    int64
 2   XR_Osteophytes_00                                 358 non-null    float64
 3   FullTCL_00                                        358 non-null    float64
 4   AnyTCL_00                                         358 non-null    float64
 5   PartialTCL_00                                     358 non-null    float64
 6   BML_00                                            358 non-null    float64
 7   Meniscus_Degradation_00                           358 non-null    float64
 8   Osteo_AND_FullTCL_00                              358 non-null    float64
 9   Osteo_AND_PartialTCL_AND_BML_00                   358 non-null    float64
 10  Osteo_AND_PartialTCL_AND_Meniscus_Degradation_00  358 non-null    float64
 11  Osteo_AND_BML_AND_Meniscus_Degradation_00         358 non-null    float64
 12  FullTCL_AND_BML_AND_Meniscus_Degradation_00       358 non-null    float64
 13  moaks_OA_00                                       358 non-null    float64
 14  V00XRKL_00                                        358 non-null    float64
 15  _merge_00                                         358 non-null    object
 16  XR_Osteophytes_01                                 97 non-null     float64
 17  FullTCL_01                                        97 non-null     float64
 18  AnyTCL_01                                         97 non-null     float64
 19  PartialTCL_01                                     97 non-null     float64
 20  BML_01                                            97 non-null     float64
 21  Meniscus_Degradation_01                           97 non-null     float64
 22  Osteo_AND_FullTCL_01                              97 non-null     float64
 23  Osteo_AND_PartialTCL_AND_BML_01                   97 non-null     float64
 24  Osteo_AND_PartialTCL_AND_Meniscus_Degradation_01  97 non-null     float64
 25  Osteo_AND_BML_AND_Meniscus_Degradation_01         97 non-null     float64
 26  FullTCL_AND_BML_AND_Meniscus_Degradation_01       97 non-null     float64
 27  moaks_OA_01                                       97 non-null     float64
 28  V01XRKL_01                                        97 non-null     float64
 29  _merge_01                                         97 non-null     object
 30  XR_Osteophytes_03                                 50 non-null     float64
 31  FullTCL_03                                        50 non-null     float64
 32  AnyTCL_03                                         50 non-null     float64
 33  PartialTCL_03                                     50 non-null     float64
 34  BML_03                                            50 non-null     float64
 35  Meniscus_Degradation_03                           50 non-null     float64
 36  Osteo_AND_FullTCL_03                              50 non-null     float64
 37  Osteo_AND_PartialTCL_AND_BML_03                   50 non-null     float64
 38  Osteo_AND_PartialTCL_AND_Meniscus_Degradation_03  50 non-null     float64
 39  Osteo_AND_BML_AND_Meniscus_Degradation_03         50 non-null     float64
 40  FullTCL_AND_BML_AND_Meniscus_Degradation_03       50 non-null     float64
 41  moaks_OA_03                                       50 non-null     float64
 42  V03XRKL_03                                        50 non-null     float64
 43  _merge_03                                         50 non-null     object
dtypes: float64(39), int64(2), object(3)
memory usage: 177.5+ KB
None

In [8]:
all_subjects_in_all_follow_ups.fillna(-1.0,inplace=True)
all_subjects_in_all_follow_ups.to_csv('all_subjects_sq00_01_03.csv',index=False)

In [9]:
all_moaks_zero_sq00_01 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.moaks_OA_00==0.0) 
                                    & (all_subjects_in_all_follow_ups.moaks_OA_01==0.0)),
                                    ['ID','SIDE','moaks_OA_00','V00XRKL_00','moaks_OA_01','V01XRKL_01']]


all_moaks_zero_sq00_01_03 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.moaks_OA_00==0.0) 
                                    & (all_subjects_in_all_follow_ups.moaks_OA_01==0.0) & 
                                    (all_subjects_in_all_follow_ups.moaks_OA_03==0.0)),
                                    ['ID','SIDE','moaks_OA_00','V00XRKL_00','moaks_OA_01','V01XRKL_01','moaks_OA_03','V03XRKL_03']]

In [31]:
all_subjects_in_all_follow_ups.loc[:,['ID','SIDE','moaks_OA_00','moaks_OA_01']]

          ID  SIDE  moaks_OA_00  moaks_OA_01
0    9005413     2          0.0         -1.0
1    9008934     1          0.0         -1.0
2    9010308     1          0.0         -1.0
3    9012435     2          0.0         -1.0
4    9014797     1          1.0         -1.0
..       ...   ...          ...          ...
500  9927318     1         -1.0         -1.0
501  9928319     1         -1.0         -1.0
502  9973199     2         -1.0         -1.0
503  9975778     2         -1.0         -1.0
504  9988421     1         -1.0         -1.0

[505 rows x 4 columns]

In [30]:
print('Number of subject that remained ZERO moaks in SQ00 and SQ01: {}'.format(len(all_moaks_zero_sq00_01)))
print('Number of subject that remained ZERO moaks in SQ00 and SQ01 and SQ03: {}'.format(len(all_moaks_zero_sq00_01_03)))

Number of subject that remained ZERO moaks in SQ00 and SQ01: 0
Number of subject that remained ZERO moaks in SQ00 and SQ01 and SQ03: 0

In [11]:
all_moaks_zero_sq00_01.to_csv('moaks_sq00_01_that_remain_zero.csv',index=False)
all_moaks_zero_sq00_01_03.to_csv('moaks_sq00_01_03_that_remain_zero.csv',index=False)

In [12]:
all_moaks_one_sq00_01 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.moaks_OA_00==1.0) 
                                    & (all_subjects_in_all_follow_ups.moaks_OA_01==1.0)),
                                    ['ID','SIDE','moaks_OA_00','V00XRKL_00','moaks_OA_01','V01XRKL_01']]


all_moaks_one_sq00_01_03 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.moaks_OA_00==1.0) 
                                    & (all_subjects_in_all_follow_ups.moaks_OA_01==1.0) & 
                                    (all_subjects_in_all_follow_ups.moaks_OA_03==1.0)),
                                    ['ID','SIDE','moaks_OA_00','V00XRKL_00','moaks_OA_01','V01XRKL_01','moaks_OA_03','V03XRKL_03']]

In [13]:
print('Number of subject that remained ONE moaks in SQ00 and SQ01: {}'.format(len(all_moaks_one_sq00_01)))
print('Number of subject that remained ONE moaks in SQ00 and SQ01 and SQ03: {}'.format(len(all_moaks_one_sq00_01_03)))

Number of subject that remained ONE moaks in SQ00 and SQ01: 0
Number of subject that remained ONE moaks in SQ00 and SQ01 and SQ03: 0

In [14]:
all_moaks_one_sq00_01.to_csv('moaks_sq00_01_that_remain_one.csv',index=False)
all_moaks_one_sq00_01_03.to_csv('moaks_sq00_01_03_that_remain_one.csv',index=False)

In [15]:
all_moaks_zero_sq00_one_01 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.moaks_OA_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.moaks_OA_01 == 1.0)),
                                    ['ID','SIDE','moaks_OA_00','V00XRKL_00','moaks_OA_01','V01XRKL_01']]

all_moaks_zero_sq00_01_one_03 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.moaks_OA_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.moaks_OA_01 == 0.0) & 
                                    (all_subjects_in_all_follow_ups.moaks_OA_03 == 1.0)),
                                    ['ID','SIDE','moaks_OA_00','V00XRKL_00','moaks_OA_01','V01XRKL_01','moaks_OA_03','V03XRKL_03']]

In [16]:
print('Number of subject with ZERO moaks in SQ00 but ONE moaks in SQ01: {}'.format(len(all_moaks_zero_sq00_one_01)))
print('Number of subject with ZERO moaks in SQ00 and SQ01 but ONE moaks SQ03: {}'.format(len(all_moaks_zero_sq00_01_one_03)))

Number of subject with ZERO moaks in SQ00 but ONE moaks in SQ01: 0
Number of subject with ZERO moaks in SQ00 and SQ01 but ONE moaks SQ03: 0

In [17]:
all_moaks_zero_sq00_one_01.to_csv('moaks_sq00_01_zero_sq00_one_sq01.csv',index=False)
all_moaks_zero_sq00_01_one_03.to_csv('moaks_sq00_01_03_zero_sq00_01_one_sq03.csv',index=False)

# NOW WE IDENTIFY THE INDIVIDUAL OA FEATURES THAT PROGRESSED OR REMAINED ZERO BETWEEN THE TIME-POINTS OF THE STUDY

In [18]:
# NOW WE SAVE THE INCIDENT OA BASED ON EACH FEATURE SEPARATELY

all_moaks_BML_zero_sq00_one_01 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.BML_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.BML_01 == 1.0)),
                                    ['ID','SIDE','BML_00','moaks_OA_00','V00XRKL_00','BML_01','moaks_OA_01','V01XRKL_01']]
print('Number of subjects that progressed based on BML grade between SQ00 and SQ01: {}'.format(all_moaks_BML_zero_sq00_one_01.shape[0]))                                
all_moaks_BML_zero_sq00_one_01.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_BML_zero00_one01.csv',index=False)

all_moaks_BML_zero_sq00_01_one_03 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.BML_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.BML_01 == 0.0) & 
                                    (all_subjects_in_all_follow_ups.BML_03 == 1.0)),
                                    ['ID','SIDE','BML_00','moaks_OA_00','V00XRKL_00','BML_01','moaks_OA_01','V01XRKL_01','BML_03','moaks_OA_03','V03XRKL_03']]
print('Number of subjects that progressed based on BML grade between SQ01 and SQ03: {}'.format(all_moaks_BML_zero_sq00_01_one_03.shape[0]))                                
all_moaks_BML_zero_sq00_01_one_03.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_03_BML_zero0001_one03.csv',index=False)

Number of subjects that progressed based on BML grade between SQ00 and SQ01: 0
Number of subjects that progressed based on BML grade between SQ01 and SQ03: 0

In [19]:
all_moaks_BML_zero_sq00_01 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.BML_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.BML_01==0.0)),
                                    ['ID','SIDE','BML_00','moaks_OA_00','V00XRKL_00','BML_01','moaks_OA_01','V01XRKL_01']]
print('Number of subjects with BML zero at SQ00 and SQ01 is : {}'.format(all_moaks_BML_zero_sq00_01.shape[0]))
all_moaks_BML_zero_sq00_01.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_BML_zero0001.csv',index=False)

all_moaks_BML_zero_sq00_01_03 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.BML_00==0.0) 
                                    & (all_subjects_in_all_follow_ups.BML_01==0.0) & 
                                    (all_subjects_in_all_follow_ups.BML_03==0.0)),
                                    ['ID','SIDE','BML_00','moaks_OA_00','V00XRKL_00','BML_01','moaks_OA_01','V01XRKL_01',
                                    'BML_03','moaks_OA_03','V03XRKL_03']]
print('Number of subjects with BML zero at SQ00, SQ01 and SQ03 is : {}'.format(all_moaks_BML_zero_sq00_01_03.shape[0]))
all_moaks_BML_zero_sq00_01_03.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_03_BML_zero000103.csv',index=False)

Number of subjects with BML zero at SQ00 and SQ01 is : 0
Number of subjects with BML zero at SQ00, SQ01 and SQ03 is : 0

In [20]:
print(all_subjects_in_all_follow_ups.columns.to_list())

['ID', 'SIDE', 'XR_Osteophytes_00', 'FullTCL_00', 'AnyTCL_00', 'PartialTCL_00', 'BML_00', 'Meniscus_Degradation_00', 'Osteo_AND_FullTCL_00', 'Osteo_AND_PartialTCL_AND_BML_00', 'Osteo_AND_PartialTCL_AND_Meniscus_Degradation_00', 'Osteo_AND_BML_AND_Meniscus_Degradation_00', 'FullTCL_AND_BML_AND_Meniscus_Degradation_00', 'moaks_OA_00', 'V00XRKL_00', '_merge_00', 'XR_Osteophytes_01', 'FullTCL_01', 'AnyTCL_01', 'PartialTCL_01', 'BML_01', 'Meniscus_Degradation_01', 'Osteo_AND_FullTCL_01', 'Osteo_AND_PartialTCL_AND_BML_01', 'Osteo_AND_PartialTCL_AND_Meniscus_Degradation_01', 'Osteo_AND_BML_AND_Meniscus_Degradation_01', 'FullTCL_AND_BML_AND_Meniscus_Degradation_01', 'moaks_OA_01', 'V01XRKL_01', '_merge_01', 'XR_Osteophytes_03', 'FullTCL_03', 'AnyTCL_03', 'PartialTCL_03', 'BML_03', 'Meniscus_Degradation_03', 'Osteo_AND_FullTCL_03', 'Osteo_AND_PartialTCL_AND_BML_03', 'Osteo_AND_PartialTCL_AND_Meniscus_Degradation_03', 'Osteo_AND_BML_AND_Meniscus_Degradation_03', 'FullTCL_AND_BML_AND_Meniscus_Degradation_03', 'moaks_OA_03', 'V03XRKL_03', '_merge_03']

In [21]:
# NOW WE SAVE THE INCIDENT OA BASED ON EACH FEATURE SEPARATELY

all_moaks_AnyTCL_zero_sq00_one_01 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.AnyTCL_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.AnyTCL_01 == 1.0)),
                                    ['ID','SIDE','AnyTCL_00','moaks_OA_00','V00XRKL_00','AnyTCL_01','moaks_OA_01','V01XRKL_01']]
print('Number of subjects that progressed based on AnyTCL grade between SQ00 and SQ01: {}'.format(all_moaks_AnyTCL_zero_sq00_one_01.shape[0]))                                
all_moaks_AnyTCL_zero_sq00_one_01.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_AnyTCL_zero00_one01.csv',index=False)

all_moaks_AnyTCL_zero_sq00_01_one_03 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.AnyTCL_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.AnyTCL_01 == 0.0) & 
                                    (all_subjects_in_all_follow_ups.AnyTCL_03 == 1.0)),
                                    ['ID','SIDE','AnyTCL_00','moaks_OA_00','V00XRKL_00','AnyTCL_01','moaks_OA_01','V01XRKL_01','AnyTCL_03','moaks_OA_03','V03XRKL_03']]
print('Number of subjects that progressed based on AnyTCL grade between SQ01 and SQ03: {}'.format(all_moaks_AnyTCL_zero_sq00_01_one_03.shape[0]))                                
all_moaks_AnyTCL_zero_sq00_01_one_03.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_03_AnyTCL_zero0001_one03.csv',index=False)

Number of subjects that progressed based on AnyTCL grade between SQ00 and SQ01: 0
Number of subjects that progressed based on AnyTCL grade between SQ01 and SQ03: 0

In [22]:
# NOW WE SAVE THE INCIDENT OA BASED ON EACH FEATURE SEPARATELY

all_moaks_AnyTCL_zero_sq0001 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.AnyTCL_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.AnyTCL_01 == 0.0)),
                                    ['ID','SIDE','AnyTCL_00','moaks_OA_00','V00XRKL_00','AnyTCL_01','moaks_OA_01','V01XRKL_01']]
print('Number of subjects that STAYED ZERO based on AnyTCL grade between SQ00 and SQ01: {}'.format(all_moaks_AnyTCL_zero_sq0001.shape[0]))                                
all_moaks_AnyTCL_zero_sq0001.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_AnyTCL_zero0001.csv',index=False)

all_moaks_AnyTCL_zero_sq000103 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.AnyTCL_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.AnyTCL_01 == 0.0) & 
                                    (all_subjects_in_all_follow_ups.AnyTCL_03 == 0.0)),
                                    ['ID','SIDE','AnyTCL_00','moaks_OA_00','V00XRKL_00','AnyTCL_01','moaks_OA_01','V01XRKL_01','AnyTCL_03','moaks_OA_03','V03XRKL_03']]
print('Number of subjects that STAYED ZERO based on AnyTCL grade between SQ01 and SQ03: {}'.format(all_moaks_AnyTCL_zero_sq000103.shape[0]))                                
all_moaks_AnyTCL_zero_sq000103.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_03_AnyTCL_zero000103.csv',index=False)

Number of subjects that STAYED ZERO based on AnyTCL grade between SQ00 and SQ01: 0
Number of subjects that STAYED ZERO based on AnyTCL grade between SQ01 and SQ03: 0

In [23]:
# NOW WE SAVE THE INCIDENT OA BASED ON EACH FEATURE SEPARATELY

all_moaks_PartialTCL_zero_sq00_one_01 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.PartialTCL_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.PartialTCL_01 == 1.0)),
                                    ['ID','SIDE','PartialTCL_00','moaks_OA_00','V00XRKL_00','PartialTCL_01','moaks_OA_01','V01XRKL_01']]
print('Number of subjects that progressed based on PartialTCL grade between SQ00 and SQ01: {}'.format(all_moaks_PartialTCL_zero_sq00_one_01.shape[0]))                                
all_moaks_PartialTCL_zero_sq00_one_01.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_PartialTCL_zero00_one01.csv',index=False)

all_moaks_PartialTCL_zero_sq00_01_one_03 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.PartialTCL_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.PartialTCL_01 == 0.0) & 
                                    (all_subjects_in_all_follow_ups.PartialTCL_03 == 1.0)),
                                    ['ID','SIDE','PartialTCL_00','moaks_OA_00','V00XRKL_00','PartialTCL_01','moaks_OA_01','V01XRKL_01','PartialTCL_03','moaks_OA_03','V03XRKL_03']]
print('Number of subjects that progressed based on PartialTCL grade between SQ01 and SQ03: {}'.format(all_moaks_PartialTCL_zero_sq00_01_one_03.shape[0]))                                
all_moaks_PartialTCL_zero_sq00_01_one_03.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_03_PartialTCL_zero0001_one03.csv',index=False)

Number of subjects that progressed based on PartialTCL grade between SQ00 and SQ01: 0
Number of subjects that progressed based on PartialTCL grade between SQ01 and SQ03: 0

In [24]:
# NOW WE SAVE THE INCIDENT OA BASED ON EACH FEATURE SEPARATELY

all_moaks_PartialTCL_zero_sq0001 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.PartialTCL_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.PartialTCL_01 == 0.0)),
                                    ['ID','SIDE','PartialTCL_00','moaks_OA_00','V00XRKL_00','PartialTCL_01','moaks_OA_01','V01XRKL_01']]
print('Number of subjects that STAYED ZERO based on PartialTCL grade between SQ00 and SQ01: {}'.format(all_moaks_PartialTCL_zero_sq0001.shape[0]))                                
all_moaks_PartialTCL_zero_sq0001.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_PartialTCL_zero0001.csv',index=False)

all_moaks_PartialTCL_zero_sq000103 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.PartialTCL_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.PartialTCL_01 == 0.0) & 
                                    (all_subjects_in_all_follow_ups.PartialTCL_03 == 0.0)),
                                    ['ID','SIDE','PartialTCL_00','moaks_OA_00','V00XRKL_00','PartialTCL_01','moaks_OA_01','V01XRKL_01','PartialTCL_03','moaks_OA_03','V03XRKL_03']]
print('Number of subjects that STAYED ZERO based on PartialTCL grade between SQ01 and SQ03: {}'.format(all_moaks_PartialTCL_zero_sq000103.shape[0]))                                
all_moaks_PartialTCL_zero_sq000103.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_03_PartialTCL_zero000103.csv',index=False)

Number of subjects that STAYED ZERO based on PartialTCL grade between SQ00 and SQ01: 0
Number of subjects that STAYED ZERO based on PartialTCL grade between SQ01 and SQ03: 0

In [25]:
# NOW WE SAVE THE INCIDENT OA BASED ON EACH FEATURE SEPARATELY

all_moaks_FullTCL_zero_sq00_one_01 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.FullTCL_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.FullTCL_01 == 1.0)),
                                    ['ID','SIDE','FullTCL_00','moaks_OA_00','V00XRKL_00','FullTCL_01','moaks_OA_01','V01XRKL_01']]
print('Number of subjects that progressed based on FullTCL grade between SQ00 and SQ01: {}'.format(all_moaks_FullTCL_zero_sq00_one_01.shape[0]))                                
all_moaks_FullTCL_zero_sq00_one_01.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_FullTCL_zero00_one01.csv',index=False)

all_moaks_FullTCL_zero_sq00_01_one_03 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.FullTCL_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.FullTCL_01 == 0.0) & 
                                    (all_subjects_in_all_follow_ups.FullTCL_03 == 1.0)),
                                    ['ID','SIDE','FullTCL_00','moaks_OA_00','V00XRKL_00','FullTCL_01','moaks_OA_01','V01XRKL_01','FullTCL_03','moaks_OA_03','V03XRKL_03']]
print('Number of subjects that progressed based on FullTCL grade between SQ01 and SQ03: {}'.format(all_moaks_FullTCL_zero_sq00_01_one_03.shape[0]))                                
all_moaks_FullTCL_zero_sq00_01_one_03.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_03_FullTCL_zero0001_one03.csv',index=False)

Number of subjects that progressed based on FullTCL grade between SQ00 and SQ01: 0
Number of subjects that progressed based on FullTCL grade between SQ01 and SQ03: 0

In [26]:
# NOW WE SAVE THE INCIDENT OA BASED ON EACH FEATURE SEPARATELY

all_moaks_FullTCL_zero_sq0001 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.FullTCL_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.FullTCL_01 == 0.0)),
                                    ['ID','SIDE','FullTCL_00','moaks_OA_00','V00XRKL_00','FullTCL_01','moaks_OA_01','V01XRKL_01']]
print('Number of subjects that STAYED ZERO based on FullTCL grade between SQ00 and SQ01: {}'.format(all_moaks_FullTCL_zero_sq0001.shape[0]))                                
all_moaks_FullTCL_zero_sq0001.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_FullTCL_zero0001.csv',index=False)

all_moaks_FullTCL_zero_sq000103 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.FullTCL_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.FullTCL_01 == 0.0) & 
                                    (all_subjects_in_all_follow_ups.FullTCL_03 == 0.0)),
                                    ['ID','SIDE','FullTCL_00','moaks_OA_00','V00XRKL_00','FullTCL_01','moaks_OA_01','V01XRKL_01','FullTCL_03','moaks_OA_03','V03XRKL_03']]
print('Number of subjects that STAYED ZERO based on FullTCL grade between SQ01 and SQ03: {}'.format(all_moaks_FullTCL_zero_sq000103.shape[0]))                                
all_moaks_FullTCL_zero_sq000103.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_03_FullTCL_zero000103.csv',index=False)

Number of subjects that STAYED ZERO based on FullTCL grade between SQ00 and SQ01: 0
Number of subjects that STAYED ZERO based on FullTCL grade between SQ01 and SQ03: 0

In [27]:
# NOW WE SAVE THE INCIDENT OA BASED ON EACH FEATURE SEPARATELY

all_moaks_Meniscus_zero_sq00_one_01 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.Meniscus_Degradation_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.Meniscus_Degradation_01 == 1.0)),
                                    ['ID','SIDE','Meniscus_Degradation_00','moaks_OA_00','V00XRKL_00','Meniscus_Degradation_01','moaks_OA_01','V01XRKL_01']]
print('Number of subjects that progressed based on Meniscus_Degradation grade between SQ00 and SQ01: {}'.format(all_moaks_Meniscus_zero_sq00_one_01.shape[0]))                                
all_moaks_Meniscus_zero_sq00_one_01.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_Meniscus_zero00_one01.csv',index=False)

all_moaks_Meniscus_zero_sq00_01_one_03 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.Meniscus_Degradation_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.Meniscus_Degradation_01 == 0.0) & 
                                    (all_subjects_in_all_follow_ups.Meniscus_Degradation_03 == 1.0)),
                                    ['ID','SIDE','Meniscus_Degradation_00','moaks_OA_00','V00XRKL_00','Meniscus_Degradation_01','moaks_OA_01','V01XRKL_01'
                                    ,'Meniscus_Degradation_03','moaks_OA_03','V03XRKL_03']]
print('Number of subjects that progressed based on Meniscus_Degradation grade between SQ01 and SQ03: {}'.format(all_moaks_Meniscus_zero_sq00_01_one_03.shape[0]))                                
all_moaks_Meniscus_zero_sq00_01_one_03.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_03_Meniscus_zero0001_one03.csv',index=False)

Number of subjects that progressed based on Meniscus_Degradation grade between SQ00 and SQ01: 0
Number of subjects that progressed based on Meniscus_Degradation grade between SQ01 and SQ03: 0

In [28]:
all_moaks_meniscus_zero_sq00_01 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.Meniscus_Degradation_00 == 0.0) 
                                    & (all_subjects_in_all_follow_ups.Meniscus_Degradation_01==0.0)),
                                    ['ID','SIDE','Meniscus_Degradation_00','moaks_OA_00','V00XRKL_00','Meniscus_Degradation_01','moaks_OA_01','V01XRKL_01']]
print('Number of subjects with Meniscus Degradation zero at SQ00 and SQ01 is : {}'.format(all_moaks_meniscus_zero_sq00_01.shape[0]))
all_moaks_meniscus_zero_sq00_01.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_Meniscus_zero0001.csv',index=False)

all_moaks_meniscus_zero_sq00_01_03 = all_subjects_in_all_follow_ups.loc[((all_subjects_in_all_follow_ups.Meniscus_Degradation_00==0.0) 
                                    & (all_subjects_in_all_follow_ups.Meniscus_Degradation_01==0.0) & 
                                    (all_subjects_in_all_follow_ups.Meniscus_Degradation_03==0.0)),
                                    ['ID','SIDE','Meniscus_Degradation_00','moaks_OA_00','V00XRKL_00','Meniscus_Degradation_01','moaks_OA_01','V01XRKL_01',
                                    'Meniscus_Degradation_03','moaks_OA_03','V03XRKL_03']]
print('Number of subjects with Meniscus Degradation zero at SQ00, SQ01 and SQ03 is : {}'.format(all_moaks_meniscus_zero_sq00_01_03.shape[0]))
all_moaks_meniscus_zero_sq00_01_03.to_csv('/home/anastasis/EMC_Thesis/My_codes/MOAKS_XR_OSTEO/MOAKS_SQ_Compare_63/MOAKS_features_progression/moaks_sq00_01_03_Meniscus_zero000103.csv',index=False)

Number of subjects with Meniscus Degradation zero at SQ00 and SQ01 is : 0
Number of subjects with Meniscus Degradation zero at SQ00, SQ01 and SQ03 is : 0